@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=IM+Fell+English:ital@0;1&display=swap');
@import url('https://fonts.cdnfonts.com/css/melostar');

:root {
    --sin3-txt: #6c4119;
    --sin3-bg: #e7d1b9;
    --sin3-bg2: #c7a577;

    --sin3-pic: #808080;
    --sin3-pos: center;
    --sin3-size: cover;
}

#SevenSin3 { position: relative; }
#SevenSin3 * { box-sizing: border-box; }

#SevenSin3 a[href="https://discord.com/users/625292873914515456/"] {
    width: 100px;
    height: 12px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#SevenSin3 a[href="https://discord.com/users/625292873914515456/"] ~ div:first-child { position: relative; }
  
#SevenSin3::after {
    content: "7 sins";
    font-family: 'IM Fell English', sans-serif;
    font-size: 0.85rem;
    line-height: 1;
    color: #fff !important;
    opacity: 0.3;
    text-align: end;
    display: block;
    margin: auto;
    width: max-content;
    margin-top: 4px;
}
  
#SevenSin3:hover::after { content: "made by zzzcode"; }

#SevenSin3:has(#sin3-player) {
    width: 650px;
    max-width: 100%;
    margin: auto;

    a[href="https://discord.com/users/625292873914515456/"] {
        bottom: 2.5rem;
        right: 1rem;
        left: unset;
        transform: unset;
    }

    &::after {
        position: absolute;
        bottom: 2.5rem;
        right: 1rem;
    }
}

#SevenSin3:has(#sin3-banner) {
    width: 500px;
    max-width: 100%;
    margin: auto;

    a[href="https://discord.com/users/625292873914515456/"] {
        height: 8px;
        bottom: 4px;
        right: 4px;
        left: unset;
        transform: unset;
    }

    &::after {
        position: absolute;
        right: 4px;
        bottom: 4px;
        font-size: 8px;
    }  
}

#SevenSin3 {
    #sin3-player.sin3-box {
        position: relative;
        width: 650px;
        max-width: 100%;
        margin: auto;
        color: var(--sin3-txt);

        &[อาชีพ="นักดาบ"] {
            --sin3-primary: #db1414;
            --sin3-icon: url(https://iili.io/CIxK41I.png);
            --sin3-class: "นักดาบ";
        }
        &[อาชีพ="นักเวทย์"] {
            --sin3-primary: #7e57c2;
            --sin3-icon: url(https://iili.io/CIxKrqN.png);
            --sin3-class: "นักเวทย์";
        }
        &[อาชีพ="นักธนู"] {
            --sin3-primary: #4caf50;
            --sin3-icon: url(https://iili.io/CIxKUsp.png);
            --sin3-class: "นักธนู";
        }
        &[อาชีพ="นักฆ่า"] {
            --sin3-primary: #808080;
            --sin3-icon: url(https://iili.io/CIxKSXR.png);
            --sin3-class: "นักฆ่า";
        }
        &[อาชีพ="นักบวช"] {
            --sin3-primary: #e91e63;
            --sin3-icon: url(https://iili.io/CIxgrnp.png);
            --sin3-class: "นักบวช";
        }

        &::before {
            content: "";
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            right: 0;
            aspect-ratio: 944/433;
            background: url(https://iili.io/CxRNX94.png) center/contain no-repeat;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            pointer-events: none;
        }

        &::after {
            content: "";
            position: absolute;
            z-index: 0;
            bottom: 0;
            left: 0;
            right: 0;
            aspect-ratio: 944/512;
            background: url(https://iili.io/CzeMiZX.png) center/contain no-repeat;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            pointer-events: none;
        }

        .sin3-body {
            position: relative;
            width: 94.06779661%;
            margin: auto;
            padding-block: clamp(3.5rem, 4.2vw, 4rem) clamp(7.25rem, 8.7vw, 8.25rem);
            display: flex;
            flex-direction: column;

            &::before {
                content: "";
                position: absolute;
                z-index: 1;
                inset: 0;
                background: linear-gradient(90deg, var(--sin3-bg2), var(--sin3-bg) 10% 90%, var(--sin3-bg2)) content-box;
                padding-block: clamp(210px, 16vw, 230px) clamp(265px, 22vw, 290px);
                mask: linear-gradient(transparent 15rem, black 16rem calc(100% - 20rem), transparent calc(100% - 19rem));
                -webkit-mask: linear-gradient(transparent 15rem, black 16rem calc(100% - 20rem), transparent calc(100% - 19rem));
                
                user-select: none;
                -moz-user-select: none;
                -webkit-user-select: none;
                pointer-events: none;
            }

            hr.sin3-line {
                position: relative;
                z-index: 1;

                width: 102%;
                height: 28px;
                padding-inline: 3%;
                background: url(https://iili.io/CxAhshF.png) left center/contain round content-box;
                transform: translateX(-1%);
                margin: 0;
                mix-blend-mode: multiply;
                opacity: 7%;

                &::before, &::after {
                    content: "";
                    position: absolute;
                    width: 4%;
                    top: 0;
                    bottom: 0;
                    background: url(https://iili.io/CxAhr7V.png) left center/cover no-repeat;
                }

                &::before { left: 0; }
                &::after { right: 0; }
            }

            .sin3-head-set {
                display: flex;
                flex-direction: column;

                .sin3-head {
                    flex: 1;
                    display: flex;
                    gap: min(1vw, 1rem);
                    margin-block: -28px;
                    padding-inline: 2rem;

                    .sin3-pic {
                        position: relative;
                        z-index: 1;
                        width: 200px;
                        height: 200px;
                        mix-blend-mode: multiply;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 69%;
                            aspect-ratio: 1;
                            background: var(--sin3-pic) var(--sin3-pos) / var(--sin3-size) no-repeat;
                            mask: url(https://iili.io/CxEAnou.png) center / contain no-repeat;
                            -webkit-mask: url(https://iili.io/CxEAnou.png) center / contain no-repeat;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            inset: 0;
                            background: url(https://iili.io/CxAhiI1.png) center/contain no-repeat;
                        }
                    }

                    .sin3-info {
                        flex: 1;
                        font-family: 'Bai Jamjuree', sans-serif;
                        text-align: center;

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        h1 {
                            margin: 0;
                            font-family: 'Melostar', sans-serif;
                            font-size: 3rem;
                            font-weight: normal;
                            line-height: 1;

                            & + br { display: none; }
                        }

                        p {
                            margin: 0;
                            font-family: 'IM Fell English', sans-serif;
                            font-weight: bold;
                            line-height: 1;
                            text-transform: uppercase;
                        }

                        .sin3-class {
                            display: flex;
                            gap: min(1vw, 1rem);
                            justify-content: center;
                            font-size: 0.75rem;
                            margin-block: 0.5rem -1rem;

                            c { display: block; }

                            c::before {
                                content: "";
                                display: inline-block;
                                width: 0.8rem;
                                height: 0.8rem;
                                margin-right: 0.25rem;
                                background: var(--sin3-icon) center/contain no-repeat;
                                margin-block: 0.15rem -0.15rem;
                            }

                            c:first-of-type::after {
                                content: var(--sin3-class);
                            }
                        }
                    }
                }
            }

            .sin3-content {
                position: relative;
                z-index: 1;
                flex: 1;
                padding: 2rem 3rem;
                font-family: 'Bai Jamjuree', sans-serif;

                hr.mycode_hr {
                    margin-block: 1.5rem;
                    background: var(--sin3-txt);
                    opacity: 30%;
                }

                .sin3-stats {
                    position: relative;
                    z-index: 2;
                    background: var(--sin3-txt);
                    padding: 1rem 1.25rem;
                    margin-top: 0.5rem;
                    color: #fff;
                    font-size: small;
                    box-shadow: 1rem 1rem 2rem 0 #00000040 inset, -1rem -1rem 2rem 0 #00000040 inset;
                    border-radius: 6px;

                    hr.mycode_hr {
                        margin-block: 0.5em;
                        background: #fff;
                        opacity: 0.5;
                    }

                    &#stats {
                        padding-block: 0.5rem;
                        text-align: center;
                    }
                }
            }
        }

        .sin3-ribbon {
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            right: 0;
            aspect-ratio: 944/512;
            background: url(https://iili.io/CzeMPjt.png) center/contain no-repeat;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            pointer-events: none;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                mix-blend-mode: overlay;
                background: var(--sin3-primary);
                mask: url(https://iili.io/CzeMPjt.png) center/contain no-repeat;
            }
        }
    }

    #sin3-staff[role="NPC"] {
        --sin3-bg: #18181b;
        &.sin3-box::before {
            background: url(https://iili.io/CID8jB2.png) top/100% no-repeat, url(https://iili.io/CTHX30P.png) center/100% 100% content-box, url(https://iili.io/CID8XLl.png) bottom/100% no-repeat;
        }

        &.sin3-box h1 {
            background-image: linear-gradient(#ccc 0 15%, #fff, #999 50%, #ccc);
            filter: drop-shadow(0px 0px #fff) drop-shadow(0px 0px #fff) drop-shadow(0px 0px #fff);
            -webkit-filter: drop-shadow(0px 0px #fff) drop-shadow(0px 0px #fff) drop-shadow(0px 0px #fff);
        }

        &.sin3-box .sin3-content hr.mycode_hr {
            background: linear-gradient(90deg, #ccc 0 15%, #fff, #999 50%, #ccc);
        }
    }

    #sin3-staff[role="SIN"] {
        --sin3-bg: #101010;
        &.sin3-box::before {
            background: url(https://iili.io/CTHWdSn.png) top/100% no-repeat, url(https://iili.io/CTHWJcX.png) center/100% 100% content-box, url(https://iili.io/CTHWFAG.png) bottom/100% no-repeat;
        }

        &.sin3-box h1 {
            background-image: linear-gradient(#cfc09f 0 15%, #ffecb3, #917844 50%, #cfc09f);
            filter: drop-shadow(0px 0px #ffecb3) drop-shadow(0px 0px #ffecb3) drop-shadow(0px 0px #ffecb3);
            -webkit-filter: drop-shadow(0px 0px #ffecb3) drop-shadow(0px 0px #ffecb3) drop-shadow(0px 0px #ffecb3);
        }

        &.sin3-box .sin3-content hr.mycode_hr {
            background: linear-gradient(90deg, #cfc09f 0 15%, #ffecb3, #917844 50%, #cfc09f);
        }
    }

    #sin3-staff.sin3-box {
        --sin3-txt: #fff;
        position: relative;
        width: 650px;
        max-width: 100%;
        margin: auto;
        background: var(--sin3-bg);
        color: var(--sin3-txt);
        border-radius: 1rem;
        padding: 1rem;
        font-family: 'Bai Jamjuree', sans-serif;

        &::before {
            content: "";
            position: absolute;
            z-index: 2;
            inset: 1rem;
            padding-block: clamp(191px, 11vw, 206px);
            
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            pointer-events: none;
        }

        .sin3-pic {
            position: relative;
            aspect-ratio: 16/9;
            background: var(--sin3-pic) var(--sin3-pos)/var(--sin3-size) no-repeat;
            border-radius: 1.5rem 1.5rem 0 0;
            mask: url(https://iili.io/CT982MG.png) center/cover no-repeat;
            -webkit-mask: url(https://iili.io/CT982MG.png) center/cover no-repeat;
        }

        h1 {
            position: relative;
            z-index: 2;
            transform: translateY(-50%);
            margin: 0 auto;
            width: fit-content;
            font-family: 'Melostar', sans-serif;
            font-size: 4rem;
            font-weight: normal;
            line-height: 1;
            padding: 5px 6px 13px;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &+br { display: none; }
        }

        .sin3-content {
            position: relative;
            z-index: 2;
            padding: 0 4rem 5rem;

            hr.mycode_hr {
                width: 80%;
                margin-block: min(2.5vw, 2.5rem);
            }

            .sin3-bar {
                display: flex;
                align-items: center;
                margin-top: 1rem;

                &::before {
                    content: "";
                    position: relative;
                    z-index: 1;
                    width: 2rem;
                    height: 2rem;
                    filter: drop-shadow(0 0 10px #000);
                    margin-right: -1rem;
                }

                .bars {
                    position: relative;
                    flex: 1;
                    height: 16px;
                    background: var(--sin3-bar) 0.75rem center/calc(calc(var(--sin3-value)/var(--sin3-max) * 100%) - 0.75rem) 100% no-repeat, url(https://iili.io/CI5RckF.png) center/100% 100% no-repeat;

                    &::before {
                        counter-reset: val var(--sin3-value) max var(--sin3-max);
                        content: counter(val) " / " counter(max);
                        position: absolute;
                        right: 4px;
                        bottom: 0;
                        transform: translateY(100%);
                        font-size: 0.825rem;
                    }
                }
            }

            .sin3-bar[type="HP"] {
                &::before { background: url(https://iili.io/CTdtBl2.png) center/contain no-repeat; }
                --sin3-bar: url(https://iili.io/CI5R1Ia.png);

                &[no-max] .bars::before {
                    counter-reset: val var(--sin3-value);
                    content: counter(val);
                }
            }

            .sin3-bar[type="AC"] {
                &::before { background: url(https://iili.io/CTFwYx9.png) center/contain no-repeat; }
                --sin3-bar: url(https://iili.io/CI5Rlmg.png);
            }
        }
    }

    #sin3-banner.sin3-box {
        position: relative;
        width: 500px;
        height: 100px;
        max-width: 100%;
        margin: auto;
        background: url(https://iili.io/CuAVr9s.png) center/contain no-repeat;
        color: var(--sin3-txt);

        &::before, &::after {
            content: "";
            position: absolute;
            inset: 0;
            mix-blend-mode: multiply;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            pointer-events: none;
        }

        &::before {
            background: url(https://iili.io/CuA8kaR.png) center/contain no-repeat;
            opacity: 20.1%;
        }

        &::after { background: url(https://iili.io/CuAVUSn.png) center/contain no-repeat; }

        .sin3-content {
            position: relative;
            display: flex;
            align-items: center;
            padding-left: 14px;

            .sin3-pic {
                flex-shrink: 0;
                position: relative;
                z-index: 2;
                width: 100px;
                height: 100px;
                margin-right: 8px;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    
                    width: 69%;
                    aspect-ratio: 1;
                    background: var(--sin3-pic) var(--sin3-pos)/var(--sin3-size) no-repeat, url(https://iili.io/CuRcrV1.png) center/contain no-repeat;
                    background-blend-mode: multiply;
                    mask: url(https://iili.io/CuRcrV1.png) center/contain no-repeat;
                    -webkit-mask: url(https://iili.io/CuRcrV1.png) center/contain no-repeat;
                }

                &::after {
                    content: "";
                    position: absolute;
                    inset: 0;
                    background: linear-gradient(var(--sin3-primary) 0 0), url(https://iili.io/CulnhQe.png) center/contain no-repeat;
                    background-blend-mode: overlay;
                    mask: url(https://iili.io/CuRc4iF.png) center/contain no-repeat;
                    -webkit-mask: url(https://iili.io/CuRc4iF.png) center/contain no-repeat;
                }
            }

            .sin3-info-set {
                flex: 1;
                min-width: max-content;
                position: relative;
                z-index: 2;

                h1 {
                    margin: 0;
                    font-family: 'Melostar', sans-serif;
                    font-size: 24px;
                    font-weight: normal;
                    line-height: 1;

                    & + br { display: none; }
                }

                .sin3-info {
                    display: flex;
                    justify-content: space-between;
                    margin-block: 4px 6px;
                    margin-left: 2px;
                    column-gap: 8px;
                    width: 180px;

                    p {
                        white-space: nowrap;
                        margin: 0;
                        font-family: 'IM Fell English', sans-serif;
                        font-size: 8px;
                        font-weight: bold;
                        line-height: 1;
                        text-transform: uppercase;
                    }

                    &[role="player"]p::after { content: " ¤ Braver"; }
                    &[role="npc"]p::after { content: " ¤ Adventurer"; }

                    c {
                        &[s1="w"] { --sin3-c-1: #e81416; }
                        &[s1="o"] { --sin3-c-1: #ff7b00; }
                        &[s1="e"] { --sin3-c-1: #faeb36; }
                        &[s1="v"] { --sin3-c-1: #79c314; }
                        &[s1="s"] { --sin3-c-1: #487de7; }
                        &[s1="l"] { --sin3-c-1: #4b369d; }
                        &[s1="p"] { --sin3-c-1: #9C27B0; }

                        &[s2="w"] { --sin3-c-2: #e81416; }
                        &[s2="o"] { --sin3-c-2: #ff7b00; }
                        &[s2="e"] { --sin3-c-2: #faeb36; }
                        &[s2="v"] { --sin3-c-2: #79c314; }
                        &[s2="s"] { --sin3-c-2: #487de7; }
                        &[s2="l"] { --sin3-c-2: #4b369d; }
                        &[s2="p"] { --sin3-c-2: #9C27B0; }

                        &[s3="w"] { --sin3-c-3: #e81416; }
                        &[s3="o"] { --sin3-c-3: #ff7b00; }
                        &[s3="e"] { --sin3-c-3: #faeb36; }
                        &[s3="v"] { --sin3-c-3: #79c314; }
                        &[s3="s"] { --sin3-c-3: #487de7; }
                        &[s3="l"] { --sin3-c-3: #4b369d; }
                        &[s3="p"] { --sin3-c-3: #9C27B0; }

                        &[s4="w"] { --sin3-c-4: #e81416; }
                        &[s4="o"] { --sin3-c-4: #ff7b00; }
                        &[s4="e"] { --sin3-c-4: #faeb36; }
                        &[s4="v"] { --sin3-c-4: #79c314; }
                        &[s4="s"] { --sin3-c-4: #487de7; }
                        &[s4="l"] { --sin3-c-4: #4b369d; }
                        &[s4="p"] { --sin3-c-4: #9C27B0; }

                        &[s5="w"] { --sin3-c-5: #e81416; }
                        &[s5="o"] { --sin3-c-5: #ff7b00; }
                        &[s5="e"] { --sin3-c-5: #faeb36; }
                        &[s5="v"] { --sin3-c-5: #79c314; }
                        &[s5="s"] { --sin3-c-5: #487de7; }
                        &[s5="l"] { --sin3-c-5: #4b369d; }
                        &[s5="p"] { --sin3-c-5: #9C27B0; }

                        &[s6="w"] { --sin3-c-6: #e81416; }
                        &[s6="o"] { --sin3-c-6: #ff7b00; }
                        &[s6="e"] { --sin3-c-6: #faeb36; }
                        &[s6="v"] { --sin3-c-6: #79c314; }
                        &[s6="s"] { --sin3-c-6: #487de7; }
                        &[s6="l"] { --sin3-c-6: #4b369d; }
                        &[s6="p"] { --sin3-c-6: #9C27B0; }

                        &[s7="w"] { --sin3-c-7: #e81416; }
                        &[s7="o"] { --sin3-c-7: #ff7b00; }
                        &[s7="e"] { --sin3-c-7: #faeb36; }
                        &[s7="v"] { --sin3-c-7: #79c314; }
                        &[s7="s"] { --sin3-c-7: #487de7; }
                        &[s7="l"] { --sin3-c-7: #4b369d; }
                        &[s7="p"] { --sin3-c-7: #9C27B0; }

                        &[len="1"] { --sin3-count: 1; }
                        &[len="2"] { --sin3-count: 2; }
                        &[len="3"] { --sin3-count: 3; }
                        &[len="4"] { --sin3-count: 4; }
                        &[len="5"] { --sin3-count: 5; }
                        &[len="6"] { --sin3-count: 6; }
                        &[len="7"] { --sin3-count: 7; }

                        display: block;
                        flex-shrink: 0;
                        position: relative;
                        height: 8px;
                        aspect-ratio: 680/80;
                        background: url(https://iili.io/Cu5Onb1.png) center/contain no-repeat;

                        --sin3-count: 1;

                        --sin3-step: calc(100% / var(--sin3-count));
                        --sin3-pos1: calc(var(--sin3-step) * 0.5);
                        --sin3-pos2: calc(var(--sin3-step) * 1.5);
                        --sin3-pos3: calc(var(--sin3-step) * 2.5);
                        --sin3-pos4: calc(var(--sin3-step) * 3.5);
                        --sin3-pos5: calc(var(--sin3-step) * 4.5);
                        --sin3-pos6: calc(var(--sin3-step) * 5.5);
                        --sin3-pos7: calc(var(--sin3-step) * 6.5);

                        &::before {
                            content: "";
                            position: absolute;
                            inset: 0;
                            background: linear-gradient(to right,
                                var(--sin3-c-1) var(--sin3-pos1),
                                var(--sin3-c-2, var(--sin3-c-1)) var(--sin3-pos2),
                                var(--sin3-c-3, var(--sin3-c-2, var(--sin3-c-1))) var(--sin3-pos3),
                                var(--sin3-c-4, var(--sin3-c-3, var(--sin3-c-2, var(--sin3-c-1)))) var(--sin3-pos4),
                                var(--sin3-c-5, var(--sin3-c-4, var(--sin3-c-3, var(--sin3-c-2, var(--sin3-c-1))))) var(--sin3-pos5),
                                var(--sin3-c-6, var(--sin3-c-5, var(--sin3-c-4, var(--sin3-c-3, var(--sin3-c-2, var(--sin3-c-1)))))) var(--sin3-pos6),
                                var(--sin3-c-7, var(--sin3-c-6, var(--sin3-c-5, var(--sin3-c-4, var(--sin3-c-3, var(--sin3-c-2, var(--sin3-c-1))))))) var(--sin3-pos7)
                            );

                            mask: url(https://iili.io/Cu5RTvV.png) center/contain no-repeat;
                            -webkit-mask: url(https://iili.io/Cu5RTvV.png) center/contain no-repeat;
                            mix-blend-mode: overlay;
                        }
                    }
                }
            }

            .sin3-bg {
                position: relative;
                width: 250px;
                height: 100px;
                mask: url(https://iili.io/CuAVr9s.png) right center/auto no-repeat;
                -webkit-mask: url(https://iili.io/CuAVr9s.png) right center/auto no-repeat;
                margin-left: -2rem;

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    background: var(--sin3-bg) var(--sin3-pos)/var(--sin3-size) no-repeat;
                    mask: linear-gradient(to right, transparent, black 50%);
                    -webkit-mask: linear-gradient(to right, transparent, black 50%);
                }
            }
        }

        .sin3-logo {
            position: absolute;
            top: 18px;
            right: 14px;
            width: 82px;
            height: 36px;
            background: url(https://iili.io/CuRdqRp.png) center/contain no-repeat;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            pointer-events: none;
            filter: brightness(2.5) drop-shadow(0 0 1px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 4px rgba(0, 0, 0, 1)) contrast(1.5) sepia(0.75);
        }
    }

    #sin3-ann.sin3-box {
        width: 800px;
        max-width: 100%;
        margin: auto;
        margin-bottom: 8px;
        outline: 4px solid #28231f;
        border: 8px solid #35271e;
        background: linear-gradient(#1f1b18, #191817), url('data:image/svg+xml,%3Csvg viewBox=\'0 0 600 600\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cfilter id=\'noiseFilter\'%3E%3CfeTurbulence type=\'fractalNoise\' baseFrequency=\'0.5\' numOctaves=\'3\' stitchTiles=\'stitch\'/%3E%3C/filter%3E%3Crect width=\'100%25\' height=\'100%25\' filter=\'url(%23noiseFilter)\'/%3E%3C/svg%3E') border-box;
        background-blend-mode: multiply;
        box-shadow: inset 0 0 1rem rgba(0,0,0,0.3);
        padding: 2rem min(4vw, 4rem) min(4vw, 4rem);
        font-family: 'Bai Jamjuree', sans-serif;

        &::before {
            content: "";
            display: block;
            width: 100px;
            aspect-ratio: 100/39;
            margin: auto;
            background: url(https://iili.io/CuE6eVe.png) center/contain no-repeat;
        }

        h1 {
            margin: 2rem auto 1rem;
            width: fit-content;
            font-family: 'Google Sans', sans-serif;
            font-size: 2.5em;
            font-weight: normal;
            padding: 4px;
            line-height: 1.5;
            text-transform: uppercase;
            text-align: center;

            color: transparent;
            background-image: linear-gradient(#bbb 0 15%, #ddd, #aaa 50%, #bbb);
            background-size: 100% 1.5em;
            background-repeat: repeat-y;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            filter: drop-shadow(0px 0px #fff) drop-shadow(0px 0px #fff) drop-shadow(0px 0px #fff);
            -webkit-filter: drop-shadow(0px 0px #fff) drop-shadow(0px 0px #fff) drop-shadow(0px 0px #fff);

            & + br { display: none; }
        }

        .sin3-content, .sin3-pic {
            background: radial-gradient(20rem 12rem, rgba(50,42,34,0.4), transparent 70%) -13rem -9rem/26rem 18rem no-repeat, radial-gradient(20rem 12rem, rgba(50,42,34,0.4), transparent 70%) calc(100% + 13rem) -9rem/26rem 18rem no-repeat, radial-gradient(20rem 12rem, rgba(50,42,34,0.4), transparent 70%) -13rem calc(100% + 9rem)/26rem 18rem no-repeat, radial-gradient(20rem 12rem, rgba(50,42,34,0.4), transparent 70%) calc(100% + 13rem) calc(100% + 9rem)/26rem 18rem no-repeat, radial-gradient(rgba(50,42,34,0.4), transparent 70%) center/cover no-repeat, #2c241e;
            box-shadow: inset 0 0 4rem rgba(50,42,34,0.4), inset 0 0 2rem rgba(0,0,0,0.4), 0 0 1.25rem rgba(0,0,0,0.5);
            border: 2px solid #2c241e80;
            border-radius: 3px;
            margin-top: 1rem;
        }

        .sin3-content {
            padding: 1.5rem 2rem;
            color: #cdcdcd;

            b {
                display: block;
                margin-bottom: 0.75rem;
                color: #eac355;

                & + br { display: none; }
            }
        }

        .sin3-pic { padding: 1rem; }

        .sin3-hr {
            height: unset;
            width: 500px;
            max-width: 90%;
            aspect-ratio: 25;
            background: url(https://iili.io/CuW0lmQ.png) center/contain no-repeat;
            margin: 2rem auto;
        }
    }
}