@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=IM+Fell+English:ital@0;1&display=swap');
@import url('https://fonts.cdnfonts.com/css/melostar');

:root {
    --sin3-txt: #6c4119;

    --sin3-pic: #808080;
    --sin3-pos: center;
    --sin3-size: cover;
}

#SevenSin3 { position: relative; }
#SevenSin3 * { box-sizing: border-box; }

#SevenSin3 a[href="https://discord.com/users/625292873914515456/"] {
    width: 100px;
    height: 12px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
}

#SevenSin3 a[href="https://discord.com/users/625292873914515456/"] ~ div:first-child { position: relative; }
  
#SevenSin3::after {
    content: "7 sins";

    font-family: 'IM Fell English', sans-serif;
    font-size: 0.85rem;
    line-height: 1;
    color: tan !important;
    opacity: 0.3;
    text-align: end;
}
  
#SevenSin3:hover::after { content: "made by zzzcode"; }

#SevenSin3:has(#sin3-player) {
    width: 650px;
    max-width: 100%;
    margin: auto;

    a[href="https://discord.com/users/625292873914515456/"] {
        bottom: 2.5rem;
        right: 1rem;
        left: unset;
    }

    &::after {
        position: absolute;
        bottom: 2.5rem;
        right: 1rem;
    }
}

#SevenSin3 {
    #sin3-player.sin3-box {
        position: relative;
        width: 650px;
        max-width: 100%;
        margin: auto;
        color: var(--sin3-txt);

        &[อาชีพ="นักดาบ"] {
            --sin3-primary: #db1414;
            --sin3-icon: url(https://iili.io/CIxK41I.png);
        }
        &[อาชีพ="นักเวทย์"] {
            --sin3-primary: #7e57c2;
            --sin3-icon: url(https://iili.io/CIxKrqN.png);
        }
        &[อาชีพ="นักธนู"] {
            --sin3-primary: #4caf50;
            --sin3-icon: url(https://iili.io/CIxKUsp.png);
        }
        &[อาชีพ="นักฆ่า"] {
            --sin3-primary: #808080;
            --sin3-icon: url(https://iili.io/CIxKSXR.png);
        }
        &[อาชีพ="นักบวช"] {
            --sin3-primary: #e91e63;
            --sin3-icon: url(https://iili.io/CIxgrnp.png);
        }

        &::before {
            content: "";
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            right: 0;
            aspect-ratio: 944/433;
            background: url(https://iili.io/CxRNX94.png) center/contain no-repeat;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            pointer-events: none;
        }

        &::after {
            content: "";
            position: absolute;
            z-index: 0;
            bottom: 0;
            left: 0;
            right: 0;
            aspect-ratio: 944/512;
            background: url(https://iili.io/CzeMiZX.png) center/contain no-repeat;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            pointer-events: none;
        }

        .sin3-body {
            position: relative;
            width: 94.06779661%;
            margin: auto;
            padding-block: clamp(3.5rem, 4.2vw, 4rem) clamp(7.25rem, 8.7vw, 8.25rem);
            display: flex;
            flex-direction: column;

            &::before {
                content: "";
                position: absolute;
                z-index: 1;
                inset: 0;
                background: linear-gradient(90deg, #c7a577, #e7d1b9 10% 90%, #c7a577) content-box;
                padding-block: clamp(210px, 16vw, 230px) clamp(265px, 22vw, 290px);
                mask: linear-gradient(transparent 15rem, black 16rem calc(100% - 20rem), transparent calc(100% - 19rem));
                -webkit-mask: linear-gradient(transparent 15rem, black 16rem calc(100% - 20rem), transparent calc(100% - 19rem));
                
                user-select: none;
                -moz-user-select: none;
                -webkit-user-select: none;
                pointer-events: none;
            }

            hr.sin3-line {
                position: relative;
                z-index: 1;

                width: 102%;
                height: 28px;
                padding-inline: 3%;
                background: url(https://iili.io/CxAhshF.png) left center/contain round content-box;
                transform: translateX(-1%);
                margin: 0;
                mix-blend-mode: multiply;
                opacity: 7%;

                &::before, &::after {
                    content: "";
                    position: absolute;
                    width: 4%;
                    top: 0;
                    bottom: 0;
                    background: url(https://iili.io/CxAhr7V.png) left center/cover no-repeat;
                }

                &::before { left: 0; }
                &::after { right: 0; }
            }

            .sin3-head-set {
                display: flex;
                flex-direction: column;

                .sin3-head {
                    flex: 1;
                    display: flex;
                    gap: min(1vw, 1rem);
                    margin-block: -28px;
                    padding-inline: 2rem;

                    .sin3-pic {
                        position: relative;
                        z-index: 1;
                        width: 200px;
                        height: 200px;
                        mix-blend-mode: multiply;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 69%;
                            aspect-ratio: 1;
                            background: var(--sin3-pic) var(--sin3-pos) / var(--sin3-size) no-repeat;
                            mask: url(https://iili.io/CxEAnou.png) center / contain no-repeat;
                            -webkit-mask: url(https://iili.io/CxEAnou.png) center / contain no-repeat;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            inset: 0;
                            background: url(https://iili.io/CxAhiI1.png) center/contain no-repeat;
                        }
                    }

                    .sin3-info {
                        flex: 1;
                        font-family: 'Bai Jamjuree', sans-serif;
                        text-align: center;

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        h1 {
                            margin: 0;
                            font-family: 'Melostar', sans-serif;
                            font-size: 3rem;
                            font-weight: normal;
                            line-height: 1;

                            & + br { display: none; }
                        }

                        p {
                            margin: 0;
                            font-family: 'IM Fell English', sans-serif;
                            font-weight: bold;
                            line-height: 1;
                            text-transform: uppercase;
                        }

                        .sin3-class {
                            display: flex;
                            gap: min(1vw, 1rem);
                            justify-content: center;
                            font-size: 0.75rem;
                            margin-block: 0.5rem -1rem;

                            c { display: block; }

                            c::before {
                                content: "";
                                display: inline-block;
                                width: 0.8rem;
                                height: 0.8rem;
                                margin-right: 0.25rem;
                                background: var(--sin3-icon) center/contain no-repeat;
                                margin-block: 0.15rem -0.15rem;
                            }
                        }
                    }
                }
            }

            .sin3-content {
                position: relative;
                z-index: 1;
                flex: 1;
                padding: 2rem 3rem;
                font-family: 'Bai Jamjuree', sans-serif;
                mix-blend-mode: multiply;

                hr.mycode_hr {
                    margin-block: 1.5rem;
                    background: #785023;
                    opacity: 30%;
                }

                .sin3-stats {
                    position: relative;
                    z-index: 2;
                    background: var(--sin3-txt);
                    padding: 1rem 1.25rem;
                    margin-top: 0.5rem;
                    color: #fff;
                    font-size: small;
                    box-shadow: 1rem 1rem 2rem 0 #00000040 inset, -1rem -1rem 2rem 0 #00000040 inset;
                    border-radius: 6px;

                    hr.mycode_hr {
                        margin-block: 0.5em;
                        background: #fff;
                        opacity: 0.5;
                    }

                    &#stats {
                        padding-block: 0.5rem;
                        text-align: center;
                    }
                }
            }
        }

        .sin3-ribbon {
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            right: 0;
            aspect-ratio: 944/512;
            background: url(https://iili.io/CzeMPjt.png) center/contain no-repeat;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            pointer-events: none;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                mix-blend-mode: overlay;
                background: var(--sin3-primary);
                mask: url(https://iili.io/CzeMPjt.png) center/contain no-repeat;
            }
        }
    }
}