@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=IM+Fell+English:ital@0;1&display=swap');
@import url('https://fonts.cdnfonts.com/css/melostar');

:root {
    --sin3-txt: #6c4119;

    --sin3-pic: #808080;
    --sin3-pos: center;
    --sin3-size: cover;
}

#SevenSin3 { position: relative; }
#SevenSin3 * { box-sizing: border-box; }

#SevenSin3 a[href="https://discord.com/users/625292873914515456/"] {
    height: 12px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
}

#SevenSin3 a[href="https://discord.com/users/625292873914515456/"] ~ div:first-child { position: relative; }
  
#SevenSin3::after {
    content: "7 sins";

    display: block;
    box-sizing: border-box;

    width: 650px;
    max-width: 100%;
    margin: auto;
    margin-block: clamp(-6rem, -5vw, -5.5rem) clamp(3.5rem, 5vw, 5rem);
    padding-inline: 1rem;
    
    font-family: 'IM Fell English', sans-serif;
    font-size: 0.85rem;
    line-height: 1;
    color: tan !important;
    opacity: 0.3;
    text-align: end;
}
  
#SevenSin3:hover::after { content: "made by zzzcode"; }

#SevenSin3 {
    #sin3-player.sin3-box {
        position: relative;
        width: 650px;
        max-width: 100%;
        margin: auto;
        color: var(--sin3-txt);

        &[อาชีพ="นักดาบ"] { --sin3-primary: #ef5350; }
        &[อาชีพ="นักเวทย์"] { --sin3-primary: #7e57c2; }
        &[อาชีพ="นักธนู"] { --sin3-primary: #4caf50; }
        &[อาชีพ="นักฆ่า"] { --sin3-primary: #808080; }
        &[อาชีพ="นักบวช"] { --sin3-primary: #e91e63; }

        &::before {
            content: "";
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            right: 0;
            aspect-ratio: 944/433;
            background: url(https://iili.io/CxRNX94.png) center/contain no-repeat;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            pointer-events: none;
        }

        &::after {
            content: "";
            position: absolute;
            z-index: 0;
            bottom: 0;
            left: 0;
            right: 0;
            aspect-ratio: 944/566;
            background: url(https://iili.io/CxRNVSf.png) center/contain no-repeat;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            pointer-events: none;
        }

        .sin3-body {
            position: relative;
            width: 94.06779661%;
            margin: auto;
            padding-block: clamp(3.5rem, 4.2vw, 4rem) clamp(9.25rem, 10.7vw, 10.25rem);
            display: flex;
            flex-direction: column;

            &::before {
                content: "";
                position: absolute;
                z-index: 1;
                inset: 0;
                background: linear-gradient(95deg, #c7a577, #e7d1b9 10% 90%, #c7a577) content-box;
                padding-block: clamp(220px, 16vw, 240px) clamp(310px, 22vw, 335px);
                mask: linear-gradient(transparent 16rem, black 17rem calc(100% - 22rem), transparent calc(100% - 21rem));
                -webkit-mask: linear-gradient(transparent 16rem, black 17rem calc(100% - 22rem), transparent calc(100% - 21rem));
                
                user-select: none;
                -moz-user-select: none;
                -webkit-user-select: none;
                pointer-events: none;
            }

            hr.sin3-line {
                position: relative;
                z-index: 1;

                width: 102%;
                height: 28px;
                padding-inline: 3%;
                background: url(https://iili.io/CxAhshF.png) left center/contain round content-box;
                transform: translateX(-1%);
                margin: 0;
                mix-blend-mode: multiply;
                opacity: 7%;

                &::before, &::after {
                    content: "";
                    position: absolute;
                    width: 4%;
                    top: 0;
                    bottom: 0;
                    background: url(https://iili.io/CxAhr7V.png) left center/cover no-repeat;
                }

                &::before { left: 0; }
                &::after { right: 0; }
            }

            .sin3-head-set {
                display: flex;
                flex-direction: column;

                .sin3-head {
                    flex: 1;
                    display: flex;
                    gap: min(1vw, 1rem);
                    margin-block: -28px;
                    padding-inline: 2rem;

                    .sin3-pic {
                        position: relative;
                        width: 200px;
                        height: 200px;
                        mix-blend-mode: multiply;

                        &::before {
                            content: "";
                            position: absolute;
                            inset: 0;
                            background: var(--sin3-pic) var(--sin3-pos)/var(--sin3-size) no-repeat;
                            mask: url(https://iili.io/CxAhZBa.png) center/contain no-repeat;
                            -webkit-mask: url(https://iili.io/CxAhZBa.png) center/contain no-repeat;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            inset: 0;
                            background: url(https://iili.io/CxAhiI1.png) center/contain no-repeat;
                        }
                    }

                    .sin3-info {
                        flex: 1;
                        font-family: 'Bai Jamjuree', sans-serif;
                        text-align: center;

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        h1 {
                            margin: 0;
                            font-family: 'Melostar', sans-serif;
                            font-size: 3rem;
                            font-weight: normal;
                            line-height: 1;

                            & + br { display: none; }
                        }

                        p {
                            margin: 0;
                            font-family: 'IM Fell English', sans-serif;
                            font-weight: bold;
                            line-height: 1;
                            text-transform: uppercase;
                        }

                        .sin3-class {
                            display: flex;
                            gap: min(1vw, 1rem);
                            justify-content: center;
                            font-size: 0.75rem;
                            margin-block: 0.5rem -1rem;

                            .c::before {
                                content: "";
                                display: inline-block;
                                width: 0.8rem;
                                height: 0.8rem;
                                margin-right: 0.25rem;
                                background: url(https://iili.io/CxlhDbf.png) center/contain no-repeat;
                                margin-block: 0.15rem -0.15rem;
                                mix-blend-mode: multiply;
                            }
                        }
                    }
                }
            }

            .sin3-content {
                position: relative;
                flex: 1;
                padding: 1rem 3rem;
                font-family: 'Bai Jamjuree', sans-serif;

                .sin3-role, .sin3-ps {
                    position: relative;
                    z-index: 1;
                }

                hr.sin3-hr {
                    position: relative;
                    z-index: 1;
                    margin-block: 1rem;
                    background: #785023;
                    mix-blend-mode: multiply;
                    opacity: 30%;
                }
            }
        }

        .sin3-ribbon {
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            right: 0;
            aspect-ratio: 944/566;
            background: url(https://iili.io/CxRNGFs.png) center/contain no-repeat;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                mix-blend-mode: overlay;
                background: var(--sin3-primary);
                mask: url(https://iili.io/CxRNGFs.png) center/contain no-repeat;
            }
        }
    }
}