:root {
	--aebgpic: antiquewhite;
	--aetxtcolor: black;
	--aefont-en: 'Inter';
	--aefont-th: 'Noto Sans Thai';
	--aelogopic: transparent;
	--aetabcolor: #ccc;
	--aetabcolor-hover: #b5b5b5;
	--aetabcolor-selected: white;
	--aetxtcolor-tab: black;
}

#zzzcode { position: relative; }
#zzzcode * { box-sizing: border-box; }

#zzzcode a[href="https://discord.com/users/625292873914515456/"] {
    height: 12px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
}

#zzzcode a[href="https://discord.com/users/625292873914515456/"] ~ div:first-child { position: relative; }
  
#zzzcode::after {
    display: block;
    content: "z";
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
    color: gray !important;
    width: 100%;
    text-align: center;
}
  
#zzzcode:hover::after { content: "zzzcode"; }

#zzzcode summary {
    cursor: pointer;
}

.aebox {
	width: 800px;
	max-width: 100%;
	margin: auto;
	border-radius: 15px;
	padding: 2rem 0;
	background: var(--aebgpic) center/cover no-repeat;
	color: var(--aetxtcolor);
	font-family: var(--aefont-en), var(--aefont-th);

    .aelogo {
        width: 100%;
        height: 250px;
        background: var(--aelogopic) center/contain no-repeat;
        margin-bottom: 2rem;
    }

    .aetabs{
        margin: auto;
        display: flex;
        flex-wrap: wrap;

        input[type="radio"].aeinput, input[type="radio"].aeinput + br, .aelabel + br {
            position: absolute;
            display: none;
        }

        input[type="radio"].aeinput:checked + br + .aelabel {
            background: var(--aetabcolor-selected);
            color: var(--aetxtcolor-tab);
        }

        input[type="radio"].aeinput:checked + br + .aelabel + br + .aecontent { display: block; }

        .aelabel {
            flex: 1;
            padding: 0.5rem 1rem;
            background: var(--aetabcolor);
            cursor: pointer;
            font-weight: bold;
            transition: .5s ease;
            border-radius: 15px 15px 0 0;
            margin-right: 0.1rem;
            transform: perspective(1rem) rotateX(2deg);
            filter: drop-shadow(4px -4px 2px rgba(0,0,0,0.25)) drop-shadow(-4px -4px 2px rgba(0,0,0,0.25));

            p {
                transform: perspective(1rem) rotateX(-2deg);
                margin: 0;
                text-align: center;
            }

            &:first-of-type { margin-left: 1rem; }
            &:last-of-type { margin-right: 10rem; }

            &:active { background: var(--aetabcolor); }
            &:hover { background: var(--aetabcolor-hover); }

            &[for="tab-1"] { z-index: 100;}
            &[for="tab-2"] { z-index: 90;}
            &[for="tab-3"] { z-index: 80;}
        }

        .aecontent {
            order: 99;
            display: none;
            padding: 2rem;
            background: var(--aetabcolor-selected);
            width: 100%;
            border-radius: 15px;
            z-index: 100;
            filter: drop-shadow(0 -4px 2px rgba(0,0,0,0.25)) drop-shadow(0 4px 2px rgba(0,0,0,0.25));
            transition: 0.5s ease;

            .aetopic {
                font-size: 2rem;
                font-weight: bold;
                color: var(--aeprimary);
            }
        }

        #tab-1:checked ~ .aelabel[for="tab-1"], #tab-2:checked ~ .aelabel[for="tab-2"], #tab-3:checked ~ .aelabel[for="tab-3"] { z-index: 101;}
    }

    .aefoot {
        margin-top: 2rem;
        text-align: center;
        line-height: 1.5;
    }
}