@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/rounded-elegance');

@font-face {
    font-family: 'Quentin';
    src: url('https://cdn.jsdelivr.net/gh/savant777/zoecode@main/font/Quentin.otf') format('truetype');
}

:root {
    --olv-bg: #eae6da;
    --olv-txt: #211b1b;
    --olv-primary: #737144;

    --olv-pic: gray;
    --olv-pos: center;
    --olv-size: cover;
}

#Blossom3 { position: relative; }
#Blossom3 * { box-sizing: border-box; }

#Blossom3 a[href="https://discord.com/users/625292873914515456/"] {
    height: 12px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
}

#Blossom3 a[href="https://discord.com/users/625292873914515456/"] ~ div:first-child { position: relative; }
  
#Blossom3::after {
    content: "🌿";

    width: 100%;
    height: 13px;
    margin-block-start: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Georgia', serif;
    font-size: 13px;
    line-height: 1;
    color: gray !important;
}
  
#Blossom3:hover::after {
    content: "made by zzzcode";
    font-style: normal;
}

#Blossom3:has(#olive-thread) { width: 800px; }
#Blossom3:has(#olive-role) { width: 600px; }

#Blossom3 {
    max-width: 100%;
    margin: auto;

    #olive-thread.olive-box {
        position: relative;
        padding: clamp(3.8rem, 5vw, 5rem) 12.5%;
        background: url(https://iili.io/FNJfCwF.png) center repeat, var(--olv-bg);
        background-blend-mode: multiply;
        color: var(--olv-txt);
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: clamp(13px, 1vw, 16px);

        &::after {
            content: "";
            user-select: none;
            pointer-events: none;
            position: absolute;
            inset: 0;
            background: url(https://iili.io/FNJWLv4.png) top left/cover no-repeat;
            transform: scaleX(-1);
            opacity: 0.3;
        }

        .olive-leaf1 {
            user-select: none;
            pointer-events: none;
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            width: 49.2%;
            aspect-ratio: 1;
            background: url(https://iili.io/FNJsXON.png) center/contain no-repeat;
        }

        .olive-leaf2 {
            user-select: none;
            pointer-events: none;
            position: absolute;
            z-index: 2;
            top: clamp(308px, 30vw, 408px);
            left: 0;
            width: 23.7%;
            aspect-ratio: 244/450;
            background: url(https://iili.io/FNJshbI.png) center/contain no-repeat;
        }

        .olive-title {
            position: relative;
            font-family: 'Rounded Elegance', sans-serif;
            font-size: clamp(10px, 0.8vw, 13px);
            text-transform: uppercase;
            line-height: 0.9;
            letter-spacing: clamp(2px, 0.2vw, 3px);
            word-spacing: clamp(3px, 0.3vw, 5px);
            padding-inline-start: 12.667%;

            &::before {
                content: "";
                position: absolute;
                left: 3%;
                top: 50%;
                transform: translateY(-50%);
                width: 8%;
                aspect-ratio: 625/447;
                background: url(https://iili.io/FNKH0Nt.png) center/contain no-repeat;
                filter: drop-shadow(0 0 #737144);
            }
        }

        .olive-pic {
            position: relative;
            aspect-ratio: 8/7;
            margin: clamp(0.9rem, 1.1vw, 1.3rem) auto clamp(5rem, 6vw, 6rem);
            border-image: url(https://iili.io/FNdKuN1.png) 10 / 6pt / 0 round;
            border-radius: 10px;
            background: var(--olv-pic) var(--olv-pos)/var(--olv-size) no-repeat;

            .olive-pic-sm {
                position: absolute;
                left: 7%;
                bottom: 0;
                transform: translateY(50%);
                width: 22%;
                aspect-ratio: 5/4;
                border-image: url(https://iili.io/FNdKuN1.png) 10 / 6pt / 0 round;
                border-radius: 10px;
                background: var(--olv-pic) var(--olv-pos)/var(--olv-size) no-repeat;
            }

            .olive-room {
                position: absolute;
                right: 0;
                bottom: -10%;

                width: 70%;
                margin-block: 0;
                padding-inline-end: 1rem;

                font-family: 'Quentin', sans-serif;
                font-weight: normal;
                font-size: clamp(64px, 6vw, 84px);
                font-style: italic;
                line-height: 0.6;
                text-align: end;
                white-space: pre;

                color: white;
                filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3)) drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
            }
        }

        .olive-content {
            position: relative;
            text-align: justify;

            hr {
                background: var(--olv-txt);
                width: 75%;
                margin-block: 2rem;
            }

            .olive-qt {
                max-width: 450px;
                margin: 2rem auto 0;

                display: flex;
                column-gap: 1rem;
                align-items: center;

                font-family: 'Playfair Display', serif;
                font-style: italic;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                word-spacing: 1px;

                &::before, &::after {
                    content: "";
                    flex: 1;
                    min-width: 2rem;
                    height: 1px;
                    background: var(--olv-txt);
                }
            }

            .olive-code {
                margin-block-start: 2rem;

                .codeblock { 
                    background: var(--olv-txt);
                    color: var(--olv-bg);
                    user-select: all;
                }

                .codeblock *::selection {
                    background: var(--olv-primary);
                }
            }
        }
    }

    #olive-role.olive-box {
        position: relative;
        padding: 65px 75px 50px;
        background: url(https://iili.io/FNJfCwF.png) center repeat, var(--olv-bg);
        background-blend-mode: multiply;
        color: var(--olv-txt);
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: clamp(13px, 1vw, 16px);

        .olive-leaf1 {
            user-select: none;
            pointer-events: none;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 40.4%;
            aspect-ratio: 5/4;
            background: url(https://iili.io/FNnnSpt.png) center/contain no-repeat;
        }

        .olive-leaf2 {
            user-select: none;
            pointer-events: none;
            position: absolute;
            z-index: 2;
            top: 125px;
            right: 0;
            width: 24%;
            aspect-ratio: 240/348;
            background: url(https://iili.io/FNnngTX.png) center/contain no-repeat;
        }

        .olive-title {
            position: relative;
            font-family: 'Rounded Elegance', sans-serif;
            font-size: clamp(10px, 0.8vw, 13px);
            text-transform: uppercase;
            line-height: 0.9;
            letter-spacing: clamp(2px, 0.2vw, 3px);
            word-spacing: clamp(3px, 0.3vw, 5px);
            text-align: end;
        }

        .olive-pic {
            position: relative;
            aspect-ratio: 3;
            margin-block: 0.5rem 0;
            border-image: url(https://iili.io/FNdKuN1.png) 10 / 6pt / 0 round;
            border-radius: 10px;
            background: var(--olv-pic) var(--olv-pos)/var(--olv-size) no-repeat;
        }

        .olive-name {
            position: relative;
            margin-block: -2rem 1.5rem;

            font-family:'Quentin', sans-serif;
            font-weight: normal;
            font-size: clamp(48px, 4vw, 60px);
            font-style: italic;
            line-height: 0.8;
            text-align: center;
            white-space: pre;

            color: white;
            filter: drop-shadow(0 1px 2px rgba(0,0,0,0.3)) drop-shadow(0 0 2px rgba(0,0,0,0.3));
            rotate: -5deg;
        }

        h1 + br { display: none; }

        .olive-content {
            position: relative;
            text-align: justify;

            hr {
                background: var(--olv-txt);
                margin-block: 2rem;
            }
        }
    }
}