@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');

:root {
    --fwpic: black;
    --fwposition: center;
    --fwsize: cover;
    
    --bg-color: #eaeaea;
    --block-color: #f28f3d;
    --block-color-hover: #edaa88;
    --block-text-color: #eaeaea;
    --text-color: #113640;
    --name-text-color: #5098b3;
    --hr-color: #113640;
    --stamp-color: #f28f3d;
    --fwfont-en: 'Quicksand';
    --fwfont-th: 'Noto Sans Thai';
}

#zzzcode { position: relative; }
#zzzcode * { box-sizing: border-box; }

#zzzcode a[href="https://discord.com/users/625292873914515456/"] {
    height: 12px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
}

#zzzcode a[href="https://discord.com/users/625292873914515456/"] ~ div:first-child { position: relative; }
  
#zzzcode::after {
    display: block;
    content: "z";
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
    color: gray !important;
    width: 100%;
    text-align: center;
}
  
#zzzcode:hover::after { content: "zzzcode"; }

#zzzcode .fwbox {
    width: 800px;
    max-width: 100%;
    margin: auto;
    background: var(--bg-color);
    border-radius: 6px;
    color: var(--text-color);
    padding: 2vw;
    font-family: var(--fwfont-en), var(--fwfont-th);
    line-height: 1.2;
    font-size: clamp(14px, 1vw, 17px);

    .fwtitle {
        font-weight: bold;
        font-size: 2.5rem;
    }

    .fwname {
        font-size: 1rem;
        color: var(--name-text-color);
    }

    hr.fwhr {
        background: var(--hr-color);
        margin: 2vw 0;
    }

    .fwstampset {
        display: flex;
        column-gap: 2vw;
        padding: 0 2vw;

        .fwstamp {
            flex: 1;
            padding: 1vw;
            background: var(--stamp-color);
            border-radius: 6px;

            .fwstampimg {
                width: 100%;
                aspect-ratio: 1/1;
                max-height: 200px;
                border-radius: 3px;
                background: var(--fwpic) var(--fwposition)/var(--fwsize) no-repeat;
            }
        }
    }

    .fwflexset {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1vw;

        .fwmin {
            flex: 1;
            min-width: 300px;
        }

        details > summary {
            list-style: none;
            cursor: pointer;

            .fwflex {
                display: flex;
                vertical-align: middle;
                column-gap: 1vw;
                align-items: center;
                border-radius: 6px;
                padding: 0.5rem;

                &:hover { background-color: var(--block-color-hover); }

                .fwno {
                    font-weight: bold;
                    min-width: 1rem;
                }

                .fwimg {
                    aspect-ratio: 1/1;
                    height: 2.5rem;
                    border-radius: 3px;
                    background: var(--fwpic) var(--fwposition)/var(--fwsize) no-repeat;
                }

                .fwquestion { font-weight: bold; }
            }
        }

        details > summary::marker, details > summary::-webkit-details-marker { display: none; }

        details[open] > summary > .fwflex {
            background: var(--block-color);
            color: var(--block-text-color);
        }

        details .fwtxt {
            padding: 1vw 0.5rem;
            padding-left: calc(1vw + 1.5rem) !important;
            line-height: normal;
        }
    }
}
