@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Michroma&family=Noto+Sans+Thai:wght@100..900&family=Qwitcher+Grypen:wght@400;700&display=swap');

#zzzcode { position: relative; }
#zzzcode * { box-sizing: border-box; }

#zzzcode a[href="https://discord.com/users/625292873914515456/"] {
    height: 12px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
}

#zzzcode a[href="https://discord.com/users/625292873914515456/"] ~ div:first-child { position: relative; }
  
#zzzcode::after {
    display: block;
    content: "z";
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
    color: gray !important;
    width: 100%;
    text-align: center;
}
  
#zzzcode:hover::after { content: "zzzcode"; }

#freeze.freeze-box {
    position: relative;
    width: 600px;
    max-width: calc(100% - 1rem);
    margin: auto;
    padding: 1rem 2rem;
    overflow: hidden;
    font-size: clamp(14px, 1vw, 17px);
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0.05));
    color: #fff;

    .freeze-tape {
        position: absolute;
        z-index: 5;
        left: 50%;
        min-height: 36px;
        background: repeating-linear-gradient(-45deg, yellow 0 10px, black 11px 20px, yellow 21px);
        filter: drop-shadow(2px 4px 8px rgba(0,0,0,0.5));
        padding: 6px 0;
    }

    .freeze-tape[tape="1"], .freeze-tape[tape="2"]{
        width: 105%;
        user-select: none;
        pointer-events: none;
        
        &::before {
            content: "wanted ⚠︎ wanted ⚠︎ wanted ⚠︎ wanted ⚠︎ wanted ⚠︎ wanted ⚠︎ wanted ⚠︎ wanted ⚠︎ wanted ⚠︎ wanted ⚠︎ wanted ⚠︎";
            background: yellow;
            overflow: hidden;
            color: black;
            text-transform: uppercase;
            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Michroma', sans-serif;
            font-weight: bold;
            letter-spacing: 3px;
            font-size: 8px;
            text-wrap: nowrap;
            padding: 8px 0;
            text-shadow: 0 0 black;
        }
    }

    .freeze-tape[tape="1"] {
        top: 9.75rem;
        transform: translateX(-50%) rotate(-5deg);
    }

    .freeze-tape[tape="2"] {
        top: 10.75rem;
        transform: translateX(-50%) rotate(2deg);
        filter: drop-shadow(2px 0 8px rgba(0,0,0,1));
    }

    .freeze-area {
        position: relative;
        margin: auto;
        padding: 4rem 2rem;

        h1.freeze-name {
            margin-block: 0;
            text-align: center;
            text-transform: uppercase;
            line-height: 1;
            font-family: 'Lexend Giga', sans-serif;
            font-weight: normal;
            letter-spacing: 3px;
        }

        h1.freeze-name + br { display: none; }

        .freeze-content {
            margin-block: 8.25rem 2.5rem;
        }

        .freeze-tape {
            position: relative;
            bottom: 0;
            width: calc(100% + 8rem + 12px);
            transform: translateX(-50%);

            .freeze-ps {
                background: yellow;
                color: black;
                font-weight: bold;
                text-align: center;
                line-height: 1.2;
                padding: 6px 5rem;

                &::before {
                    content: "⚠︎ ";
                    font-family: 'Michroma', sans-serif;
                }
            }
        }
    }
}

#freeze.freeze-box:not(:has(.freeze-tape[tape="1"] + .freeze-tape[tape="2"])) {
    padding-block-start: 4rem;

    .freeze-area {
        padding: 0 2rem 4rem;

        .freeze-pic {
            position: relative;
            margin: auto;
            width: calc(60% + 4rem);
            aspect-ratio: 16/9;
            border: 6px solid #eee;
            background: var(--freeze-pic) var(--freeze-pos)/var(--freeze-size) no-repeat;
            --freeze-pic: gray;
            --freeze-pos: center;
            --freeze-size: cover;

            &::before, &::after {
                content: '';
                height: 2px;
                background: #b22222;
                position: absolute;
                filter: drop-shadow(1px 3px 2px rgba(0,0,0,0.5));
            }

            &::before {
                width: 80%;
                top: -5rem;
                left: -5.5rem;
                transform: rotate(20deg);
                transform-origin: top left;
            }

            &::after {
                width: 50%;
                top: -5.25rem;
                right: 2.1rem;
                transform: rotate(-35deg);
                transform-origin: bottom right;
            }

            .freeze-pin {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%,-50%);
                
                width: 20px;
                aspect-ratio: 69/100;
                background: url(https://iili.io/FmtkUJe.png) center/contain no-repeat;
                filter: drop-shadow(1px 4px 3px rgba(0,0,0,0.5));
            }

            .freeze-name {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%,50%);
                
                width: max-content;
                max-width: calc(100% + 4rem);
                background: url(https://iili.io/FmZOou4.png) center/100% 100% no-repeat;
                padding: 0.5rem 2rem 1.25rem;
                
                font-size: 3rem;
                font-family: 'Qwitcher Grypen', cursive;
                color: #000;
                text-align: center;
                line-height: 0.5;
            }
        }

        .freeze-content {
            margin-block: 4rem 2.5rem;
        }
    }
}