@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --salt-bg: #e0dbc4;
    --salt-txt: #000;

    --salt-pic: gray;
    --salt-pos: center;
    --salt-size: cover;
}

#TheSaltBox { position: relative; }
#TheSaltBox * { box-sizing: border-box; }

#TheSaltBox a[href="https://discord.com/users/625292873914515456/"] {
    height: 12px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
}

#TheSaltBox a[href="https://discord.com/users/625292873914515456/"] ~ div:first-child { position: relative; }
  
#TheSaltBox::after {
    display: block;
    content: "THE SALT BOX";
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: x-small;
    color: gray !important;
    width: 100%;
    text-align: center;
}
  
#TheSaltBox:hover::after { content: "made by zzzcode"; }

#TheSaltBox {
    .salt-box {
        max-width: 100%;
        margin: auto;
        background: var(--salt-bg);
        color: var(--salt-txt);

        font-family: 'Bai Jamjuree', sans-serif;
        font-size: clamp(13px, 0.8vw, 15px);

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: clamp(7.5px, 0.8vw, 15px);

        padding-block-end: clamp(22.5px, 2.35vw, 45px);

        .salt-pic-top {
            grid-column: 1/4;
            aspect-ratio: 3/2;
            background: var(--salt-pic) var(--salt-pos)/var(--salt-size) no-repeat;
            padding-block-end: clamp(12px, 1.25vw, 24px);

            color: #fff;
            font-size: clamp(14px, 1.25vw, 24px);
            line-height: 0.7;

            align-content: end;
            text-align: center;

            &::before {
                content: "THE\aSALT BOX";
                white-space: pre-wrap;
            }
        }

        .salt-pic-mid {
            aspect-ratio: 390/575;
            background: var(--salt-pic) var(--salt-pos)/var(--salt-size) no-repeat;
        }

        .salt-content {
            grid-column: 1/4;
            width: 40%;
            min-width: 405px;
            margin: auto;
            padding: clamp(20px, 2vw, 32px) 0;
            text-align: justify;
        }

        .salt-pic-bottom {
            grid-column: 1/4;
            aspect-ratio: 8/3;
            background: var(--salt-pic) var(--salt-pos)/var(--salt-size) no-repeat;
        }
    }
}