@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');

:root {
    --sm-bg: #e5e5e5;
    --sm-txt: #000;
    --sm-font-en: 'Nunito';
    --sm-font-th: 'Noto Sans Thai';
    --sm-border: #333;
    --sm-tabcolor: #666;
    --sm-stroke: #333;

    --sm-pic: transparent;
    --sm-pos: center;
    --sm-size: cover;
}

#zzzcode { position: relative; }
#zzzcode * { box-sizing: border-box; }

#zzzcode a[href="https://discord.com/users/625292873914515456/"] {
    height: 12px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
}

#zzzcode a[href="https://discord.com/users/625292873914515456/"] ~ div:first-child { position: relative; }
  
#zzzcode::after {
    display: block;
    content: "z";
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
    color: gray !important;
    width: 100%;
    text-align: center;
}
  
#zzzcode:hover::after { content: "zzzcode"; }

#zzzcode {
    #SongMood.sm-box {
        width: 800px;
        max-width: 90%;
        margin: auto;
        background: var(--sm-bg);
        color: var(--sm-txt);
        border-radius: 1rem;
        font-family: var(--sm-font-en), var(--sm-font-th), sans-serif;
        font-size: clamp(14px, 1vw, 18px);

        .sm-tab {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            padding: 1rem;
            border-block-end: 1px solid var(--sm-border);
            font-size: 0.825rem;
            line-height: 1;
            color: var(--sm-tabcolor);

            .sm-name {
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 1px;
            }

            .sm-tabicon {
                display: flex;
                gap: 1rem;
                align-items: center;

                ic[m], ic[s], ic[x] {
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    line-height: 1;
                    text-rendering: auto;
                    font-family: "Font Awesome 6 Free";
                }

                ic[m]::before {
                    content: "\f068";
                    font-weight: 900;
                    margin-block-end: -3px;
                }

                ic[s]::before {
                    content: "\f0c8";
                    font-weight: 400;
                }

                ic[x]::before {
                    content: "\f00d";
                    font-weight: 900;
                    font-size: 1rem;
                    margin-block-start: -0.125rem;
                }
            }
        }

        .sm-content {
            padding: 2rem;

            h1 {
                margin-block: 0;

                .pin1, .pin2 {
                    display: inline-block;
                    margin-block: -1rem 0;
                    rotate: -45deg;
                    
                    width: 0.75em;
                    aspect-ratio: 1;
                    background: url(https://em-content.zobj.net/source/microsoft/74/pushpin_1f4cc.png) center/contain no-repeat;
                }

                .pin1 {margin-inline: 0 1rem;}
                .pin2 {margin-inline: 1rem 0;}

                img { 
                    width: 1em;
                    margin-inline-start: 0.5rem;
                    margin-block-start: -5px;
                }

                &+br { display: none; }
            }

            hr { margin-block: 1rem; }

            details{
                margin-block: 1rem;
                &+br { display: none; }

                >summary {
                    list-style: none;
                    cursor: pointer;

                    display: flex;
                    gap: 1rem;

                    &::marker, &::-webkit-details-marker { display: none; }
                    >br, &+br { display: none; }

                    a:has(.sm-label)+br, a:has(.sm-label)>br, a:has(.sm-pic)+br, a:has(.sm-pic)>br { display: none; }

                    .sm-label {
                        position: relative;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        width: 150px;
                        aspect-ratio: 1;
                        border-radius: 1rem;
                        border: 2px solid var(--sm-border);
                        transition: all 1s ease;

                        i {
                            font-size: 100px;
                            line-height: 1;
                            color: var(--sm-mood-color);
                            -webkit-text-stroke: 2px var(--sm-stroke);
                            transition: all 1s ease;
                        }

                        &[style^="--sm-pic:"] {
                            background: var(--sm-pic) var(--sm-pos) / var(--sm-size) no-repeat !important;
                            overflow: hidden;

                            &::before {
                                content: "";
                                position: absolute;
                                inset: 0;
                                background: var(--sm-mood-color);
                                mask: linear-gradient(transparent 50%, black);
                                -webkit-mask: linear-gradient(transparent 50%, black);
                                opacity: 0;
                                transition: all 1s ease;
                            }

                            i {
                                font-size: 84px;
                                color: #fff !important;
                                transition: all 1s ease;
                                -webkit-text-stroke: 0;
                                opacity: 0;
                            }
                        }
                    }

                    .sm-song {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        border-radius: 1rem;
                        border: 2px solid var(--sm-border);
                        transition: all 1s ease;
                        text-align: center;

                        h1 {
                            line-height: 1.4;
                            transition: all .5s ease;
                        }
                    }

                    &:hover {
                        .sm-label { 
                            background: var(--sm-mood-color);
                            i { color: var(--sm-stroke); }

                            &[style^="--sm-pic:"] {
                                &::before { opacity: 0.75; }
                                &:hover i{ opacity: 0.9; }
                            }
                        }

                        .sm-song h1 {
                            color: var(--sm-mood-color);
                            c { color: var(--sm-mood-color1); }
                        }
                    }
                }

                .sm-ans {
                    margin: 1rem 0.5rem 2em;

                    p { margin-block-end: 0; }
                    iframe + br { display: none; }
                }

                &:last-of-type .sm-ans { margin-bottom: 0 !important; }
            }

            details[open] {
                >summary {
                    .sm-label { 
                        background: var(--sm-mood-color);
                        i { color: var(--sm-stroke); }

                        &[style^="--sm-pic:"] {
                            &::before { opacity: 0.75; }
                            &:hover i{ opacity: 0.9; }
                        }
                    }

                    .sm-song h1 {
                        color: var(--sm-mood-color);
                        c { color: var(--sm-mood-color1); }
                    }
                }
            }
        }
    }
}