@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Libre+Barcode+39&family=Orbitron:wght@500;900&display=swap');

:root {
    --pic: url("https://i.imgur.com/pI0yAa9.png");

    --blue: #3db4c1;
    --blue-light: #9ed9e0;
    --blue-rgb: rgba(0,133,150,1);
    --blue-rgba: rgba(0,133,150,0.1);

    --red: #c13f3d;
    --red-light: #e0a09e;
    --red-rgb: rgba(150,5,0,0.5);
    --red-rgba: rgba(150,5,0,0.1);
}

.ssneon, .sscontent, .ssitem, .sscost {
    border: 1px solid var(--blue);
    border-radius: 3px;
    box-shadow: 0 0 5px var(--blue), 0 0 5px var(--blue) inset;
    background: var(--blue-rgba);
}

.ssneon-red, .sscontent-red {
    border: 1px solid var(--red);
    border-radius: 3px;
    box-shadow: 0 0 5px var(--red), 0 0 5px var(--red) inset;
    background: var(--red-rgba);
}

.ssneon, .ssneon-red {
    box-sizing: border-box;
    background-blend-mode: overlay;
    padding: 50px;
}

.sspic {
    min-width: 150px;
    height: 200px;
    background: linear-gradient(var(--blue-rgb) 0 0), var(--pic) center/cover no-repeat;
}

.sspic-red {
    min-width: 150px;
    height: 200px;
    background: linear-gradient(var(--red-rgba) 0 0), var(--pic) center/cover no-repeat;
}

.sstop {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    grid-gap: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--blue);
}

.sstop-red {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    grid-gap: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--red);
}
    
.ssdata {
    font-family: 'Orbitron';
    font-size: 14px;
    color: var(--blue-light);
    letter-spacing: 2px;
    line-height: 1.2;
}

.ssdata-red {
    font-family: 'Orbitron';
    font-size: 14px;
    color: var(--red-light);
    letter-spacing: 2px;
    line-height: 1.2;
}

.ssname {
    font-weight: 900;
    font-size: 36px;
    color: white;
}

.ssbar {
    padding-top: 10px;
    font-family: 'Libre Barcode 39';
}

.ssbar::before {
    content: "secretservice";
}

.sstext {
    padding: 25px 0;
    border-bottom: 1px solid var(--blue);
    margin-bottom: 25px;
}

.sstext-red {
    padding: 25px 0;
    border-bottom: 1px solid var(--red);
    margin-bottom: 25px;
}

.ssbg {
    max-width: 90%;
    height: 350px;
    margin: auto;
    background: linear-gradient(rgba(19,19,19,0.75) 0 0),url(https://i.imgur.com/vc8RV6y.jpg) center/cover no-repeat;
    -webkit-mask-image: linear-gradient(black 80%, transparent);
    mask-image: linear-gradient(black 80%, transparent);
}

.sstopic {
    font-family: 'Orbitron';
    font-weight: bold;
    font-size: 36px;
}

.sscontent, .sscontent-red {
    margin: 15px auto;
    padding: 25px;
}

.sscost {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Orbitron';
    font-weight: bold;
    color: var(--blue-light);
    padding: 5px;
}

.ssitem {
    box-sizing: border-box;
    width: 150px;
    height: 200px;
    padding: 10px;
    background-blend-mode: overlay;
    background: linear-gradient(rgba(0,133,150,0.25) 0 0), var(--pic) center/contain no-repeat content-box;
}

.ssitemdata {
    border-top: 1px solid var(--blue);
    padding: 10px 0;
    margin-top: 10px;
    flex-grow: 1;
    height: 115px;
    overflow-y: auto;
}

#ssscroll::-webkit-scrollbar-track
{
	background-color: rgba(0,133,150,0);
}

#ssscroll::-webkit-scrollbar {
	width: 6px;
    height: 6px;
	background-color: rgba(0,0,0,0);
}

#ssscroll::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0);
}

#ssscroll.ssitemdata:hover::-webkit-scrollbar-thumb, #ssscroll:hover::-webkit-scrollbar-thumb {
    background-color: var(--blue);
}

#ssscroll.ssitemdata:hover::-webkit-scrollbar-track, #ssscroll:hover::-webkit-scrollbar-track {
	background-color: rgba(0,133,150,0.25);
}

#ssscroll.ssitemdata:hover::-webkit-scrollbar {
	width: 6px;
	background-color: #131313;
}

#ssscroll:hover::-webkit-scrollbar {
	height: 6px;
	background-color: #131313;
}

.ssdropup, .ssdropbtn {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
}

.ssdropbtn {

    outline: none;
    border: 1px solid var(--blue);
    box-shadow: 0 0 5px var(--blue), 0 0 5px var(--blue) inset;
    background: #111f20;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 3px !important;
    font-size: 18px;
}

.ssdropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    right: 5px;
    background-color: #111f20;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.ssdropup-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px;
}

.ssdropup-content a:hover {
    background-color: #0f2a2b;
}
  
.ssdropup:hover .ssdropup-content {
    display: block;
}

#sstag {
    display: inline-block;
    padding: 0 15px;
    border-radius: 25px;
    margin: 10px 10px 0 0;
    font-size: 15px;
}

#sstag.hacker, #sstag.technic, #sstag.medic, #sstag.none {
    margin-bottom: 10px;
}

.request {
    background-color: #c85151;
}

.request::before {
    content: "เบิกเท่านั้น";
}

.recipe {
    background-color: #d2802d;
}

.recipe::before {
    content: "ขอพิมพ์เขียวก่อน";
}

.customize {
    background-color: #c2963d;
}

.customize::before {
    content: "ดัดแปลงได้";
}

.hacker, .hacker-ask {
    background-color: #138656;
}

.hacker::before {
    content: "The Hacker";
}

.medic, .medic-ask {
    background-color: #1a7fb3;
}

.medic::before {
    content: "The Medic";
}

.technic, .technic-ask {
    background-color: #801ab3;
}

.technic::before {
    content: "The Technician";
}

.hacker-ask::before, .medic-ask::before, .technic-ask::before {
    content: "ขอให้สร้าง";
}

.upgrade {
    background-color: hsl(325, 52%, 50%);
}

.upgrade::before {
    content: "ใช้เพื่ออัปเกรดได้";
}

.none {
    background-color: var(--blue-light);
    color: black;
}

.none::before {
    content: "None";
}

ol.ssorder {
    margin: 0;
    padding-left: 25px;
}