@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-straight/css/uicons-bold-straight.css');

@font-face {
    font-family: 'FC SaveSpace';
    src: url('https://savant777.github.io/zoecode/font/FC%20SaveSpace%20Regular%20ver%201.01.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --elect-g: #2bb15c;
    --elect-y: #fced52;
    --elect-b: #000;
    --elect-w: #fff;
}

#Election0802 { position: relative; }
#Election0802 * { box-sizing: border-box; }

#Election0802 a[href="https://discord.com/users/625292873914515456/"] {
    height: 12px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
}

#Election0802 a[href="https://discord.com/users/625292873914515456/"] ~ div:first-child { position: relative; }
  
#Election0802::after {
    display: block;
    content: "z";
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
    color: gray !important;
    width: 100%;
    text-align: center;
}
  
#Election0802:hover::after { content: "zzzcode"; }

#Election0802 {
    #ElectThread.elect-box {
        width: 1000px;
        max-width: 100%;
        margin: auto;
        padding: min(4vw, 4rem);
        background: var(--elect-g);
        color: var(--elect-b);
        font-family: 'Sarabun', sans-serif;
        font-size: min(1.5vw, 17px);

        &::before {
            content: "";
            display: block;
            width: 50%;
            aspect-ratio: 500/95;
            background: url(https://iili.io/fLrCHV2.png) center/contain no-repeat;
            margin: min(2vw, 2rem) auto;
        }

        .elect-qt {
            max-width: fit-content;
            background: var(--elect-b);
            color: var(--elect-w);
            border-radius: 5vw;
            padding: min(0.5vw, 0.5rem) min(2vw, 2rem);
            margin: min(4vw, 4rem) auto min(3vw, 3rem);
            
            font-family: 'FC SaveSpace', sans-serif;
            font-size: min(3vw, 3rem);
            line-height: 1;
            text-align: center;
        }

        .elect-content {
            background: var(--elect-w);
            border: 2px solid;
            padding: min(1.5vw, 1rem);

            sm {
                color: red;
                font-size: min(1.2vw, 0.8rem);
                font-weight: bold;
            }
        }

        h1.elect-h1 {
            width: fit-content;
            max-width: 100%;
            background: var(--elect-b);
            color: var(--elect-w);
            
            font-family: 'FC SaveSpace', sans-serif;
            font-size: min(3vw, 3rem);
            font-weight: normal;
            line-height: 1;
            
            margin-block: 0;
            padding: 0 min(1.5vw, 1rem);

            &+br { display: none; }
        }
    }

    #ElectForm.elect-box {
        width: 600px;
        max-width: 100%;
        margin: auto;
        background: var(--elect-g);
        color: var(--elect-b);
        font-family: 'Sarabun', sans-serif;
        padding: 2rem;

        &::before {
            content: "";
            display: block;
            width: 300px;
            aspect-ratio: 500/95;
            margin: auto;
            background: url(https://iili.io/fLrCHV2.png) center/contain no-repeat;
            margin-block: 1rem 3rem;
        }

        .elect-q {
            display: flex;
            flex-wrap: wrap;
            margin-block: 0 1rem;

            &:has(+hr), &:last-child { margin-block: 0; }

            qtn {
                background: var(--elect-b);
                color: var(--elect-w);
                padding: 0.5rem 1rem;
                border: 2px solid var(--elect-b);

                &+br { display: none; }

                &[s] { width: fit-content; }
                &[s]~ans { flex: 1; }
                &[l], &[l]~ans { width: 100%; }
                
                p {
                    margin: 0;
                    color: var(--elect-y);
                    font-size: 0.8rem;
                }

                user-select: none;
            }

            ans {
                background: var(--elect-w);
                border: 2px solid;
                padding: 0.5rem 1rem;

                &+br { display: none; }
            }

            label {
                display: flex;
                flex: 1;
                background: var(--elect-w);
                border: 2px solid;
                pointer-events: none;

                &:last-child { border-inline-start: 0; }

                &+br { display: none; }

                input[type="checkbox"] {
                    position: relative;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 50.59px;
                    margin: 0;
                    aspect-ratio: 1;
                    border-inline-end: 2px solid;

                    user-select: none;
                    pointer-events: none;
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    
                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                    }

                    &:checked::before { background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22512%22%20height%3D%22512%22%20x%3D%220%22%20y%3D%220%22%20viewBox%3D%220%200%2024%2024%22%20style%3D%22enable-background%3Anew%200%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%20class%3D%22%22%3E%3Cg%3E%3Cpath%20d%3D%22M24%201.414%2022.586%200%2012%2010.586%201.414%200%200%201.414%2010.586%2012%200%2022.586%201.414%2024%2012%2013.414%2022.586%2024%2024%2022.586%2013.414%2012%2024%201.414z%22%20fill%3D%22%23000000%22%20opacity%3D%221%22%20data-original%3D%22%23000000%22%20class%3D%22%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E) center/80% no-repeat; }
                    &:focus { outline: transparent; }
                }

                div { padding: 0.5rem 1rem; }
            }
        }

        hr {
            background: transparent;
            border-block-start: 2px dashed var(--elect-b);
            margin-block: 2rem;
        }

        .elect-extra {
            text-align: center;
            font-weight: bold;
            color: var(--elect-y);
            margin-block: 0 1rem;
        }
    }
}
