@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --wots-primary-clr: #D4AF37;
    
    --wots-pic: transparent;
    --wots-pos: center;
    --wots-size: cover;

    --wots-path-bg: transparent;
    --wots-path-symbol: transparent;
}

#WhisperOfTheShadow { position: relative; }
#WhisperOfTheShadow * { box-sizing: border-box; }

#WhisperOfTheShadow a[href="https://discord.com/users/625292873914515456/"] {
    height: 13px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
}

#WhisperOfTheShadow a[href="https://discord.com/users/625292873914515456/"] ~ div:first-child { position: relative; }
  
#WhisperOfTheShadow::after {
    display: block;
    content: "✦";
    font-family: 'Kanit', sans-serif;
    font-size: 13px;
    color: gray !important;
    width: 100%;
    text-align: center;
}
  
#WhisperOfTheShadow:hover::after { content: "Whisper of The Shadow"; }

#WhisperOfTheShadow {
    #wots-role.wots-container {
        width: 650px;
        max-width: 90%;
        margin: auto;

        /* --- Lord of Mysteries --- */
        /* --- เส้นทางนักทำนาย (Seer) --- */
        &[pathway="นักทำนาย"] {
        --wots-primary-clr: #71717b;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1770629962/seq_9_ssv3hd.jpg);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1770612457/Fool_Symbol2_ydvwem.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "นักทำนาย";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — นักทำนาย";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — ตัวตลก";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — นักมายากล";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — ผู้ไร้หน้า";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — นักเชิดหุ่น";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — จอมเวทพิสดาร";}
        }

        /* --- เส้นทางหัวขโมย (Marauder) --- */
        &[pathway="หัวขโมย"] {
        --wots-primary-clr: #71717b;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771316058/image_1_c1o0ip.png);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771316056/width_550_hgdcwm.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "หัวขโมย";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — หัวขโมย";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — มิจฉาชีพ";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — นักถอดรหัส";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — ผู้ชิงไฟ";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — ผู้ชิงฝัน";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — ปรสิต";}
        }

        /* --- เส้นทางลูกศิษย์ (Apprentice) --- */
        &[pathway="ลูกศิษย์"] {
        --wots-primary-clr: #71717b;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771227220/image_j7bayx.png);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771227184/Door_Symbol2_la159u.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "ลูกศิษย์";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — ลูกศิษย์";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — นักตุกติก";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — โหราจารย์";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — อาลักษณ์";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — นักเดินทาง";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — จอมเวทลึกลับ";}
        }

        /* --- God Almighty --- */
        /* --- เส้นทางผู้ชม (Spectator) --- */
        &[pathway="ผู้ชม"] {
        --wots-primary-clr: #fe9a00;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1770780604/unnamed_t9cprq.jpg);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1770780495/Visionary_Symbol2_mmcflu.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "ผู้ชม";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — ผู้ชม";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — นักอ่านใจ";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — นักจิตบำบัด";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — นักสะกดจิต";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — นักท่องฝัน";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — จอมบงการ";}
        }

        /* --- เส้นทางนักขับขาน (Bard) --- */
        &[pathway="นักขับขาน"] {
        --wots-primary-clr: #fe9a00;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1770783143/sun_seq_9_v2_jwpz1h.jpg);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1770783110/Sun_Symbol2_smeglb.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "นักขับขาน";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — นักขับขาน";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — ผู้วิงวอนแสง";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — นักบวชสุริยัน";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — ผู้รับรอง";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — สมณะแห่งแสง";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — ผู้เจิดจรัส";}
        }

        /* --- เส้นทางกะลาสี (Sailor) --- */
        &[pathway="กะลาสี"] {
        --wots-primary-clr: #fe9a00;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1770619898/tyrrant_seq_5_v4_ejy0rv.jpg);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1770619961/Tyrant_Symbol2_osgium.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "กะลาสี";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — กะลาสี";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — ผู้บันดาลโทสะ";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — นักเดินเรือ";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — ผู้รับพรแห่งสายลม";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — ขุนเพลงสมุทร";}
        /*&[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — ขุนเพลงสมุทร";}*/
        }

        /* --- เส้นทางนักอ่าน (Reader) --- */
        &[pathway="นักอ่าน"] {
        --wots-primary-clr: #fe9a00;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771321926/white_tower_seq_8_kx9f68.jpg);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771321966/reader-logo_f9hqqv.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "นักอ่าน";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — นักอ่าน";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — นักตรรกศาสตร์";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — ผู้พิทักษ์ความรู้";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — ผู้รอบรู้";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — ผู้ชี้นำจิตวิญญาณ";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — นักพยากรณ์";}
        }

        /* --- เส้นทางผู้วิงวอนความลับ (Secrets Supplicant) --- */
        &[pathway="ผู้วิงวอนความลับ"] {
        --wots-primary-clr: #fe9a00;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771321294/unnamed_2_a0gbab.jpg);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771321380/hangman-logo_ikwqca.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "ผู้วิงวอนความลับ";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — ผู้วิงวอนความลับ";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — ผู้สดับ";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — นักบวชเงา";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — สังฆราชกุหลาบ";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — คนเลี้ยงแกะ";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — อัศวินมืด";}
        }

        /* --- Eternal Darkness --- */
        /* --- เส้นทางผู้ไม่นิทรา (Sleepless) --- */
        &[pathway="ผู้ไม่นิทรา"] {
        --wots-primary-clr: #1c398e;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771386207/darkness_seq_5_v2_phuxww.jpg);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771386173/Darkness_Symbol2_qzs7t2.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "ผู้ไม่นิทรา";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — ผู้ไม่นิทรา";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — นักกวีเที่ยงคืน";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — มารฝัน";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — ผู้ปลอบวิญญาณ";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — จอมเวทวิญญาณ";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — ผู้พิทักษ์ราตรี";}
        }

        /* --- เส้นทางผู้เก็บซากศพ (Corpse Collector) --- */
        &[pathway="ผู้เก็บซากศพ"] {
        --wots-primary-clr: #1c398e;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771386305/death_seq_2_-_v3_jedcw1.jpg);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771386274/Death_Symbol2_bazus4.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "ผู้เก็บซากศพ";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — ผู้เก็บซากศพ";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — นักขุดสุสาน";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — ผู้สื่อวิญญาณ";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — ผู้นำทางวิญญาณ";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — ผู้พิทักษ์ประตู";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — อมรณา";}
        }

        /* --- เส้นทางนักรบ (Warrior) --- */
        &[pathway="นักรบ"] {
        --wots-primary-clr: #1c398e;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771386423/twilight_giant_seq_8_v2_ogsrfl.jpg);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771386373/Twilight_Giant_Symbol2_hfmybg.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "นักรบ";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — นักรบ";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — ผู้วิวาท";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — เจ้าศาสตรา";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — อัศวินอรุณรุ่ง";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — ผู้พิทักษ์";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — นักล่าปีศาจ";}
        }

        /* --- Calamity of Destruction --- */
        /* --- เส้นทางนักฆ่า (Assassin) --- */
        &[pathway="นักฆ่า"] {
        --wots-primary-clr: #c10007;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771388221/demoness_seq_9_v2_iu31yn.jpg);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771388195/Demoness_Symbol2_z02wxy.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "นักฆ่า";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — นักฆ่า";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — นักกระตุ้น";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — แม่มด";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — สุขสม";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — ทุกข์ระทม";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — สิ้นหวัง";}
        }

        /* --- เส้นทางนักล่า (Hunter) --- */
        &[pathway="นักล่า"] {
        --wots-primary-clr: #c10007;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771388629/red_priest_seq_7_v2_irm2jw.jpg);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771388609/Red_Priest_Symbol2_bt4qaf.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "นักล่า";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — นักล่า";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — นักยั่วยุ";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — นักวางเพลิง";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — นักวางแผน";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — ยมทูต";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — อัศวินเลือดเหล็ก";}
        }

        /* --- Demon of Knowledge --- */
        /* --- เส้นทางผู้ส่องความลับ (Mystery Pryer) --- */
        &[pathway="ผู้ส่องความลับ"] {
        --wots-primary-clr: #59168b;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771390054/hermit_seq_1_mxb7ih.jpg);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771390011/Hermit_Symbol2_wqzrnl.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "ผู้ส่องความลับ";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — ผู้ส่องความลับ";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — ผู้ศึกษาความวุ่นวาย";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — จอมเวท";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — ศาสตราจารย์คัมภีร์";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — เจ้าจักรราศี";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — ปราชญ์ลี้ลับ";}
        }

        /* --- เส้นทางนักปราชญ์ (Savant) --- */
        &[pathway="นักปราชญ์"] {
        --wots-primary-clr: #59168b;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771389588/paragon_seq_5_whzdy8.jpg);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771389559/Paragon_Symbol2_y8cucj.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "นักปราชญ์";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — นักปราชญ์";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — นักโบราณคดี";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — นักประเมิน";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — ช่างฝีมือ";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — นักดาราศาสตร์";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — นักเล่นแร่แปรธาตุ";}
        }

        /* --- Goddess of Origin --- */
        /* --- เส้นทางนักเพาะปลูก (Planter) --- */
        &[pathway="นักเพาะปลูก"] {
        --wots-primary-clr: #009966;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771407622/mother_seq_9_jwhzco.jpg);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771407637/Mother_Symbol2_afdigd.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "นักเพาะปลูก";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — นักเพาะปลูก";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — แพทย์";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — นักบวชเก็บเกี่ยว";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — นักชีววิทยา";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — ดรูอิด";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — นักแปรธาตุโบราณ";}
        }

        /* --- เส้นทางเภสัชกร (Apothecary) --- */
        &[pathway="เภสัชกร"] {
        --wots-primary-clr: #009966;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771407595/moon_seq_9_q2damr.jpg);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771407581/Moon_Symbol2_xxfkrq.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "เภสัชกร";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — เภสัชกร";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — นักฝึกสัตว์";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — แวมไพร์";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — ศาสตราจารย์โอสถ";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — ปราชญ์สีชาด";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — ราชาหมอผี";}
        }

        /* --- Father of Devils --- */
        /* --- เส้นทางอาชญากร (Criminal) --- */
        &[pathway="อาชญากร"] {
        --wots-primary-clr: #ff637e;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771408035/abyss_seq_8_phicpl.jpg);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771408025/Abyss_Symbol2_m8zazv.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "อาชญากร";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — อาชญากร";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — เทวทูตปีกหัก";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — ฆาตกรต่อเนื่อง";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — ผู้ชั่วช้า";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — สาวกแห่งแรงกระหาย";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — ปีศาจ";}
        }

        /* --- เส้นทางนักโทษ (Prisoner) --- */
        &[pathway="นักโทษ"] {
        --wots-primary-clr: #ff637e;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771408076/chained_seq_5_v2_a9ipcn.jpg);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771408024/Chained_Symbol2_jynmlm.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "นักโทษ";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — นักโทษ";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — คนบ้า";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — มนุษย์หมาป่า";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — ซอมบี้";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — วิญญาณอาฆาต";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — หุ่นกระบอก";}
        }

        /* --- The Anarchy --- */
        /* --- เส้นทางนักกฎหมาย (Lawyer) --- */
        &[pathway="นักกฎหมาย"] {
        --wots-primary-clr: #79716b;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771407864/black_emperor_seq_8_htajmr.jpg);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771407814/Black_Emperor_Symbol2_gm4upv.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "นักกฎหมาย";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — นักกฎหมาย";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — คนเถื่อน";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — ผู้ติดสินบน";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — บารอนแห่งความเสื่อมเสีย";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — เจ้าแห่งความไร้ระเบียบ";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — เอิร์ลแห่งการร่วงหล่น";}
        }

        /* --- เส้นทางผู้ตัดสิน (Arbiter) --- */
        &[pathway="ผู้ตัดสิน"] {
        --wots-primary-clr: #79716b;
        --wots-path-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771407841/justiciar_seq_6_v2_ao8fxu.jpg);
        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771407811/Justiciar_Symbol2_tt9fi9.webp);
        .wots-player > .wots-info > .wots-pathway > .path-info > div::before { content: "ผู้ตัดสิน";}
        &[lv="9"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 9 — ผู้ตัดสิน";}
        &[lv="8"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 8 — เจ้าพนักงาน";}
        &[lv="7"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 7 — นักสอบสวน";}
        &[lv="6"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 6 — ผู้พิพากษา";}
        &[lv="5"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 5 — อัศวินวินัย";}
        &[lv="4"] .wots-player > .wots-info > .wots-pathway > .path-info > div::after { content: "ลำดับ 4 — จอมเวทประกาศิต";}
        }

        --wots-primary-hsl: from var(--wots-primary-clr) h s l;

        --wots-bg-clr: hsl(from var(--wots-primary-clr) calc(h - 15.86) 18.18% 8.63% / 0.8);
        --wots-bg-darker: hsl(from var(--wots-primary-clr) h 15% 5% / 0.8);
        --wots-bg-lighter: hsl(from var(--wots-primary-clr) h 15% 10% / 0.7);

        --wots-primary-gray: hsl(from var(--wots-primary-clr) calc(h + 175) 2% 29% / 0.03);

        --wots-txt-1: hsl(from var(--wots-primary-clr) h 82% 78%);
        --wots-txt-2: hsl(from var(--wots-primary-clr) h 96% 76% / 0.9);

        --wots-shadow-base: from var(--wots-primary-clr) h 96% 56%;

        .wots-player {
            display: flex;
            column-gap: 1rem;
            margin-block: 0 1rem;

            .wots-pic {
                flex-shrink: 0;
                width: 175px;
                aspect-ratio: 1;
                border-radius: 0.125rem;
                border: 1px solid hsl(var(--wots-primary-hsl) / 0.5);
                background: var(--wots-pic) var(--wots-pos)/var(--wots-size) no-repeat;
            }

            .wots-info {
                flex: 1;
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                justify-content: flex-end;
                font-family: 'Kanit', sans-serif;

                .wots-name {
                    font-weight: 600;
                    font-size: 3.5rem;
                    line-height: 1;
                    letter-spacing: 0.025em;
                    font-style: italic;
                    
                    background: linear-gradient(135deg, hsl(from var(--wots-primary-clr) h s calc(l + 8)), var(--wots-primary-clr) 40%, hsl(from var(--wots-primary-clr) h calc(s - 15) calc(l + 4)));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }

                .wots-pathway {
                    position: relative;
                    border: 1px solid hsl(var(--wots-primary-hsl) / 0.3);
                    border-radius: 0.125rem;
                    background-color: var(--wots-bg-clr);
                    overflow: hidden;

                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        opacity: 0.35;
                        background: var(--wots-path-bg) center/cover no-repeat;
                    }

                    .path-info {
                        position: relative;
                        display: flex;
                        align-items: center;
                        column-gap: 0.75rem;
                        padding: 0.75rem;
                        background: linear-gradient(to right, var(--wots-bg-darker), var(--wots-bg-lighter), var(--wots-bg-darker));

                        &::before {
                            content: "";
                            width: 2.5rem;
                            aspect-ratio: 1;
                            background: var(--wots-path-symbol) center/contain no-repeat;
                            border-radius: 50%;
                            border: 1px solid hsl(var(--wots-primary-hsl) / 0.3);
                            background-color: var(--wots-bg-clr);
                        }

                        div::before {
                            display: block;
                            font-size: 1rem;
                            line-height: 1.5;
                            color: var(--wots-txt-1);
                            filter: drop-shadow(0 0 6px hsl(var(--wots-shadow-base) / 0.7));
                        }

                        div::after {
                            display: block;
                            font-size: 0.875rem;
                            line-height: 1.25;
                            color: var(--wots-txt-2);
                            filter: drop-shadow(0 0 6px hsl(var(--wots-shadow-base) / 0.5));
                        }
                    }
                }
            }
        }

        .wots-box {
            background: linear-gradient(135deg, hsl(var(--wots-primary-hsl) / 0.02), transparent 50%), linear-gradient(225deg, var(--wots-primary-gray), transparent 50%), linear-gradient(135deg, hsl(var(--wots-primary-hsl) / 0.08), transparent 40% 60%, hsl(var(--wots-primary-hsl) / 0.02));
            background-color: var(--wots-bg-clr);
            border: 1px solid hsl(var(--wots-primary-hsl) / 0.3);
            border-radius: 0.125rem;
            box-shadow: 0 0 #0000, 0 0 #0000, inset 0 0 20px hsl(var(--wots-primary-hsl) / 0.08);
            font-family: 'Google Sans', sans-serif;
            font-size: 1rem;
            
            &.role {
                margin-block: 0 1rem;
                padding: 2rem;
                color: #fff;
            }

            &.ps {
                padding: 1rem 2rem;
                color: var(--wots-txt-1);
            }
        }

        iframe {
            display: block;
            margin: 1rem auto 0;
            max-width: 100% !important;
            min-height: 76px !important;

            &+br { display: none; }
        }
    }

    #wots-profile.wots-container {
        width: 800px;
        max-width: 98%;
        margin: auto;

        --wots-primary-hsl: from var(--wots-primary-clr) h s l;
        
        --wots-bg-clr: hsl(from var(--wots-primary-clr) calc(h - 15.86) 18.18% 8.63% / 0.8);
        --wots-bg-darker: hsl(from var(--wots-primary-clr) h 15% 5% / 0.8);
        --wots-bg-lighter: hsl(from var(--wots-primary-clr) h 15% 10% / 0.7);
        
        --wots-primary-gray: hsl(from var(--wots-primary-clr) calc(h + 175) 2% 29% / 0.03);
        
        --wots-txt-1: hsl(from var(--wots-primary-clr) h 82% 78%);

        .wots-basic-info {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin-block: 0 1rem;

            .wots-pic {
                flex-shrink: 0;
                width: 175px;
                aspect-ratio: 1;
                border-radius: 0.125rem;
                border: 1px solid hsl(var(--wots-primary-hsl) / 0.5);
                background: var(--wots-pic) var(--wots-pos)/var(--wots-size) no-repeat;
            }

            .wots-info-mid {
                flex: 1 0 400px;
                display: flex;
                flex-direction: column;
                row-gap: 1.5rem;
                justify-content: flex-end;

                .wots-info-name {
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.5rem;
                    
                    font-family: 'Kanit', sans-serif;
                    line-height: 1;

                    .wots-name {
                        font-weight: 600;
                        font-size: 3.5rem;
                        letter-spacing: 0.025em;
                        font-style: italic;
                        
                        background: linear-gradient(135deg, hsl(from var(--wots-primary-clr) h s calc(l + 8)), var(--wots-primary-clr) 40%, hsl(from var(--wots-primary-clr) h calc(s - 15) calc(l + 4)));
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                    }

                    .wots-dp-name {
                        font-weight: 300;
                        font-size: 1.1rem;
                        color: #ccc;

                        &::before { content: "✦ — ";}

                        &::after {
                            content: "(previous life)";
                            font-size: 0.625rem;
                            color: var(--wots-txt-1);
                            margin-inline-start: 5px;
                        }
                    }
                }

                .wots-info-tags {
                    display: flex;
                    column-gap: 1rem;

                    .info-tags {
                        position: relative;
                        font-family: 'Google Sans', sans-serif;
                        font-size: 1rem;
                        
                        width: max-content;
                        color: var(--wots-txt-1);
                        background: linear-gradient(135deg, hsl(var(--wots-primary-hsl) / 0.02), transparent 50%), linear-gradient(225deg, var(--wots-primary-gray), transparent 50%), linear-gradient(135deg, hsl(var(--wots-primary-hsl) / 0.08), transparent 40% 60%, hsl(var(--wots-primary-hsl) / 0.02));
                        background-color: var(--wots-bg-clr);
                        border: 1px solid hsl(var(--wots-primary-hsl) / 0.3);
                        padding: 0.25rem 1rem;
                        margin-block: 0 1rem;

                        &::after {
                            content: "✦ " attr(data);
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            transform: translateY(calc(100% + 0.3rem));
                            font-family: 'Kanit', sans-serif;
                            font-size: 0.7rem;
                            line-height: 1;
                            color: #ccc;
                        }
                    }
                }
            }

            .wots-info-last {
                position: relative;
                flex: 1;
                min-width: 150px;
                display: flex;
                flex-direction: column;
                padding-bottom: 1rem;

                &[church="0"] {
                    --wots-church-clr: #D4AF37;
                    --wots-church-bg: transparent;
                    .wots-info-church > div::before { display: none; }
                    .wots-info-church > div::after { content: "ไม่มีศาสนา"; }
                }

                &[church="1"] {
                    --wots-church-clr: #9333ea;
                    --wots-church-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1770704166/fool_3_rkawkr.jpg);
                    --wots-church-symbol: url(https://iili.io/qKTlQP2.png);
                    .wots-info-church > div::after { content: "โบสถ์คนโง่"; }
                }

                &[church="2"] {
                    --wots-church-clr: #b91c1c;
                    --wots-church-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1770699103/darkness_euxpng.jpg);
                    --wots-church-symbol: url(https://iili.io/qKTlLMl.png);
                    .wots-info-church > div::after { content: "โบสถ์อันธกาลนิรันดิ์";max-width: 75%; }
                }

                &[church="3"] {
                    --wots-church-clr: #059669;
                    --wots-church-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1770703338/moon_wnbmaa.jpg);
                    --wots-church-symbol: url(https://iili.io/qKTl6wG.png);
                    .wots-info-church > div::after { content: "โบสถ์พระแม่ธรณี"; }
                }

                &[church="4"] {
                    --wots-church-clr: #2563eb;
                    --wots-church-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1770699514/the_tyrrant_xa11dj.jpg);
                    --wots-church-symbol: url(https://iili.io/qKTltFS.png);
                    .wots-info-church > div::after { content: "โบสถ์เทพวายุสลาตัน"; }
                }

                &[church="5"] {
                    --wots-church-clr: #f59e0b;
                    --wots-church-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1770703215/sun_seq_2_v2_oebsiv.jpg);
                    --wots-church-symbol: url(https://iili.io/qKTlbS9.png);
                    .wots-info-church > div::after { content: "โบสถ์สุริยันเจิดจรัส"; }
                }

                &[church="6"] {
                    --wots-church-clr: #94a3b8;
                    --wots-church-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1770699794/paragon_qknpel.jpg);
                    --wots-church-symbol: url(https://iili.io/qKTlp9e.png);
                    .wots-info-church > div::after { content: "โบสถ์เทพจักรกลไอน้ำ";max-width: 95%; }
                }

                &[church="7"] {
                    --wots-church-clr: #b45309;
                    --wots-church-bg: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1770704000/white_tower2_mgfpjt.webp);
                    --wots-church-symbol: url(https://iili.io/qKTlyAu.png);
                    .wots-info-church > div::after { content: "โบสถ์เทพปัญญาความรู้"; }
                }

                --wots-church-hsl: from var(--wots-church-clr) h s l;
        
                --wots-bg-clr: hsl(from var(--wots-church-clr) calc(h - 15.86) 18.18% 8.63% / 0.8);
                --wots-bg-darker: hsl(from var(--wots-church-clr) h 15% 5% / 0.8);
                --wots-bg-lighter: hsl(from var(--wots-church-clr) h 15% 10% / 0.7);
        
                --wots-txt-1: hsl(from var(--wots-church-clr) h 82% 78%);

                &::after {
                    content: "✦ ศาสนา";
                    display: block;
                    position: absolute;
                    bottom: 0.05rem;
                    font-family: 'Kanit', sans-serif;
                    font-size: 0.7rem;
                    line-height: 1;
                    color: #ccc;
                }

                .wots-info-church {
                    position: relative;
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-height: min(5.5rem, calc(5vw + 1.5rem));
                    background-color: var(--wots-bg-clr);
                    border: 1px solid hsl(var(--wots-church-hsl) / 0.3);
                    border-radius: 0.125rem;
                    overflow: hidden;

                    div {
                        position: relative;
                        z-index: 2;
                        flex: 1;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 0.25rem;
                        justify-content: center;
                        align-items: center;
                        padding: 0.75rem;

                        &::before {
                            content: "";
                            width: min(4rem, 5vw);
                            aspect-ratio: 1;
                            background: var(--wots-church-symbol) center / contain no-repeat;
                        }

                        &::after {
                            font-family: 'Google Sans', sans-serif;
                            font-size: 1rem;
                            color: var(--wots-txt-1);
                            text-align: center;
                        }
                    }

                    &::before, &::after {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        inset: 0;
                    }

                    &::before {
                        opacity: 0.35;
                        background: var(--wots-church-bg) center/cover no-repeat;
                    }

                    &::after { background: linear-gradient(to right, var(--wots-bg-darker), var(--wots-bg-lighter), var(--wots-bg-darker)); }
                }
            }
        }

        section.wots-info {
            margin-block: 0 1rem;

            &:last-child { margin-block: 0 0.25rem !important; }
            &>br,&+br { display: none; }

            h1 {
                margin-block: min(1.5rem, 1.5vw) 1rem;
                font-family: 'Kanit', sans-serif;
                font-weight: 600;
                font-size: 1.5rem;
                line-height: 1;
                letter-spacing: 0.1rem;
                color: var(--wots-txt-1);

                &+br { display: none; }
            }

            .wots-box {
                background: linear-gradient(135deg, hsl(var(--wots-primary-hsl) / 0.02), transparent 50%), linear-gradient(225deg, var(--wots-primary-gray), transparent 50%), linear-gradient(135deg, hsl(var(--wots-primary-hsl) / 0.08), transparent 40% 60%, hsl(var(--wots-primary-hsl) / 0.02));
                background-color: var(--wots-bg-clr);
                border: 1px solid hsl(var(--wots-primary-hsl) / 0.3);
                border-radius: 0.125rem;
                box-shadow: 0 0 #0000, 0 0 #0000, inset 0 0 20px hsl(var(--wots-primary-hsl) / 0.08);
                font-family: 'Google Sans', sans-serif;
                font-size: 1rem;
                padding: 2rem;
                color: #fff;

                ul {
                    margin-block: 0;
                    padding-left: 1.125rem;
                }
            }

            .wots-path-tags {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;

                .path-tags {
                    /* --- Lord of Mysteries --- */
                    /* --- เส้นทางนักทำนาย (Seer) --- */
                    &[pathway="นักทำนาย"] {
                        --wots-path-clr: #71717b;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1770612457/Fool_Symbol2_ydvwem.webp);
                        div::before { content: "นักทำนาย";}
                    }

                    /* --- เส้นทางหัวขโมย (Marauder) --- */
                    &[pathway="หัวขโมย"] {
                        --wots-path-clr: #71717b;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771316056/width_550_hgdcwm.webp);
                        div::before { content: "หัวขโมย";}
                    }

                    /* --- เส้นทางลูกศิษย์ (Apprentice) --- */
                    &[pathway="ลูกศิษย์"] {
                        --wots-path-clr: #71717b;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771227184/Door_Symbol2_la159u.webp);
                        div::before { content: "ลูกศิษย์";}
                    }

                    /* --- God Almighty --- */
                    /* --- เส้นทางผู้ชม (Spectator) --- */
                    &[pathway="ผู้ชม"] {
                        --wots-path-clr: #fe9a00;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1770780495/Visionary_Symbol2_mmcflu.webp);
                        div::before { content: "ผู้ชม";}
                    }

                    /* --- เส้นทางนักขับขาน (Bard) --- */
                    &[pathway="นักขับขาน"] {
                        --wots-path-clr: #fe9a00;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1770783110/Sun_Symbol2_smeglb.webp);
                        div::before { content: "นักขับขาน";}
                    }

                    /* --- เส้นทางกะลาสี (Sailor) --- */
                    &[pathway="กะลาสี"] {
                        --wots-path-clr: #fe9a00;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1770619961/Tyrant_Symbol2_osgium.webp);
                        div::before { content: "กะลาสี";}
                    }

                    /* --- เส้นทางนักอ่าน (Reader) --- */
                    &[pathway="นักอ่าน"] {
                        --wots-path-clr: #fe9a00;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771321966/reader-logo_f9hqqv.webp);
                        div::before { content: "นักอ่าน";}
                    }

                    /* --- เส้นทางผู้วิงวอนความลับ (Secrets Supplicant) --- */
                    &[pathway="ผู้วิงวอนความลับ"] {
                        --wots-path-clr: #fe9a00;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771321380/hangman-logo_ikwqca.webp);
                        div::before { content: "ผู้วิงวอนความลับ";}
                    }

                    /* --- Eternal Darkness --- */
                    /* --- เส้นทางผู้ไม่นิทรา (Sleepless) --- */
                    &[pathway="ผู้ไม่นิทรา"] {
                        --wots-path-clr: #1c398e;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771386173/Darkness_Symbol2_qzs7t2.webp);
                        div::before { content: "ผู้ไม่นิทรา";}
                    }

                    /* --- เส้นทางผู้เก็บซากศพ (Corpse Collector) --- */
                    &[pathway="ผู้เก็บซากศพ"] {
                        --wots-path-clr: #1c398e;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771386274/Death_Symbol2_bazus4.webp);
                        div::before { content: "ผู้เก็บซากศพ";}
                    }

                    /* --- เส้นทางนักรบ (Warrior) --- */
                    &[pathway="นักรบ"] {
                        --wots-path-clr: #1c398e;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771386373/Twilight_Giant_Symbol2_hfmybg.webp);
                        div::before { content: "นักรบ";}
                    }

                    /* --- Calamity of Destruction --- */
                    /* --- เส้นทางนักฆ่า (Assassin) --- */
                    &[pathway="นักฆ่า"] {
                        --wots-path-clr: #c10007;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771388195/Demoness_Symbol2_z02wxy.webp);
                        div::before { content: "นักฆ่า";}
                    }

                    /* --- เส้นทางนักล่า (Hunter) --- */
                    &[pathway="นักล่า"] {
                        --wots-path-clr: #c10007;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771388609/Red_Priest_Symbol2_bt4qaf.webp);
                        div::before { content: "นักล่า";}
                    }

                    /* --- Demon of Knowledge --- */
                    /* --- เส้นทางผู้ส่องความลับ (Mystery Pryer) --- */
                    &[pathway="ผู้ส่องความลับ"] {
                        --wots-path-clr: #59168b;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771390011/Hermit_Symbol2_wqzrnl.webp);
                        div::before { content: "ผู้ส่องความลับ";}
                    }

                    /* --- เส้นทางนักปราชญ์ (Savant) --- */
                    &[pathway="นักปราชญ์"] {
                        --wots-path-clr: #59168b;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771389559/Paragon_Symbol2_y8cucj.webp);
                        div::before { content: "นักปราชญ์";}
                    }

                    /* --- Goddess of Origin --- */
                    /* --- เส้นทางนักเพาะปลูก (Planter) --- */
                    &[pathway="นักเพาะปลูก"] {
                        --wots-path-clr: #009966;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771407637/Mother_Symbol2_afdigd.webp);
                        div::before { content: "นักเพาะปลูก";}
                    }

                    /* --- เส้นทางเภสัชกร (Apothecary) --- */
                    &[pathway="เภสัชกร"] {
                        --wots-path-clr: #009966;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771407581/Moon_Symbol2_xxfkrq.webp);
                        div::before { content: "เภสัชกร";}
                    }

                    /* --- Father of Devils --- */
                    /* --- เส้นทางอาชญากร (Criminal) --- */
                    &[pathway="อาชญากร"] {
                        --wots-path-clr: #ff637e;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771408025/Abyss_Symbol2_m8zazv.webp);
                        div::before { content: "อาชญากร";}
                    }

                    /* --- เส้นทางนักโทษ (Prisoner) --- */
                    &[pathway="นักโทษ"] {
                        --wots-path-clr: #ff637e;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771408024/Chained_Symbol2_jynmlm.webp);
                        div::before { content: "นักโทษ";}
                    }

                    /* --- The Anarchy --- */
                    /* --- เส้นทางนักกฎหมาย (Lawyer) --- */
                    &[pathway="นักกฎหมาย"] {
                        --wots-path-clr: #79716b;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771407814/Black_Emperor_Symbol2_gm4upv.webp);
                        div::before { content: "นักกฎหมาย";}
                    }

                    /* --- เส้นทางผู้ตัดสิน (Arbiter) --- */
                    &[pathway="ผู้ตัดสิน"] {
                        --wots-path-clr: #79716b;
                        --wots-path-symbol: url(https://res.cloudinary.com/dehp6efwc/image/upload/v1771407811/Justiciar_Symbol2_tt9fi9.webp);
                        div::before { content: "ผู้ตัดสิน";}
                    }

                    --wots-path-hsl: from var(--wots-path-clr) h s l;
                    --wots-bg-clr: hsl(from var(--wots-path-clr) calc(h - 15.86) 18.18% 8.63% / 0.8);
                    --wots-path-gray: hsl(from var(--wots-path-clr) calc(h + 175) 2% 29% / 0.03);
                    --wots-txt-1: hsl(from var(--wots-path-clr) h 82% 78%);
                    
                    position: relative;
                    font-family: 'Google Sans', sans-serif;
                    font-size: 1rem;
                    flex: 1;
                    color: var(--wots-txt-1);
                    background: linear-gradient(135deg, hsl(var(--wots-path-hsl) / 0.02), transparent 50%), linear-gradient(225deg, var(--wots-path-gray), transparent 50%), linear-gradient(135deg, hsl(var(--wots-path-hsl) / 0.08), transparent 40% 60%, hsl(var(--wots-path-hsl) / 0.02));
                    background-color: var(--wots-bg-clr);
                    border: 1px solid hsl(var(--wots-path-hsl) / 0.3);
                    padding: 0.75rem;
                    margin-block: 0 1rem;
                    display: flex;
                    align-items: center;
                    column-gap: 0.75rem;

                    &::before {
                        content: "";
                        width: 2.5rem;
                        aspect-ratio: 1;
                        background: var(--wots-path-symbol) center/contain no-repeat;
                    }

                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transform: translateY(calc(100% + 0.3rem));
                        font-family: 'Kanit', sans-serif;
                        font-size: 0.7rem;
                        line-height: 1;
                        color: #ccc;
                    }

                    &:nth-child(1)::after { content: "✦ อันดับ 1"; }
                    &:nth-child(2)::after { content: "✦ อันดับ 2"; }
                    &:nth-child(3)::after { content: "✦ อันดับ 3"; }
                }
            }
        }
    }
}