/* ==== ITEM ====*/

.item[name="vox42-1"] { --cbitem: url(https://iili.io/2jHPdYu.png); }
.item[name="vox42-2"] { --cbitem: url(https://iili.io/2jHPo41.png); }
.item[name="vox42-3"] { --cbitem: url(https://iili.io/2jHP5jR.png); }
.item[name="vox42-4"] { --cbitem: url(https://iili.io/2jHPwn2.png); }

.item[name="zukipernova-1"] { --cbitem: url(https://iili.io/2jzliP9.png); }
.item[name="zukipernova-2"] { --cbitem: url(https://iili.io/2jzlD9j.png); }
.item[name="zukipernova-3"] { --cbitem: url(https://iili.io/2jz0qAv.png); }
.item[name="zukipernova-4"] { --cbitem: url(https://iili.io/2jz00VS.png); }

.item[name="truelove-1"] { --cbitem: url(https://iili.io/2wS0aV9.png); }
.item[name="truelove-2"] { --cbitem: url(https://iili.io/2wS0Yo7.png); }
.item[name="truelove-3"] { --cbitem: url(https://iili.io/2wS0cPe.png); }
.item[name="truelove-4"] { --cbitem: url(https://iili.io/2wS05tS.png); }

.item[name="finn42-1"] { --cbitem: url(https://iili.io/2wP1CqQ.png); }
.item[name="finn42-2"] { --cbitem: url(https://iili.io/2wP13mu.png); }
.item[name="finn42-3"] { --cbitem: url(https://iili.io/2wP1fXj.png); }
.item[name="finn42-4"] { --cbitem: url(https://iili.io/2wP1n1V.png); }

.item[name="nekostar-1"] { --cbitem: url(https://iili.io/2wPel4e.png); }
.item[name="nekostar-2"] { --cbitem: url(https://iili.io/2wPe13u.png); }
.item[name="nekostar-3"] { --cbitem: url(https://iili.io/2wPeEYb.png); }
.item[name="nekostar-4"] { --cbitem: url(https://iili.io/2wPecG9.png); }

.item[name="megaxlr-1"] { --cbitem: url(https://iili.io/2wP4xee.png); }
.item[name="megaxlr-2"] { --cbitem: url(https://iili.io/2wP4zmu.png); }
.item[name="megaxlr-3"] { --cbitem: url(https://iili.io/2wP4Tzb.png); }
.item[name="megaxlr-4"] { --cbitem: url(https://iili.io/2wP4nd7.png); }
.item[name="megaxlr-5"] { --cbitem: url(https://iili.io/2wiVqbt.png); }
.item[name="megaxlr-6"] { --cbitem: url(https://iili.io/2wiVFJp.png); }
.item[name="megaxlr-7"] { --cbitem: url(https://iili.io/2wiVK5N.png); }
.item[name="megaxlr-8"] { --cbitem: url(https://iili.io/2wiVfeI.png); }
.item[name="megaxlr-9"] { --cbitem: url(https://iili.io/2wiVCzX.png); }

.item[name="morninvirus-1"] { --cbitem: url(https://iili.io/2NIkojR.png); }
.item[name="morninvirus-2"] { --cbitem: url(https://iili.io/2NIknTv.png); }
.item[name="morninvirus-3"] { --cbitem: url(https://iili.io/2NIkK3F.png); }
.item[name="morninvirus-4"] { --cbitem: url(https://iili.io/2NIkByJ.png); }
.item[name="morninvirus-5"] { --cbitem: url(https://iili.io/2NIku4t.png); }
.item[name="morninvirus-6"] { --cbitem: url(https://iili.io/2NIkR3X.png); }
.item[name="morninvirus-7"] { --cbitem: url(https://iili.io/2NIk5an.png); }