@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/rounded-elegance');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');

:root {
    --apt-primary: red;
    --apt-accent: #000;
    --apt-bg: #fff;

    --apt-pic: gray;
    --apt-pos: center;
    --apt-size: cover;
}

#Apartment { position: relative; }
#Apartment * { box-sizing: border-box; }

#Apartment a[href="https://discord.com/users/625292873914515456/"] {
    height: 12px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
}

#Apartment a[href="https://discord.com/users/625292873914515456/"] ~ div:first-child { position: relative; }
  
#Apartment::after {
    display: block;
    content: "✩";
    font-family: 'Rounded Elegance', sans-serif;
    font-size: x-small;
    color: gray !important;
    width: 100%;
    text-align: center;
}
  
#Apartment:hover::after { content: "© Early Birds Co."; }

#Apartment {
    #apt-role.apt-box {
        width: calc(650px + 6rem);
        max-width: 100%;
        margin: auto;
        margin-block-end: 0.25rem;
        padding: 2rem 3rem;
        background: var(--apt-bg);

        font-family: 'Bai Jamjuree', sans-serif;
        color: var(--apt-accent);
        
        .apt-head {
            display: flex;
            gap: 1rem;
            padding-inline: 1rem;
            font-family: 'Mitr', sans-serif;
            font-weight: 200;

            i { color: var(--apt-primary); }

            div:last-child {
                margin-left: auto;
                user-select: none;
                pointer-events: none;

                i:not(:last-child) { color: var(--apt-accent) !important; }
            }
        }

        .apt-pic-grid {
            width: 100%;
            aspect-ratio: 16/9;
            margin-block: 0.5rem;
            display: grid;
            gap: 0.75rem;
            grid-template: 'a b' 2fr 'a c' 3fr / 3fr 2fr;

            .apt-pic-1, .apt-pic-2, .apt-pic-3{
                border-radius: 1rem;
                border: clamp(2px, 0.2vw, 3px) solid var(--apt-accent);
                background: var(--apt-pic) var(--apt-pos)/var(--apt-size) no-repeat;
            }

            .apt-pic-1 { grid-area: a;}

            .apt-pic-2 { 
                position: relative;
                grid-area: b;

                &::before {
                    content: "Riverside Heights";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(calc(50% + clamp(16px, 1vw, 17px)), -50%) rotate(-90deg);

                    width: calc(80% - 1rem);
                    padding: 0.5rem 0.5rem 0.6rem 0.4rem;
                    border-radius: 0 0 1rem 1rem;

                    font-family:'Rounded Elegance', sans-serif;
                    font-size: clamp(9px, 0.7vw, 12px);
                    line-height: 1;
                    letter-spacing: 1px;
                    text-align: center;
                }
            }

            .apt-pic-3 {
                position: relative;
                grid-area: c;

                .apt-room {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(calc(50% + clamp(16px, 1vw, 17px)), -50%) rotate(-90deg);

                    width: calc(80% - 1rem);
                    background: var(--apt-primary);
                    padding: 0.5rem 0.5rem 0.6rem 0.4rem;
                    border-radius: 0 0 1rem 1rem;
                    
                    font-family:'Rounded Elegance', sans-serif;
                    font-size: clamp(9px, 0.7vw, 12px);
                    line-height: 1;
                    letter-spacing: 1px;
                    text-align: center;
                    color: var(--apt-bg);

                    i.fa-key { margin-inline-end: 0.25rem; }
                }
            }
        }

        .apt-info {
            display: flex;
            gap: 1rem;
            padding-inline: 2rem 1rem;
            margin-block-start: -3rem;

            .apt-pfpic {
                position: relative;
                flex-shrink: 0;
                width: 125px;
                height: 125px;
                background: var(--apt-pic) var(--apt-pos)/var(--apt-size) no-repeat;
                border: clamp(2px, 0.2vw, 3px) solid var(--apt-accent);
                border-radius: 50%;

                &::before {
                    content: "+";
                    position: absolute;
                    bottom: 2%;
                    right: 2%;

                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    background: var(--apt-primary);
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-size: 28px;
                    line-height: 1;
                    color: var(--apt-bg);
                }
            }

            .apt-nameset {
                position: relative;
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                
                padding-block: 1rem;
                margin-block-start: 2rem;

                font-family: 'Mitr', sans-serif;
                font-weight: 200;
                line-height: 1;

                .apt-name {
                    font-weight: normal;
                    font-size: 28px;
                    text-transform: uppercase;
                }

                .apt-gear {
                    position: absolute;
                    top: 2rem;
                    right: 0;
                }
            }
        }

        .apt-content {
            display: flex;
            margin-block: 2rem;
            padding-inline: 1rem;
        }

        .apt-psset {
            display: flex;
            gap: 1rem;
            background: var(--apt-primary);
            border-radius: 1.5rem;
            padding: 0.25rem 1rem;
            color: var(--apt-bg);
            margin-block-end: 1rem;

            .apt-ps { flex: 1; }
            .apt-send {
                padding-block-start: 0.4rem;

                i.fa-paper-plane {
                    transform: rotate(45deg);
                }
            }
        }
    }

    #apt-reg.apt-box {
        width: 1000px;
        max-width: 100%;
        margin: auto;
        background: var(--apt-bg);
        padding: 3rem;
        
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        font-family: 'Bai Jamjuree', sans-serif;
        color: var(--apt-accent);

        .apt-header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding-inline: 1rem;
            font-family: 'Rounded Elegance', sans-serif;
            font-weight: 600;
            letter-spacing: 1px;
        }

        .apt-tabs {
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 0.25rem 1rem;
            background: var(--apt-accent);
            color: var(--apt-bg);
            border-radius: 1.5rem;
            
            font-family: 'Rounded Elegance', sans-serif;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;

            div:first-child {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                div { padding-block-start: 0.2rem; }
            }

            div:last-child {
                display: flex;
                align-items: center;
                gap: 0.25rem;

                i.fa-bag-shopping { padding-block-start: 0.2rem; }
                i.fa-user { margin-inline-end: -0.1rem; }
            }
        }

        section + br { display: none; }

        .apt-section {
            margin-block-end: 1rem;

            .apt-topic {
                padding-inline: 1rem;
                padding-block-end: 0.5rem;
                margin-block-end: 1rem;
                border-block-end: 2px solid var(--apt-accent);
                
                font-family: 'Mitr', sans-serif;
                text-transform: uppercase;
            }

            .apt-grid {
                display: grid;
                gap: 0.5rem;
                grid-template-columns: fit-content(16.67%) repeat(5, 1fr);
                align-items: baseline;
                padding-inline-start: 1rem;

                .apt-pic {
                    grid-area: 1/5/7/7;
                    align-self: normal;
                    min-width: 155px;
                    border: clamp(2px, 0.2vw, 3px) solid var(--apt-accent);
                    border-radius: 1rem;
                    margin: 0 0.25rem 0.25rem 0.25rem;
                    background: var(--apt-pic) var(--apt-pos)/var(--apt-size) no-repeat;
                }

                .apt-q {
                    min-width: max-content;
                    font-weight: bold;
                    display: flex;
                }

                .apt-a {
                    border-radius: 1rem;
                    border: 1px solid #aaa;
                    padding: 0 1rem;
                    display: flex;
                }

                .apt-a.sm { grid-column: 2/5; }
                .apt-a.bd { grid-column: 2/4; }
                .apt-a.age { 
                    grid-column: 4/5;
                    min-width: max-content;
                }
                .apt-a.lg { grid-column: 2/7; }
            }

            .apt-flex {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .apt-q {
                    min-width: max-content;
                    font-weight: bold;
                    display: flex;
                    padding-inline-start: 1rem;
                }

                .apt-a {
                    border-radius: 1rem;
                    border: 1px solid #aaa;
                    padding: 0.25rem 1rem;
                    display: flex;
                    flex-direction: column;

                    p:first-child { margin-block-start: 0; }
                    p:last-child { margin-block-end: 0; }

                    ul {
                        margin-block: 0;
                        padding-inline-start: 1.2rem;
                    }
                }
            }
        }

        .apt-btn {
            display: flex;

            width: fit-content;
            margin: auto;            
            padding: 0.45rem 2rem 0.25rem;
            background: var(--apt-accent);
            color: var(--apt-bg);
            border-radius: 1.5rem;
            
            font-family: 'Rounded Elegance', sans-serif;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
}