[u1="Andy"] {
    --u1-pic: url(https://cdn.imgchest.com/files/b49fe5d20f9b.png);
    --u1-name: "Andy";
    --u1-fullname: "Andy Padge";
    --u1-realpic: url(https://cdn.imgchest.com/files/79423e4aed59.png);
    --u1-realname: "Leigh H. Saunderson";
}

[u1="Augustine"] {
    --u1-pic: url(https://cdn.imgchest.com/files/a64223cb811c.png);
    --u1-name: "Augustine";
    --u1-fullname: "Augustine Müller";
    --u1-realpic: url(https://cdn.imgchest.com/files/75bacfcf8c30.png);
    --u1-realname: "Ray Marmoris";
}

[u1="Baylor"] {
    --u1-pic: url(https://cdn.imgchest.com/files/d359906cbd4b.png);
    --u1-name: "Baylor";
    --u1-fullname: "Baylor Bulova";
    --u1-realpic: url(https://cdn.imgchest.com/files/cb27c50b4cbd.png);
    --u1-realname: "George C. Frost";
}

[u1="Bex"] {
    --u1-pic: url(https://i.postimg.cc/ZR83PCdV/Untitled-2.png);
    --u1-name: "Bex";
    --u1-fullname: "Bex Rowe";
    --u1-realpic: url(https://cdn.imgchest.com/files/79d2597fa59b.png);
    --u1-realname: "Josephine Starling";
}

[u1="Caspian"] {
    --u1-pic: url(https://cdn.imgchest.com/files/c6b61546510a.png);
    --u1-name: "Caspian";
    --u1-fullname: "Caspian Fox";
    --u1-realpic: url(https://cdn.imgchest.com/files/932ddace66a9.png);
    --u1-realname: "Honeybeel Moonfae";
}

[u1="Cedric"] {
    --u1-pic: url(https://cdn.imgchest.com/files/2d1b28d1c08f.png);
    --u1-name: "Cedric";
    --u1-fullname: "Cedric Moore";
    --u1-realpic: url(https://cdn.imgchest.com/files/a72f87a2768e.png);
    --u1-realname: "Mikael F. Kaiser";
}

[u1="Celine"] {
    --u1-pic: url(https://cdn.imgchest.com/files/ca26a9833344.png);
    --u1-name: "Celine";
    --u1-fullname: "Celine Noir";
    --u1-realpic: url(https://cdn.imgchest.com/files/2c480453f091.png);
    --u1-realname: "Franklin D. Bloodworth";
}

[u1="Chloe"] {
    --u1-pic: url(https://cdn.imgchest.com/files/74e4245b2b04.png);
    --u1-name: "Chloe";
    --u1-fullname: "Chloe Harper";
    --u1-realpic: url(https://cdn.imgchest.com/files/ec5e034bc63f.png);
    --u1-realname: "Floyd R. Frost";
}

[u1="Courtney"] {
    --u1-pic: url(https://cdn.imgchest.com/files/17e4f943a7f6.png);
    --u1-name: "Courtney";
    --u1-fullname: "Courtney Sinclair";
    --u1-realpic: url(https://cdn.imgchest.com/files/fd453c06d0bf.png);
    --u1-realname: "Zinnia A. Lewis";
}

[u1="Davey"] {
    --u1-pic: url(https://cdn.imgchest.com/files/f501ac3aeab9.png);
    --u1-name: "Davey";
    --u1-fullname: "Davey Welsh";
    --u1-realpic: url(https://cdn.imgchest.com/files/7f100ed1561c.png);
    --u1-realname: "Ivan Balfours";
}

[u1="Dexter"] {
    --u1-pic: url(https://cdn.imgchest.com/files/7eaa2c03f85a.png);
    --u1-name: "Dexter";
    --u1-fullname: "Dexter Leak";
    --u1-realpic: url(https://cdn.imgchest.com/files/42e1a35f37c2.png);
    --u1-realname: "Estevan Kaiser";
}

[u1="Ezra"] {
    --u1-pic: url(https://cdn.imgchest.com/files/85d399124611.png);
    --u1-name: "Ezra";
    --u1-fullname: "Ezra Rosenberg";
    --u1-realpic: url(https://cdn.imgchest.com/files/d357c75f7a5f.png);
    --u1-realname: "Genevieve V. Frost";
}

[u1="Hunter"] {
    --u1-pic: url(https://cdn.imgchest.com/files/1ecff996d90c.png);
    --u1-name: "Hunter";
    --u1-fullname: "Hunter Chwe";
    --u1-realpic: url(https://cdn.imgchest.com/files/2aa22d0deed7.png);
    --u1-realname: "Maddox P. Yoon";
}

[u1="Jeremy"] {
    --u1-pic: url(https://cdn.imgchest.com/files/73d597eb2671.png);
    --u1-name: "Jeremy";
    --u1-fullname: "Jeremy Peyton";
    --u1-realpic: url(https://cdn.imgchest.com/files/4b5d142a3156.png);
    --u1-realname: "Victor Chasez";
}

[u1="Kalya"] {
    --u1-pic: url(https://cdn.imgchest.com/files/82b63ccaa5e1.png);
    --u1-name: "Kalya";
    --u1-fullname: "Kalya Barden";
    --u1-realpic: url(https://cdn.imgchest.com/files/dc46f1dc66cd.png);
    --u1-realname: "Valeska I. Lorentzen";
}

[u1="Keith"] {
    --u1-pic: url(https://cdn.imgchest.com/files/deb9b5cb4ab3.png);
    --u1-name: "Keith";
    --u1-fullname: "Keith Blackwell";
    --u1-realpic: url(https://cdn.imgchest.com/files/60b8ec97e929.png);
    --u1-realname: "Elric S. Falconbreed";
}

[u1="Leo"] {
    --u1-pic: url(https://cdn.imgchest.com/files/07376fae5406.png);
    --u1-name: "Leo";
    --u1-fullname: "Leo Navin";
    --u1-realpic: url(https://cdn.imgchest.com/files/8049924f5525.png);
    --u1-realname: "Nicolas S. saladin";
}

[u1="Lily"] {
    --u1-pic: url(https://cdn.imgchest.com/files/3113ff271b30.png);
    --u1-name: "Lily";
    --u1-fullname: "Lily Harper";
    --u1-realpic: url(https://cdn.imgchest.com/files/65875fce5f9b.png);
    --u1-realname: "Penelope G. Williams";
}

[u1="Lincoln"] {
    --u1-pic: url(https://cdn.imgchest.com/files/2bd959c2526e.png);
    --u1-name: "Lincoln";
    --u1-fullname: "Lincoln Grey";
    --u1-realpic: url(https://cdn.imgchest.com/files/4441df20bc14.png);
    --u1-realname: "Cloton Furyhorn";
}

[u1="Lunette"] {
    --u1-pic: url(https://cdn.imgchest.com/files/91e3ab352e01.png);
    --u1-name: "Lunette";
    --u1-fullname: "Lunette Clair";
    --u1-realpic: url(https://cdn.imgchest.com/files/c77a6bdbf3c1.png);
    --u1-realname: "Blair Vernier";
}

[u1="Marcelo"] {
    --u1-pic: url(https://cdn.imgchest.com/files/66cc35fbb2f0.png);
    --u1-name: "Marcelo";
    --u1-fullname: "Marcelo Clinton";
    --u1-realpic: url(https://cdn.imgchest.com/files/7f3554a9c6ea.png);
    --u1-realname: "Letisia B. Flozentine";
}

[u1="Matteo"] {
    --u1-pic: url(https://cdn.imgchest.com/files/fc6fe39aee81.png);
    --u1-name: "Matteo";
    --u1-fullname: "Matteo Falcone";
    --u1-realpic: url(https://cdn.imgchest.com/files/f9081b3e47e5.png);
    --u1-realname: "Wren Marlow";
}

[u1="Matthias"] {
    --u1-pic: url(https://cdn.imgchest.com/files/ab5e431ebe72.png);
    --u1-name: "Matthias";
    --u1-fullname: "Matthias Adler";
    --u1-realpic: url(https://cdn.imgchest.com/files/1f6ade07bc2b.png);
    --u1-realname: "Violette C. Leclaire";
}

[u1="Maverick"] {
    --u1-pic: url(https://cdn.imgchest.com/files/2ca17fb67028.png);
    --u1-name: "Maverick";
    --u1-fullname: "Maverick Keyne";
    --u1-realpic: url(https://cdn.imgchest.com/files/356ac5b1b75d.png);
    --u1-realname: "Yoshikawa M. Kairyu";
}

[u1="Monterey"] {
    --u1-pic: url(https://cdn.imgchest.com/files/683e46933f1c.png);
    --u1-name: "Monterey";
    --u1-fullname: "Monterey Brown";
    --u1-realpic: url(https://cdn.imgchest.com/files/180650eb852d.png);
    --u1-realname: "Desdemona E. Zeth";
}

[u1="Odette"] {
    --u1-pic: url(https://cdn.imgchest.com/files/b697e7a5cc2a.png);
    --u1-name: "Odette";
    --u1-fullname: "Odette Rhodes";
    --u1-realpic: url(https://cdn.imgchest.com/files/14bebf4c9928.png);
    --u1-realname: "Bethany L. Flozentine";
}

[u1="Oliver"] {
    --u1-pic: url(https://cdn.imgchest.com/files/fad248435afa.png);
    --u1-name: "Oliver";
    --u1-fullname: "Oliver Woods";
    --u1-realpic: url(https://cdn.imgchest.com/files/9560332c5e55.png);
    --u1-realname: "Shiba Kyou";
}

[u1="Peyton"] {
    --u1-pic: url(https://cdn.imgchest.com/files/c5c932c7e896.png);
    --u1-name: "Peyton";
    --u1-fullname: "Peyton Zhang";
    --u1-realpic: url(https://cdn.imgchest.com/files/835c3559cd9d.png);
    --u1-realname: "Lopez Zhou";    
}

[u1="Raffa"] {
    --u1-pic: url(https://cdn.imgchest.com/files/ecfe90e94bb7.png);
    --u1-name: "Raffa";
    --u1-fullname: "Raffa Odinsen";
    --u1-realpic: url(https://cdn.imgchest.com/files/372d9fe37b76.png);
    --u1-realname: "Artexa R. Dixon";
}

[u1="Sarah"] {
    --u1-pic: url(https://cdn.imgchest.com/files/e0f8066b52d5.png);
    --u1-name: "Sarah";
    --u1-fullname: "Sarah Collins";
    --u1-realpic: url(https://cdn.imgchest.com/files/eca9e976f49d.png);
    --u1-realname: "Zoe Cameron";
}

[u1="Summer"] {
    --u1-pic: url(https://cdn.imgchest.com/files/955912816ec7.png);
    --u1-name: "Summer";
    --u1-fullname: "Summer Stewart";
    --u1-realpic: url(https://cdn.imgchest.com/files/85b69464a3a7.png);
    --u1-realname: "Bellanie Avendell";
}

[u1="Ted"] {
    --u1-pic: url(https://cdn.imgchest.com/files/7a80cb58f724.png);
    --u1-name: "Ted";
    --u1-fullname: "Ted Maeda";
    --u1-realpic: url(https://cdn.imgchest.com/files/a44a3bae254e.png);
    --u1-realname: "Hans X. Frost";
}

[u1="Theo"] {
    --u1-pic: url(https://cdn.imgchest.com/files/41874a5b17ba.png);
    --u1-name: "Theo";
    --u1-fullname: "Theo Creed";
    --u1-realpic: url(https://cdn.imgchest.com/files/2ca4dae4bd71.png);
    --u1-realname: "Dynadin V. Sylvester";
}

[u1="Vivienne"] {
    --u1-pic: url(https://cdn.imgchest.com/files/48c910ce110a.png);
    --u1-name: "Vivienne";
    --u1-fullname: "Vivienne Harrington";
    --u1-realpic: url(https://cdn.imgchest.com/files/82ea951db0fb.png);
    --u1-realname: "Julianne Beauvrais";
}

[u1="Welt"] {
    --u1-pic: url(https://cdn.imgchest.com/files/8598cacad26a.png);
    --u1-name: "Welt";
    --u1-fullname: "Welt Whistler";
    --u1-realpic: url(https://cdn.imgchest.com/files/f58fa977b4c6.png);
    --u1-realname: "Zero Vi Euphemia";
}

[u1="Zayd"] {
    --u1-pic: url(https://cdn.imgchest.com/files/ca59bc7ab63b.png);
    --u1-name: "Zayd";
    --u1-fullname: "Zayd Raev";
    --u1-realpic: url(https://cdn.imgchest.com/files/2e4796317e49.png);
    --u1-realname: "Kamin Jones";
}

[u1="Zenyn"] {
    --u1-pic: url(https://cdn.imgchest.com/files/81fd27864e16.png);
    --u1-name: "Zenyn";
    --u1-fullname: "Zenyn Rae";
    --u1-realpic: url(https://cdn.imgchest.com/files/04ec292e1c4c.png);
    --u1-realname: "Kirael Beramin";
}

[u2="Andy"] {
    --u2-pic: url(https://cdn.imgchest.com/files/b49fe5d20f9b.png);
    --u2-name: "Andy";
    --u2-fullname: "Andy Padge";
}

[u2="Augustine"] {
    --u2-pic: url(https://cdn.imgchest.com/files/a64223cb811c.png);
    --u2-name: "Augustine";
    --u2-fullname: "Augustine Müller";
}

[u2="Baylor"] {
    --u2-pic: url(https://cdn.imgchest.com/files/d359906cbd4b.png);
    --u2-name: "Baylor";
    --u2-fullname: "Baylor Bulova";
}

[u2="Bex"] {
    --u2-pic: url(https://i.postimg.cc/ZR83PCdV/Untitled-2.png);
    --u2-name: "Bex";
    --u2-fullname: "Bex Rowe";
}

[u2="Caspian"] {
    --u2-pic: url(https://cdn.imgchest.com/files/c6b61546510a.png);
    --u2-name: "Caspian";
    --u2-fullname: "Caspian Fox";
}

[u2="Cedric"] {
    --u2-pic: url(https://cdn.imgchest.com/files/2d1b28d1c08f.png);
    --u2-name: "Cedric";
    --u2-fullname: "Cedric Moore";
}

[u2="Celine"] {
    --u2-pic: url(https://cdn.imgchest.com/files/ca26a9833344.png);
    --u2-name: "Celine";
    --u2-fullname: "Celine Noir";
}

[u2="Chloe"] {
    --u2-pic: url(https://cdn.imgchest.com/files/74e4245b2b04.png);
    --u2-name: "Chloe";
    --u2-fullname: "Chloe Harper";
}

[u2="Courtney"] {
    --u2-pic: url(https://cdn.imgchest.com/files/17e4f943a7f6.png);
    --u2-name: "Courtney";
    --u2-fullname: "Courtney Sinclair";
}

[u2="Davey"] {
    --u2-pic: url(https://cdn.imgchest.com/files/f501ac3aeab9.png);
    --u2-name: "Davey";
    --u2-fullname: "Davey Welsh";
}

[u2="Dexter"] {
    --u2-pic: url(https://cdn.imgchest.com/files/7eaa2c03f85a.png);
    --u2-name: "Dexter";
    --u2-fullname: "Dexter Leak";
}

[u2="Ezra"] {
    --u2-pic: url(https://cdn.imgchest.com/files/85d399124611.png);
    --u2-name: "Ezra";
    --u2-fullname: "Ezra Rosenberg";
}

[u2="Hunter"] {
    --u2-pic: url(https://cdn.imgchest.com/files/1ecff996d90c.png);
    --u2-name: "Hunter";
    --u2-fullname: "Hunter Chwe";
}

[u2="Jeremy"] {
    --u2-pic: url(https://cdn.imgchest.com/files/73d597eb2671.png);
    --u2-name: "Jeremy";
    --u2-fullname: "Jeremy Peyton";
}

[u2="Kalya"] {
    --u2-pic: url(https://cdn.imgchest.com/files/82b63ccaa5e1.png);
    --u2-name: "Kalya";
    --u2-fullname: "Kalya Barden";
}

[u2="Keith"] {
    --u2-pic: url(https://cdn.imgchest.com/files/deb9b5cb4ab3.png);
    --u2-name: "Keith";
    --u2-fullname: "Keith Blackwell";
}

[u2="Leo"] {
    --u2-pic: url(https://cdn.imgchest.com/files/07376fae5406.png);
    --u2-name: "Leo";
    --u2-fullname: "Leo Navin";
}

[u2="Lily"] {
    --u2-pic: url(https://cdn.imgchest.com/files/3113ff271b30.png);
    --u2-name: "Lily";
    --u2-fullname: "Lily Harper";
}

[u2="Lincoln"] {
    --u2-pic: url(https://cdn.imgchest.com/files/2bd959c2526e.png);
    --u2-name: "Lincoln";
    --u2-fullname: "Lincoln Grey";
}

[u2="Lunette"] {
    --u2-pic: url(https://cdn.imgchest.com/files/91e3ab352e01.png);
    --u2-name: "Lunette";
    --u2-fullname: "Lunette Clair";
}

[u2="Marcelo"] {
    --u2-pic: url(https://cdn.imgchest.com/files/66cc35fbb2f0.png);
    --u2-name: "Marcelo";
    --u2-fullname: "Marcelo Clinton";
}

[u2="Matteo"] {
    --u2-pic: url(https://cdn.imgchest.com/files/fc6fe39aee81.png);
    --u2-name: "Matteo";
    --u2-fullname: "Matteo Falcone";
}

[u2="Matthias"] {
    --u2-pic: url(https://cdn.imgchest.com/files/ab5e431ebe72.png);
    --u2-name: "Matthias";
    --u2-fullname: "Matthias Adler";
}

[u2="Maverick"] {
    --u2-pic: url(https://cdn.imgchest.com/files/2ca17fb67028.png);
    --u2-name: "Maverick";
    --u2-fullname: "Maverick Keyne";
}

[u2="Monterey"] {
    --u2-pic: url(https://cdn.imgchest.com/files/683e46933f1c.png);
    --u2-name: "Monterey";
    --u2-fullname: "Monterey Brown";
}

[u2="Odette"] {
    --u2-pic: url(https://cdn.imgchest.com/files/b697e7a5cc2a.png);
    --u2-name: "Odette";
    --u2-fullname: "Odette Rhodes";
}

[u2="Oliver"] {
    --u2-pic: url(https://cdn.imgchest.com/files/fad248435afa.png);
    --u2-name: "Oliver";
    --u2-fullname: "Oliver Woods";
}

[u2="Peyton"] {
    --u2-pic: url(https://cdn.imgchest.com/files/c5c932c7e896.png);
    --u2-name: "Peyton";
    --u2-fullname: "Peyton Zhang";    
}

[u2="Raffa"] {
    --u2-pic: url(https://cdn.imgchest.com/files/ecfe90e94bb7.png);
    --u2-name: "Raffa";
    --u2-fullname: "Raffa Odinsen";
}

[u2="Sarah"] {
    --u2-pic: url(https://cdn.imgchest.com/files/e0f8066b52d5.png);
    --u2-name: "Sarah";
    --u2-fullname: "Sarah Collins";
}

[u2="Summer"] {
    --u2-pic: url(https://cdn.imgchest.com/files/955912816ec7.png);
    --u2-name: "Summer";
    --u2-fullname: "Summer Stewart";
}

[u2="Ted"] {
    --u2-pic: url(https://cdn.imgchest.com/files/7a80cb58f724.png);
    --u2-name: "Ted";
    --u2-fullname: "Ted Maeda";
}

[u2="Theo"] {
    --u2-pic: url(https://cdn.imgchest.com/files/41874a5b17ba.png);
    --u2-name: "Theo";
    --u2-fullname: "Theo Creed";
}

[u2="Vivienne"] {
    --u2-pic: url(https://cdn.imgchest.com/files/48c910ce110a.png);
    --u2-name: "Vivienne";
    --u2-fullname: "Vivienne Harrington";
}

[u2="Welt"] {
    --u2-pic: url(https://cdn.imgchest.com/files/8598cacad26a.png);
    --u2-name: "Welt";
    --u2-fullname: "Welt Whistler";
}

[u2="Zayd"] {
    --u2-pic: url(https://cdn.imgchest.com/files/ca59bc7ab63b.png);
    --u2-name: "Zayd";
    --u2-fullname: "Zayd Raev";
}

[u2="Zenyn"] {
    --u2-pic: url(https://cdn.imgchest.com/files/81fd27864e16.png);
    --u2-name: "Zenyn";
    --u2-fullname: "Zenyn Rae";
}

[u1="KhanKluay"] {
    --u1-pic: url(https://cdn.imgchest.com/files/58039ef062a8.png);
    --u1-name: "KhanKluay";
}

[u2="KhanKluay"] {
    --u2-pic: url(https://cdn.imgchest.com/files/58039ef062a8.png);
    --u2-name: "KhanKluay";
}

[u1="Tissue"] {
    --u1-pic: url(https://cdn.imgchest.com/files/d6c87c03bcd6.png);
    --u1-name: "Tissue";
}

[u2="Tissue"] {
    --u2-pic: url(https://cdn.imgchest.com/files/d6c87c03bcd6.png);
    --u2-name: "Tissue";
}