@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

@counter-style timed {
    symbols: "First" "Second" "Third" "Fourth" "Fifth" "Sixth" "Seventh" "Eighth" "Ninth" "Tenth" "Eleventh" "Twelfth" "Thirteenth" "Fourteenth" "Fifteenth" "Sixteenth" "Seventeenth" "Eighteenth" "Nineteenth" "Twentieth";
}

:root {
    --cupid-txt: #000;
    --cupid-bg: #fff;
    --cupid-primary: #d71920;

    --cupid-pic: gray;
    --cupid-pos: center;
    --cupid-size: cover;

    --cupid-bnpic: gray;
    --cupid-bnpos: center;
    --cupid-bnsize: cover;
}

#CupidCall2 { position: relative; }
#CupidCall2 * { box-sizing: border-box; }

#CupidCall2 a[href="https://discord.com/users/625292873914515456/"] {
    height: 12px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
}

#CupidCall2 a[href="https://discord.com/users/625292873914515456/"] ~ div:first-child { position: relative; }
  
#CupidCall2::after {
    content: "♡";

    width: 100%;
    height: 13px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Georgia', serif;
    font-size: 13px;
    line-height: 1;
    color: gray !important;
}
  
#CupidCall2:hover::after {
    content: "CupidCall";
    font-style: italic;
    font-size: 10px;
}

#CupidCall2 {
    .cpc-head::after, ic[name="l"]::before, ic[name="r"]::before, ic[name="h"]::before, ic[name="x"]::before, .cpc-nav::before, .cpc-nav::after, .cpc-search::before, .cpc-pk-title::before, .cpc-pk-title::after, .cpc-mmr::before, .cpc-banner::before, .cpc-banner::after, .cpc-pic>a::before, .cpc-photo::before, .cpc-icon-1::before, .cpc-icon-1::after, .cpc-icon-2::before, .cpc-comment::before, .cpc-comment::after, ic[name="g"]::before, ic[name="hh"]::before, ic[name="st"]::before, .cpc-ps::before, .cpc-ps::after, .cpc-input::before, ic[name="sm"]::before, ic[name="lc"]::before, ic[name="fr"]::before, details.cpc-comment>summary::before, details.cpc-comment>summary::after {
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    #cupidthread.cupid-set {
        width: 800px;
        max-width: calc(100% - 3rem);
        margin: auto;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 16px;
        color: var(--cupid-txt);

        .cpc-head {
            width: 100%;
            height: 70px;
            background: var(--cupid-txt);
            color: var(--cupid-bg);
            border-radius: 50px 20px 0 50px;
            padding: 0 2.5rem;
            margin-bottom: 1rem;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            &::before {
                content: "CupidCall.rp.th";
                font-family: 'Mitr', sans-serif;
                font-size: 25px;
            }

            &::after {
                content: "\e576";
                font-family: uicons-bold-rounded !important;
            }
        }

        .cpc-body {
            position: relative;
            width: 100%;
            background: var(--cupid-bg);
            border: 5px solid var(--cupid-txt);
            border-radius: 20px;
            padding: 3rem;

            img {
                user-select: none;
                pointer-events: none;
            }

            hr {
                margin-block: 2rem;
                background: transparent;
                border-top: 1px dashed var(--cupid-primary);
            }

            ic[name="l"], ic[name="r"], ic[name="h"], ic[name="x"] {
                position: absolute;
                z-index: 5;
                width: 40px;
                aspect-ratio: 1;
                background: var(--cupid-bg);
                border-radius: 50%;
                border: 5px solid var(--cupid-txt);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            ic[name="l"] {
                top: 50%;
                left: 0;
                transform: translate(calc(-50% - 2.5px), -50%);

                &::before {
                    content: "\eb1a";
                    font-family: uicons-solid-rounded !important;
                }
            }

            ic[name="r"] {
                top: 50%;
                right: 0;
                transform: translate(calc(50% + 2.5px), -50%);

                &::before {
                    content: "\ef7c";
                    font-family: uicons-solid-rounded !important;
                }
            }

            ic[name="h"] {
                bottom: 0;
                right: 6rem;
                transform: translate(0, calc(50% + 2.5px));

                &::before {
                    content: "\e9a1";
                    font-family: uicons-solid-rounded !important;
                }
            }

            ic[name="x"] {
                bottom: 0;
                right: 2.75rem;
                transform: translate(0, calc(50% + 2.5px));

                &::before {
                    content: "\e576";
                    font-family: uicons-bold-rounded !important;
                    font-size: 12px;
                    -webkit-text-stroke: 2px;
                }
            }

            &:has(+.cpc-body) {
                ic[name="h"], ic[name="x"] { bottom: -0.5rem; }
            }

            .cpc-nav {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &::before {
                    content: "\e9d5";
                    font-family: uicons-solid-rounded !important;
                }

                &::after {
                    content: "\f03d";
                    font-family: uicons-solid-rounded !important;
                }
            }

            .cpc-search {
                width: fit-content;
                background: var(--cupid-primary);
                border-radius: 20px;
                margin: -10% auto 0;
                padding: 5px 10px;
                color: var(--cupid-bg);

                font-family: 'Mitr', sans-serif;
                font-weight: 300;
                line-height: normal;
                
                display: flex;
                align-items: center;
                column-gap: 0.75rem;

                &::before {
                    content: "\f015";
                    font-family: uicons-bold-rounded !important;
                }
            }

            .cpc-text { margin-block: 2rem; }

            .cpc-divide {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 0.5rem;
                width: 100%;
                margin-block: 2rem;
                font-size: 1.5rem;

                .fi-sr-heart { color: var(--cupid-primary); }
            }

            .cpc-package {
                position: relative;
                width: 100%;
                border-radius: 20px;
                border: 5px solid var(--cupid-primary);
                padding: 2rem;
                margin-block-start: 3rem;

                .cpc-pk-title {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, calc(-50% - 2.5px));

                    width: fit-content;
                    min-width: 300px;
                    border-radius: 30px;
                    background: var(--cupid-primary);
                    color: var(--cupid-bg);
                    padding: 2px 1rem 4px;

                    font-family: 'Mitr', sans-serif;
                    font-size: 1.2rem;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &::before, &::after {
                        content: "\ee7f";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        
                        width: 30px;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        background: var(--cupid-primary);
                        color: var(--cupid-bg);
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        font-family: uicons-bold-rounded !important;
                        font-size: 1rem;
                    }

                    &::before { left: max(-5vw, -5rem); }
                    &::after { right: max(-5vw, -5rem); }
                }

                p {
                    margin-block-end: 0.5rem;
                    color: var(--cupid-primary);
                    font-family: 'Mitr', sans-serif;
                    font-size: 1.1rem;
                    font-weight: 500;
                    text-align: center;
                }

                hr {
                    max-width: 80%;
                    border-top: 1px dashed var(--cupid-primary);
                    background: transparent;
                    margin: 1rem auto;
                }

                .cpc-hf {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-block-start: 1rem;
                    gap: 1rem;

                    .cpc-hf-1 {
                        flex: 1;
                        min-width: 300px;
                        padding: 1rem;
                        border: 1px dashed var(--cupid-primary);
                        border-radius: 20px;

                        p { margin-block-start: 0; }
                    }
                }
            }

            .cpc-login {
                width: 350px;
                margin: -10% auto 0;
                
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                align-items: center;
                
                font-family: 'Mitr', sans-serif;
                font-weight: 300;
                color: var(--cupid-bg);

                .cpc-icon {
                    width: 100px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    border: 0.3rem solid transparent;
                    background: url(https://iili.io/fglrXig.png) center/cover padding-box, linear-gradient(var(--cupid-txt) 0 0) padding-box, linear-gradient(to top, var(--cupid-primary), hsl(from var(--cupid-primary) h calc(s - 50) calc(l + 15))) border-box;
                    margin-block-end: 0.5rem;
                }

                .cpc-input {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    column-gap: 1.5rem;
                    height: 3rem;
                    background: hsl(from var(--cupid-txt) h s 15%);
                    user-select: none;

                    &::before {
                        font-family: uicons-solid-rounded !important;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 3rem;
                        aspect-ratio: 1;
                        background: hsl(from var(--cupid-txt) h s 25%);
                    }

                    &::after {
                        content: attr(data);
                        color: rgba(from var(--cupid-bg) r g b / 0.5);
                    }

                    &[data="Username"]::before { content: "\f3a9"; }
                    &[data="Password"]::before { content: "\eb79"; }
                }

                .cpc-more {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    font-size: 0.9rem;
                    font-weight: 200;
                    font-style: italic;
                    color: rgba(from var(--cupid-bg) r g b / 0.5);
                    
                    user-select: none;

                    label {
                        display: flex;
                        column-gap: 0.25rem;
                        cursor: pointer;
                        transition: .2s ease;
                    }

                    div { 
                        cursor: pointer;
                        transition: .2s ease;
                        text-decoration: none;
                    }

                    div:hover { text-decoration: underline 1px dotted; }

                    label:hover, div:hover { color: rgba(from var(--cupid-bg) r g b / 0.75); }
                }

                .cpc-btn {
                    background: hsl(from var(--cupid-txt) h s 25%);
                    border-radius: 0.5rem;
                    padding: 0.5rem 2.5rem;
                    margin-block-start: 0.5rem;

                    text-transform: uppercase;

                    cursor: pointer;
                    user-select: none;
                    
                    transition: .2s ease;


                    &:hover { background: hsl(from var(--cupid-txt) h s 35%); }
                }
            }

            .cpc-gram {
                width: 350px;
                margin: -10% auto 0;
                
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                align-items: center;
                
                font-family: 'Mitr', sans-serif;
                font-weight: 300;
                color: var(--cupid-bg);

                .cpc-icon {
                    width: 100px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    border: 0.3rem solid transparent;
                    background: url(https://iili.io/fglrXig.png) center/cover padding-box, linear-gradient(var(--cupid-txt) 0 0) padding-box, linear-gradient(to top, var(--cupid-primary), hsl(from var(--cupid-primary) h calc(s - 50) calc(l + 15))) border-box;
                    margin-block-end: 0.5rem;
                }

                .cpc-input {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 1.5;
                    padding: 1rem 1.5rem 1.5rem;
                    background: hsl(from var(--cupid-txt) h s 15%);
                    color: rgba(from var(--cupid-bg) r g b / 0.5);

                    font-weight: 200;                    
                    user-select: none;
                    
                    display: flex;
                    flex-direction: column;

                    .txtbox {
                        flex: 1;
                        cursor: text;
                    }

                    .toolbox {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        
                        width: 100%;
                        padding: 0 1.5rem 1rem;
                        
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        
                        font-size: 0.8rem;

                        .tb-l { 
                            display: flex;
                            column-gap: 0.25rem;

                            ic[name="sm"], ic[name="lc"], ic[name="fr"] {
                                cursor: pointer;
                                transition: .2s ease;
                                font-family: uicons-regular-rounded !important;
                            }

                            ic[name="sm"]:hover, ic[name="lc"]:hover, ic[name="fr"]:hover { color: rgba(from var(--cupid-bg) r g b / 0.75); }

                            ic[name="sm"]::before { content: "\e506"; }
                            ic[name="lc"]::before { content: "\ebce"; }
                            ic[name="fr"]::before { content: "\f3aa"; }
                        }
                    }
                }

                .cpc-btn {
                    background: hsl(from var(--cupid-txt) h s 25%);
                    border-radius: 0.5rem;
                    padding: 0.5rem 2.5rem;
                    margin-block-start: 0.5rem;

                    text-transform: uppercase;

                    cursor: pointer;
                    user-select: none;
                    
                    transition: .2s ease;


                    &:hover { background: hsl(from var(--cupid-txt) h s 35%); }
                }
            }

            .cpc-member {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: min(1rem, 1vw);
                font-size: min(0.9rem, 1.15vw);

                .cpc-mb {
                    display: grid;
                    grid-template-columns: clamp(70px, 5vw, 75px) 1fr;
                    gap: min(1rem, 1vw);

                    a {
                        aspect-ratio: 1;
                        border-radius: min(0.5rem, 0.5vw);
                        background: var(--cupid-pic) var(--cupid-pos)/var(--cupid-size) no-repeat;

                        &+br { display: none; }
                    }

                    .cpc-name {
                        align-content: center;
                        font-family: 'Mitr', sans-serif;
                        padding-block: 0.25rem;
                    }
                }
            }

            h1 {
                & +br { display: none; }
                width: fit-content;
                margin-block: 2rem 1rem;
                margin-inline: auto;
                padding: 2px 1rem 4px;
                border-radius: 2rem;
                background: var(--cupid-primary);
                color: var(--cupid-bg);

                text-align: center;
                font-family: 'Mitr', sans-serif;
                font-size: 1.2rem;
                font-weight: normal;
                
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:not(:first-child) { margin-block-start: 1rem; }
        }
    }

    #cupidprofile.cupid-set {
        width: 800px;
        max-width: calc(100% - 3rem);
        margin: auto;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 16px;
        color: var(--cupid-txt);

        .cpc-head {
            width: 100%;
            height: 70px;
            background: var(--cupid-txt);
            color: var(--cupid-bg);
            border-radius: 50px 20px 0 50px;
            padding: 0 2.5rem;
            margin-bottom: 1rem;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            &::before {
                content: "CupidCall.rp.th";
                font-family: 'Mitr', sans-serif;
                font-size: 25px;
            }

            &::after {
                content: "\e576";
                font-family: uicons-bold-rounded !important;
            }
        }

        .cpc-body {
            position: relative;
            width: 100%;
            background: var(--cupid-bg);
            border: 5px solid var(--cupid-txt);
            border-radius: 20px;
            padding: 3rem;

            ic[name="l"], ic[name="r"], ic[name="h"], ic[name="x"] {
                position: absolute;
                z-index: 5;
                width: 40px;
                aspect-ratio: 1;
                background: var(--cupid-bg);
                border-radius: 50%;
                border: 5px solid var(--cupid-txt);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            ic[name="l"] {
                top: 50%;
                left: 0;
                transform: translate(calc(-50% - 2.5px), -50%);

                &::before {
                    content: "\eb1a";
                    font-family: uicons-solid-rounded !important;
                }
            }

            ic[name="r"] {
                top: 50%;
                right: 0;
                transform: translate(calc(50% + 2.5px), -50%);

                &::before {
                    content: "\ef7c";
                    font-family: uicons-solid-rounded !important;
                }
            }

            ic[name="h"] {
                bottom: -0.5rem;
                right: 6rem;
                transform: translate(0, calc(50% + 2.5px));

                &::before {
                    content: "\e9a1";
                    font-family: uicons-solid-rounded !important;
                }
            }

            ic[name="x"] {
                bottom: -0.5rem;
                right: 2.75rem;
                transform: translate(0, calc(50% + 2.5px));

                &::before {
                    content: "\e576";
                    font-family: uicons-bold-rounded !important;
                    font-size: 12px;
                    -webkit-text-stroke: 2px;
                }
            }

            .cpc-mmr {
                position: absolute;
                bottom: -0.5rem;
                left: 2.75rem;
                transform: translate(0, calc(50% + 2.5px));
                z-index: 5;
                
                height: 40px;
                background: var(--cupid-txt);
                color: var(--cupid-bg);
                padding: 0 1rem;
                border-radius: 0.5rem;
                
                font-family: 'Mitr', sans-serif;
                
                display: flex;
                align-items: center;
                column-gap: 0.75rem;

                &::before {
                    content: "\e31a";
                    font-family: uicons-bold-rounded !important;
                }

                &::after {
                    content: "Cupid memories";
                    padding-block: 0.2rem 0;
                }
            }

            .cpc-banner {
                position: relative;
                width: calc(100% + 6rem);
                aspect-ratio: 3.75;
                border-radius: 14px 14px 0 0;
                background: var(--cupid-bnpic) var(--cupid-bnpos)/var(--cupid-bnsize) no-repeat;
                margin: -3rem -3rem 0;
                padding: 1rem;
                color: var(--cupid-bg);
                
                display: flex;
                justify-content: space-between;

                &::before {
                    content: "\e9d5";
                    font-family: uicons-solid-rounded !important;
                }

                &::after {
                    content: "\f03d";
                    font-family: uicons-solid-rounded !important;
                }

                .cpc-pic {
                    position: absolute;
                    bottom: 0;
                    left: 3rem;
                    transform: translateY(50%);
                    width: clamp(160px, 12vw, 180px);
                    aspect-ratio: 1;
                    background: var(--cupid-pic) var(--cupid-pos)/var(--cupid-size) no-repeat;
                    border-radius: 50%;
                    border: 5px solid var(--cupid-txt);

                    a {
                        position: absolute;
                        right: 3%;
                        bottom: 3%;
                        
                        width: clamp(30px, 2vw, 33.75px);
                        aspect-ratio: 1;
                        border-radius: 50%;
                        background: var(--cupid-primary);
                        color: var(--cupid-bg);
                        
                        font-family: uicons-bold-rounded !important;
                        font-size: clamp(1rem, 1vw, 1.125rem);
                        -webkit-text-stroke: 0.5px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &::before {
                            content: "\ee7f";
                        }
                    }
                }
            }

            .cpc-info-name {
                width: calc(100% - clamp(160px, 12vw, 180px) - 1.5rem);
                margin-block: 1rem 1.5rem;
                margin-left: auto;
                
                font-family: 'Mitr', sans-serif;
                font-size: clamp(0.7rem, 0.7vw, 0.8rem);
                line-height: 1;
                
                display: grid;
                grid-template-columns: 1fr fit-content(clamp(85px, 7vw, 125px));
                grid-row-gap: 0.5rem;

                .cpc-font-l { font-size: clamp(1rem, 1.2vw, 1.2rem); }

                .cpc-search {
                    grid-column: 1/3;
                    margin-inline: -10px;
                    background: var(--cupid-primary);
                    border-radius: 50px;
                    padding: 5px 10px;
                    color: var(--cupid-bg);
                    font-weight: 300;
                    
                    display: flex;
                    align-items: center;
                    column-gap: 0.75rem;

                    &::before {
                        content: "\f015";
                        font-family: uicons-bold-rounded !important;
                    }

                    div::before { content: "Looking for... "; }
                }

                .cpc-gender {
                    grid-column: 1/3;
                    font-weight: 300;

                    b { font-weight: normal; }
                    c { color: var(--cupid-primary); }
                }
            }

            .cpc-info-set {
                display: flex;
                align-items: flex-start;
                column-gap: 1.5rem;

                .cpc-info-left {
                    flex: 3;
                    display: flex;
                    flex-direction: column;
                    row-gap: 1rem;
                    font-size: min(0.9rem, 1.15vw);

                    .cpc-quote {
                        border-block: 1px solid var(--cupid-txt);
                        padding-block: 0.5rem;
                        text-align: center;
                        font-family: 'Mitr', sans-serif;
                    }

                    .cpc-tags {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 0.5rem;
                        line-height: 1;
                        font-family: 'Mitr', sans-serif;
                        font-weight: 300;

                        p {
                            margin: 0;
                            border: 1px solid var(--cupid-txt);
                            border-radius: 0.25rem;
                            padding: 0.2rem 0.3rem;
                        }
                    }

                    .cpc-about { text-align: justify; }

                    .cpc-gallery {
                        display: flex;
                        column-gap: 0.5rem;

                        .cpc-img {
                            flex: 1;
                            aspect-ratio: 1;
                            background: var(--cupid-pic) var(--cupid-pos)/var(--cupid-size) no-repeat;
                            border-radius: 0.5rem;
                        }
                    }
                }

                .cpc-info-right {
                    flex: 2;
                    background: var(--cupid-txt);
                    color: var(--cupid-bg);
                    border-radius: 0.5rem;
                    padding: 1rem;
                    
                    font-family: 'Mitr', sans-serif;
                    font-weight: 300;

                    .cpc-photo {
                        position: relative;
                        width: 100%;
                        aspect-ratio: 1;
                        background: var(--cupid-pic) var(--cupid-pos)/var(--cupid-size) no-repeat;
                        border-radius: 0.25rem;

                        &::before {
                            content: "\ee7f";
                            position: absolute;
                            top: 50%;
                            right: -1rem;
                            transform: translate(50%, -50%);
                            
                            width: 1rem;
                            aspect-ratio: 3/5;
                            background: var(--cupid-primary);
                            color: var(--cupid-bg);
                            border-radius: 0.25rem;

                            font-family: uicons-bold-rounded !important;
                            font-size: 0.65rem;
                            -webkit-text-stroke: 0.05vw;
                            
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        p {
                            position: absolute;
                            bottom: -0.25rem;
                            left: 50%;
                            transform: translate(-50%, 100%);
                            
                            width: 100%;
                            padding-inline-start: 0.15rem;
                            margin: 0;
                            
                            font-size: min(1rem, 1vw);
                            letter-spacing: 0.15rem;
                            line-height: 1;
                            text-align: center;

                            &::before { 
                                content: "●";
                                color: var(--cupid-primary);
                            }

                            &::after { content: "●●●"; }
                        }
                    }

                    .cpc-icon {
                        display: flex;
                        margin-block: min(2vw, 1.65rem) min(0.7vw, 0.75rem);
                        font-size: min(1rem, 1vw);

                        .cpc-icon-1 { 
                            letter-spacing: min(0.4rem, 0.4vw);
                            
                            &::before {
                                content: "\e9a1";
                                font-family: uicons-solid-rounded !important;
                                color: var(--cupid-primary);
                            }

                            &::after {
                                content: "\e4e5\ed67";
                                font-family: uicons-bold-rounded !important;
                            }
                        }

                        .cpc-icon-2 {
                            margin-left: auto;

                            &::before {
                                content: "\e239";
                                font-family: uicons-solid-rounded !important;
                            }
                        }
                    }

                    .cpc-post {
                        font-size: min(0.8rem, 1vw);
                        b { font-weight: 500; }
                    }

                    .cpc-comment {
                        margin-block-start: 0.75rem;
                        background: hsl(from var(--cupid-txt) h s calc(l + 15));
                        border-radius: 0.25rem;
                        padding: 5px 10px;

                        font-size: min(0.8rem, 1vw);
                        line-height: 1.2;
                        
                        display: flex;
                        align-items: center;
                        column-gap: 0.75rem;

                        &::before {
                            content: "\e463";
                            font-family: uicons-solid-rounded !important;
                        }

                        &::after {
                            content: "\ed69";
                            font-family: uicons-bold-rounded !important;
                        }

                        div { flex: 1; }
                    }
                }
            }

            .cpc-more {
                margin-block-start: 1.5rem;
                font-size: min(0.9rem, 1.15vw);

                details > summary {
                    list-style: none;
                    cursor: pointer;

                    font-family: 'Mitr', sans-serif;
                    line-height: 1;
                    text-align: center;

                    &::marker, &::-webkit-details-marker { display: none; }
                }
            }

            &:not(:first-child) {
                margin-block-start: 1rem;

                .cpc-mmr-set {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: min(1rem, 1vw);
                    font-size: min(0.9rem, 1.15vw);

                    counter-reset: memories;

                    .cpc-date {
                        display: grid;
                        grid-template-columns: clamp(65px, calc(40.696px + 3.165vw), 85px) 1fr;
                        gap: min(1rem, 1vw);

                        &::before {
                            content: "";
                            aspect-ratio: 1;
                            border-radius: min(0.5rem, 0.5vw);
                            background: var(--cupid-pic) var(--cupid-pos)/var(--cupid-size) no-repeat;
                        }

                        .cpc-info {
                            counter-increment: memories;
                            align-content: center;
                            line-height: 1.6;
                            padding-block: 0.25rem;

                            &::before {
                                content: counter(memories, timed) " Time";
                                font-size: min(1.1rem, 1.35vw);
                                font-weight: bold;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    #cupidrole.cupid-set {
        width: 650px;
        max-width: calc(100% - 3rem);
        margin: auto;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 16px;
        color: var(--cupid-txt);

        .cpc-head {
            width: 100%;
            height: 70px;
            background: var(--cupid-txt);
            color: var(--cupid-bg);
            border-radius: 50px 20px 0 50px;
            padding: 0 2.5rem;
            margin-bottom: 1rem;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            div {
                font-family: 'Mitr', sans-serif;
                font-size: 25px;
            }

            &::after {
                content: "\e576";
                font-family: uicons-bold-rounded !important;
            }
        }

        .cpc-body {
            position: relative;
            width: 100%;
            background: var(--cupid-bg);
            border: 5px solid var(--cupid-txt);
            border-radius: 20px;
            padding: 3rem;

            ic[name="g"], ic[name="h"], ic[name="x"] {
                position: absolute;
                right: 0;
                transform: translateX(50%);
                z-index: 5;

                width: 40px;
                aspect-ratio: 1;
                background: var(--cupid-bg);
                border-radius: 50%;
                border: 5px solid var(--cupid-txt);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            ic[name="g"] {
                bottom: 7.5rem;
                
                &::before {
                    content: "\f015";
                    font-family: uicons-bold-rounded !important;
                    -webkit-text-stroke: 0.5px;
                }
            }

            ic[name="h"] {
                bottom: 4.5rem;
                
                &::before {
                    content: "\e9a1";
                    font-family: uicons-solid-rounded !important;
                }
            }

            ic[name="x"] {
                bottom: 1.5rem;
                
                &::before {
                    content: "\e576";
                    font-family: uicons-bold-rounded !important;
                    font-size: 12px;
                    -webkit-text-stroke: 1px;
                }
            }

            .cpc-top-set {
                position: relative;
                width: calc(100% + 6rem);
                aspect-ratio: 3;
                margin: -3rem -3rem 0;
                padding: 1rem;
                color: var(--cupid-bg);

                display: flex;
                justify-content: space-between;

                ic[name="hh"], ic[name="st"] {
                    position: relative;
                    z-index: 5;
                }
                
                ic[name="hh"]::before {
                    content: "\e9d5";
                    font-family: uicons-solid-rounded !important;
                }

                ic[name="st"]::before {
                    content: "\f03d";
                    font-family: uicons-solid-rounded !important;
                }

                .cpc-banner {
                    position: absolute;
                    inset: 0;
                    border-radius: 14px 14px 0 0;
                    overflow: clip;

                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        transform: scale(1.05);
                        will-change: transform;
                        
                        background: linear-gradient(rgba(0,0,0,0.2) 0 0), var(--cupid-bnpic) var(--cupid-bnpos)/var(--cupid-bnsize) no-repeat;
                        filter: blur(2px);
                    }
                }

                .cpc-song {
                    position: absolute;
                    top: 50%;
                    right: 3rem;
                    transform: translateY(-50%);
                    
                    width: 200px;
                    background: url(https://iili.io/KS4Xmhb.png) center calc(100% - 0.5rem)/100% no-repeat;
                    padding-inline: 0.15rem 1rem;
                    padding-block-end: 3rem;

                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    
                    font-family: 'Mitr', sans-serif;
                    font-size: 10px;
                    font-weight: 200;
                    line-height: 1.25;
                    text-align: start;

                    b {
                        font-size: 13px;
                        font-weight: normal;
                    }
                }

                .cpc-pic {
                    position: absolute;
                    bottom: 0;
                    left: 3rem;
                    transform: translateY(50%);
                    
                    width: clamp(160px, 12vw, 180px);
                    aspect-ratio: 1;
                    background: var(--cupid-pic) var(--cupid-pos)/var(--cupid-size) no-repeat;
                    border-radius: 50%;
                    border: 5px solid var(--cupid-txt);
                }

                .cpc-quote {
                    position: absolute;
                    bottom: -1rem;
                    right: 3rem;
                    left: calc(3rem + clamp(160px, 12vw, 180px) + 1.5rem);
                    transform: translateY(100%);
                    
                    min-height: calc(calc(clamp(160px, 12vw, 180px) / 2) - 1rem);
                    padding-bottom: 1rem;
                    
                    font-family: 'Mitr', sans-serif;
                    line-height: 1.2;
                    color: var(--cupid-txt);
                    
                    display: flex;
                    align-items: center;
                }
            }

            .cpc-role {
                margin-block: calc(calc(clamp(160px, 12vw, 180px) / 2) + 1.5rem) 0;
                text-align: justify;
            }
        }

        .cpc-ps {
            min-height: 70px;
            background: var(--cupid-txt);
            color: var(--cupid-bg);
            margin-top: 1rem;
            padding: 0 calc(1.25rem + 5px);
            border-radius: 20px;
            
            display: flex;
            align-items: center;
            column-gap: 0.75rem;

            &::before {
                content: "\e463";
                font-family: uicons-solid-rounded !important;
            }

            &::after {
                content: "\ed69";
                font-family: uicons-bold-rounded !important;
            }

            div { flex: 1; }
        }
    }

    #cupidgram.cupid-set {
        width: 520px;
        max-width: calc(100% - 3rem);
        margin: auto;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 16px;
        color: var(--cupid-txt);

        .cpc-head {
            width: 100%;
            height: 70px;
            background: var(--cupid-txt);
            color: var(--cupid-bg);
            border-radius: 50px 20px 0 50px;
            padding: 0 2.5rem;
            margin-bottom: 1rem;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            a {
                font-family: 'Mitr', sans-serif;
                font-size: 25px;
                color: var(--cupid-bg) !important;
            }

            &::after {
                content: "\e576";
                font-family: uicons-bold-rounded !important;
            }
        }

        .cpc-body {
            position: relative;
            width: 100%;
            background: var(--cupid-bg);
            border: 5px solid var(--cupid-txt);
            border-radius: 20px;
            padding: 3rem;

            ic[name="l"], ic[name="r"], ic[name="h"], ic[name="x"] {
                position: absolute;
                z-index: 5;
                width: 40px;
                aspect-ratio: 1;
                background: var(--cupid-bg);
                border-radius: 50%;
                border: 5px solid var(--cupid-txt);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            ic[name="l"] {
                top: 50%;
                left: 0;
                transform: translate(calc(-50% - 2.5px), -50%);

                &::before {
                    content: "\eb1a";
                    font-family: uicons-solid-rounded !important;
                }
            }

            ic[name="r"] {
                top: 50%;
                right: 0;
                transform: translate(calc(50% + 2.5px), -50%);

                &::before {
                    content: "\ef7c";
                    font-family: uicons-solid-rounded !important;
                }
            }

            ic[name="h"] {
                bottom: 0;
                right: 6rem;
                transform: translate(0, calc(50% + 2.5px));

                &::before {
                    content: "\e9a1";
                    font-family: uicons-solid-rounded !important;
                }
            }

            ic[name="x"] {
                bottom: 0;
                right: 2.75rem;
                transform: translate(0, calc(50% + 2.5px));

                &::before {
                    content: "\e576";
                    font-family: uicons-bold-rounded !important;
                    font-size: 12px;
                    -webkit-text-stroke: 2px;
                }
            }

            .cpc-nav {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &::before {
                    content: "\e9d5";
                    font-family: uicons-solid-rounded !important;
                }

                &::after {
                    content: "\f03d";
                    font-family: uicons-solid-rounded !important;
                }
            }

            .cpc-img {
                position: relative;
                width: 100%;
                aspect-ratio: 1;
                background: var(--cupid-pic) var(--cupid-pos)/var(--cupid-size) no-repeat;
                border-radius: 1rem;
                margin-top: 1.5rem;

                &::before {
                    content: "\ee7f";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(50%, -50%);

                    width: 1.5rem;
                    aspect-ratio: 3 / 5;
                    background: var(--cupid-primary);
                    color: var(--cupid-bg);
                    border-radius: 0.5rem;

                    font-family: uicons-bold-rounded !important;
                    -webkit-text-stroke: 0.02vw;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                p {
                    position: absolute;
                    bottom: -0.25rem;
                    left: 50%;
                    transform: translate(-50%, 100%);
                    
                    width: 100%;
                    padding-inline-start: 0.15rem;
                    margin: 0;
                    
                    letter-spacing: 0.15rem;
                    line-height: 1;
                    text-align: center;

                    &::before { 
                        content: "●";
                        color: var(--cupid-primary);
                    }

                    &::after { content: "●●●"; }
                }
            }

            .cpc-icon {
                display: flex;
                margin-block: 1.65rem 1rem;
                font-size: 1.25rem;

                .cpc-icon-1 { 
                    letter-spacing: 0.5rem;
                    
                    &::before {
                        content: "\e9a1";
                        font-family: uicons-solid-rounded !important;
                        color: var(--cupid-primary);
                    }

                    &::after {
                        content: "\e4e5\ed67";
                        font-family: uicons-bold-rounded !important;
                    }
                }

                .cpc-icon-2 {
                    margin-left: auto;

                    &::before {
                        content: "\e239";
                        font-family: uicons-solid-rounded !important;
                    }
                }
            }

            .cpc-post {
                color: gray;
                b { color: var(--cupid-txt); }
            }

            details.cpc-comment {
                margin-block-start: 1rem;
            
                &>summary {
                    list-style: none;
                    cursor: pointer;

                    background: var(--cupid-txt);
                    border-radius: 0.25rem;
                    padding: 0.75rem;

                    font-family: 'Mitr', sans-serif;
                    line-height: 1.2;
                    color: var(--cupid-bg);

                    display: flex;
                    align-items: center;
                    column-gap: 0.75rem;

                    &::marker, &::-webkit-details-marker { display: none; }

                    &::before {
                        content: "\e463";
                        font-family: uicons-solid-rounded !important;
                    }

                    &::after {
                        content: "\ed69";
                        font-family: uicons-bold-rounded !important;
                    }

                    div { flex: 1; }
                }

                .cpc-role {
                    padding-top: 1rem;
                    text-align: justify;
                }
            }
        }
    }
}