[u1="Andy"] {
    --u1-pic: url(https://cdn.imgchest.com/files/b49fe5d20f9b.png);
    --u1-name: "Andy";
}

[u1="Augustine"] {
    --u1-pic: url(https://cdn.imgchest.com/files/a64223cb811c.png);
    --u1-name: "Augustine";
}

[u1="Baylor"] {
    --u1-pic: url(https://cdn.imgchest.com/files/d359906cbd4b.png);
    --u1-name: "Baylor";
}

[u1="Bex"] {
    --u1-pic: url(https://i.postimg.cc/ZR83PCdV/Untitled-2.png);
    --u1-name: "Bex";
}

[u1="Caspian"] {
    --u1-pic: url(https://cdn.imgchest.com/files/c6b61546510a.png);
    --u1-name: "Caspian";
}

[u1="Cedric"] {
    --u1-pic: url(https://cdn.imgchest.com/files/2d1b28d1c08f.png);
    --u1-name: "Cedric";
}

[u1="Celine"] {
    --u1-pic: url(https://cdn.imgchest.com/files/ca26a9833344.png);
    --u1-name: "Celine";
}

[u1="Chloe"] {
    --u1-pic: url(https://cdn.imgchest.com/files/74e4245b2b04.png);
    --u1-name: "Chloe";
}

[u1="Courtney"] {
    --u1-pic: url(https://cdn.imgchest.com/files/17e4f943a7f6.png);
    --u1-name: "Courtney";
}

[u1="Davey"] {
    --u1-pic: url(https://cdn.imgchest.com/files/f501ac3aeab9.png);
    --u1-name: "Davey";
}

[u1="Dexter"] {
    --u1-pic: url(https://cdn.imgchest.com/files/7eaa2c03f85a.png);
    --u1-name: "Dexter";
}

[u1="Ezra"] {
    --u1-pic: url(https://cdn.imgchest.com/files/85d399124611.png);
    --u1-name: "Ezra";
}

[u1="Hunter"] {
    --u1-pic: url(https://cdn.imgchest.com/files/1ecff996d90c.png);
    --u1-name: "Hunter";
}

[u1="Jeremy"] {
    --u1-pic: url(https://cdn.imgchest.com/files/73d597eb2671.png);
    --u1-name: "Jeremy";
}

[u1="Kalya"] {
    --u1-pic: url(https://cdn.imgchest.com/files/82b63ccaa5e1.png);
    --u1-name: "Kalya";
}

[u1="Keith"] {
    --u1-pic: url(https://cdn.imgchest.com/files/deb9b5cb4ab3.png);
    --u1-name: "Keith";
}

[u1="Leo"] {
    --u1-pic: url(https://cdn.imgchest.com/files/07376fae5406.png);
    --u1-name: "Leo";
}

[u1="Lily"] {
    --u1-pic: url(https://cdn.imgchest.com/files/3113ff271b30.png);
    --u1-name: "Lily";
}

[u1="Lincoln"] {
    --u1-pic: url(https://cdn.imgchest.com/files/2bd959c2526e.png);
    --u1-name: "Lincoln";
}

[u1="Lunette"] {
    --u1-pic: url(https://cdn.imgchest.com/files/91e3ab352e01.png);
    --u1-name: "Lunette";
}

[u1="Marcelo"] {
    --u1-pic: url(https://cdn.imgchest.com/files/66cc35fbb2f0.png);
    --u1-name: "Marcelo";
}

[u1="Matteo"] {
    --u1-pic: url(https://cdn.imgchest.com/files/fc6fe39aee81.png);
    --u1-name: "Matteo";
}

[u1="Matthias"] {
    --u1-pic: url(https://cdn.imgchest.com/files/ab5e431ebe72.png);
    --u1-name: "Matthias";
}

[u1="Maverick"] {
    --u1-pic: url(https://cdn.imgchest.com/files/2ca17fb67028.png);
    --u1-name: "Maverick";
}

[u1="Monterey"] {
    --u1-pic: url(https://cdn.imgchest.com/files/683e46933f1c.png);
    --u1-name: "Monterey";
}

[u1="Odette"] {
    --u1-pic: url(https://cdn.imgchest.com/files/b697e7a5cc2a.png);
    --u1-name: "Odette";
}

[u1="Oliver"] {
    --u1-pic: url(https://cdn.imgchest.com/files/fad248435afa.png);
    --u1-name: "Oliver";
}

[u1="Peyton"] {
    --u1-pic: url(https://cdn.imgchest.com/files/c5c932c7e896.png);
    --u1-name: "Peyton";    
}

[u1="Raffa"] {
    --u1-pic: url(https://cdn.imgchest.com/files/ecfe90e94bb7.png);
    --u1-name: "Raffa";
}

[u1="Sarah"] {
    --u1-pic: url(https://cdn.imgchest.com/files/e0f8066b52d5.png);
    --u1-name: "Sarah";
}

[u1="Summer"] {
    --u1-pic: url(https://cdn.imgchest.com/files/955912816ec7.png);
    --u1-name: "Summer";
}

[u1="Ted"] {
    --u1-pic: url(https://cdn.imgchest.com/files/7a80cb58f724.png);
    --u1-name: "Ted";
}

[u1="Theo"] {
    --u1-pic: url(https://cdn.imgchest.com/files/41874a5b17ba.png);
    --u1-name: "Theo";
}

[u1="Vivienne"] {
    --u1-pic: url(https://cdn.imgchest.com/files/48c910ce110a.png);
    --u1-name: "Vivienne";
}

[u1="Welt"] {
    --u1-pic: url(https://cdn.imgchest.com/files/8598cacad26a.png);
    --u1-name: "Welt";
}

[u1="Zayd"] {
    --u1-pic: url(https://cdn.imgchest.com/files/ca59bc7ab63b.png);
    --u1-name: "Zayd";
}

[u1="Zenyn"] {
    --u1-pic: url(https://cdn.imgchest.com/files/81fd27864e16.png);
    --u1-name: "Zenyn";
}

[u2="Andy"] {
    --u2-pic: url(https://cdn.imgchest.com/files/b49fe5d20f9b.png);
    --u2-name: "Andy";
}

[u2="Augustine"] {
    --u2-pic: url(https://cdn.imgchest.com/files/a64223cb811c.png);
    --u2-name: "Augustine";
}

[u2="Baylor"] {
    --u2-pic: url(https://cdn.imgchest.com/files/d359906cbd4b.png);
    --u2-name: "Baylor";
}

[u2="Bex"] {
    --u2-pic: url(https://i.postimg.cc/ZR83PCdV/Untitled-2.png);
    --u2-name: "Bex";
}

[u2="Caspian"] {
    --u2-pic: url(https://cdn.imgchest.com/files/c6b61546510a.png);
    --u2-name: "Caspian";
}

[u2="Cedric"] {
    --u2-pic: url(https://cdn.imgchest.com/files/2d1b28d1c08f.png);
    --u2-name: "Cedric";
}

[u2="Celine"] {
    --u2-pic: url(https://cdn.imgchest.com/files/ca26a9833344.png);
    --u2-name: "Celine";
}

[u2="Chloe"] {
    --u2-pic: url(https://cdn.imgchest.com/files/74e4245b2b04.png);
    --u2-name: "Chloe";
}

[u2="Courtney"] {
    --u2-pic: url(https://cdn.imgchest.com/files/17e4f943a7f6.png);
    --u2-name: "Courtney";
}

[u2="Davey"] {
    --u2-pic: url(https://cdn.imgchest.com/files/f501ac3aeab9.png);
    --u2-name: "Davey";
}

[u2="Dexter"] {
    --u2-pic: url(https://cdn.imgchest.com/files/7eaa2c03f85a.png);
    --u2-name: "Dexter";
}

[u2="Ezra"] {
    --u2-pic: url(https://cdn.imgchest.com/files/85d399124611.png);
    --u2-name: "Ezra";
}

[u2="Hunter"] {
    --u2-pic: url(https://cdn.imgchest.com/files/1ecff996d90c.png);
    --u2-name: "Hunter";
}

[u2="Jeremy"] {
    --u2-pic: url(https://cdn.imgchest.com/files/73d597eb2671.png);
    --u2-name: "Jeremy";
}

[u2="Kalya"] {
    --u2-pic: url(https://cdn.imgchest.com/files/82b63ccaa5e1.png);
    --u2-name: "Kalya";
}

[u2="Keith"] {
    --u2-pic: url(https://cdn.imgchest.com/files/deb9b5cb4ab3.png);
    --u2-name: "Keith";
}

[u2="Leo"] {
    --u2-pic: url(https://cdn.imgchest.com/files/07376fae5406.png);
    --u2-name: "Leo";
}

[u2="Lily"] {
    --u2-pic: url(https://cdn.imgchest.com/files/3113ff271b30.png);
    --u2-name: "Lily";
}

[u2="Lincoln"] {
    --u2-pic: url(https://cdn.imgchest.com/files/2bd959c2526e.png);
    --u2-name: "Lincoln";
}

[u2="Lunette"] {
    --u2-pic: url(https://cdn.imgchest.com/files/91e3ab352e01.png);
    --u2-name: "Lunette";
}

[u2="Marcelo"] {
    --u2-pic: url(https://cdn.imgchest.com/files/66cc35fbb2f0.png);
    --u2-name: "Marcelo";
}

[u2="Matteo"] {
    --u2-pic: url(https://cdn.imgchest.com/files/fc6fe39aee81.png);
    --u2-name: "Matteo";
}

[u2="Matthias"] {
    --u2-pic: url(https://cdn.imgchest.com/files/ab5e431ebe72.png);
    --u2-name: "Matthias";
}

[u2="Maverick"] {
    --u2-pic: url(https://cdn.imgchest.com/files/2ca17fb67028.png);
    --u2-name: "Maverick";
}

[u2="Monterey"] {
    --u2-pic: url(https://cdn.imgchest.com/files/683e46933f1c.png);
    --u2-name: "Monterey";
}

[u2="Odette"] {
    --u2-pic: url(https://cdn.imgchest.com/files/b697e7a5cc2a.png);
    --u2-name: "Odette";
}

[u2="Oliver"] {
    --u2-pic: url(https://cdn.imgchest.com/files/fad248435afa.png);
    --u2-name: "Oliver";
}

[u2="Peyton"] {
    --u2-pic: url(https://cdn.imgchest.com/files/c5c932c7e896.png);
    --u2-name: "Peyton";    
}

[u2="Raffa"] {
    --u2-pic: url(https://cdn.imgchest.com/files/ecfe90e94bb7.png);
    --u2-name: "Raffa";
}

[u2="Sarah"] {
    --u2-pic: url(https://cdn.imgchest.com/files/e0f8066b52d5.png);
    --u2-name: "Sarah";
}

[u2="Summer"] {
    --u2-pic: url(https://cdn.imgchest.com/files/955912816ec7.png);
    --u2-name: "Summer";
}

[u2="Ted"] {
    --u2-pic: url(https://cdn.imgchest.com/files/7a80cb58f724.png);
    --u2-name: "Ted";
}

[u2="Theo"] {
    --u2-pic: url(https://cdn.imgchest.com/files/41874a5b17ba.png);
    --u2-name: "Theo";
}

[u2="Vivienne"] {
    --u2-pic: url(https://cdn.imgchest.com/files/48c910ce110a.png);
    --u2-name: "Vivienne";
}

[u2="Welt"] {
    --u2-pic: url(https://cdn.imgchest.com/files/8598cacad26a.png);
    --u2-name: "Welt";
}

[u2="Zayd"] {
    --u2-pic: url(https://cdn.imgchest.com/files/ca59bc7ab63b.png);
    --u2-name: "Zayd";
}

[u2="Zenyn"] {
    --u2-pic: url(https://cdn.imgchest.com/files/81fd27864e16.png);
    --u2-name: "Zenyn";
}