@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

:root {
    --cupid-txt: #000;
    --cupid-bg: #fff;
    --cupid-primary: #d71920;

    --cupid-pic: gray;
    --cupid-pos: center;
    --cupid-size: cover;

    --cupid-bnpic: gray;
    --cupid-bnpos: center;
    --cupid-bnsize: cover;
}

#CupidCall2 { position: relative; }
#CupidCall2 * { box-sizing: border-box; }

#CupidCall2 a[href="https://discord.com/users/625292873914515456/"] {
    height: 12px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
}

#CupidCall2 a[href="https://discord.com/users/625292873914515456/"] ~ div:first-child { position: relative; }
  
#CupidCall2::after {
    content: "♡";

    width: 100%;
    height: 13px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Georgia', serif;
    font-size: 13px;
    line-height: 1;
    color: gray !important;
}
  
#CupidCall2:hover::after {
    content: "CupidCall";
    font-style: italic;
    font-size: 10px;
}

#CupidCall2 {
    .cpc-head::after, ic[name="l"]::before, ic[name="r"]::before, ic[name="h"]::before, ic[name="x"]::before, .cpc-nav::before, .cpc-nav::after, .cpc-search::before, .cpc-pk-title::before, .cpc-pk-title::after, .cpc-mmr::before, .cpc-banner::before, .cpc-banner::after, .cpc-pic>a::before, .cpc-photo::before, .cpc-icon-1::before, .cpc-icon-1::after, .cpc-icon-2::before, .cpc-comment::before, .cpc-comment::after {
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    @counter-style timed {
        symbols: "First" "Second" "Third" "Fourth" "Fifth" "Sixth" "Seventh" "Eighth" "Ninth" "Tenth" "Eleventh" "Twelfth" "Thirteenth" "Fourteenth" "Fifteenth" "Sixteenth" "Seventeenth" "Eighteenth" "Nineteenth" "Twentieth";
    }

    #cupidthread.cupid-set {
        width: 800px;
        max-width: calc(100% - 3rem);
        margin: auto;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 16px;
        color: var(--cupid-txt);

        .cpc-head {
            width: 100%;
            height: 70px;
            background: var(--cupid-txt);
            color: var(--cupid-bg);
            border-radius: 50px 20px 0 50px;
            padding: 0 2.5rem;
            margin-bottom: 1rem;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            &::before {
                content: "CupidCall.rp.th";
                font-family: 'Mitr', sans-serif;
                font-size: 25px;
            }

            &::after {
                content: "\e576";
                font-family: uicons-bold-rounded !important;
            }
        }

        .cpc-body {
            position: relative;
            width: 100%;
            background: var(--cupid-bg);
            border: 5px solid var(--cupid-txt);
            border-radius: 20px;
            padding: 3rem;

            ic[name="l"], ic[name="r"], ic[name="h"], ic[name="x"] {
                position: absolute;
                width: 40px;
                aspect-ratio: 1;
                background: var(--cupid-bg);
                border-radius: 50%;
                border: 5px solid var(--cupid-txt);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            ic[name="l"] {
                top: 50%;
                left: 0;
                transform: translate(calc(-50% - 2.5px), -50%);

                &::before {
                    content: "\eb1a";
                    font-family: uicons-solid-rounded !important;
                }
            }

            ic[name="r"] {
                top: 50%;
                right: 0;
                transform: translate(calc(50% + 2.5px), -50%);

                &::before {
                    content: "\ef7c";
                    font-family: uicons-solid-rounded !important;
                }
            }

            ic[name="h"] {
                bottom: 0;
                right: 6rem;
                transform: translate(0, calc(50% + 2.5px));

                &::before {
                    content: "\e9a1";
                    font-family: uicons-solid-rounded !important;
                }
            }

            ic[name="x"] {
                bottom: 0;
                right: 2.75rem;
                transform: translate(0, calc(50% + 2.5px));

                &::before {
                    content: "\e576";
                    font-family: uicons-bold-rounded !important;
                    font-size: 12px;
                    -webkit-text-stroke: 2px #000;
                }
            }

            .cpc-nav {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &::before {
                    content: "\e9d5";
                    font-family: uicons-solid-rounded !important;
                }

                &::after {
                    content: "\f03d";
                    font-family: uicons-solid-rounded !important;
                }
            }

            .cpc-search {
                width: fit-content;
                background: var(--cupid-primary);
                border-radius: 20px;
                margin: -10% auto 0;
                padding: 5px 10px;
                color: var(--cupid-bg);

                font-family: 'Mitr', sans-serif;
                font-weight: 300;
                line-height: normal;
                
                display: flex;
                align-items: center;
                column-gap: 0.75rem;

                &::before {
                    content: "\f015";
                    font-family: uicons-bold-rounded !important;
                }
            }

            .cpc-text { margin-block: 2rem; }

            .cpc-divide {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 0.5rem;
                width: 100%;
                margin-block: 2rem;
                font-size: 1.5rem;

                .fi-sr-heart { color: var(--cupid-primary); }
            }

            .cpc-package {
                position: relative;
                width: 100%;
                border-radius: 20px;
                border: 5px solid var(--cupid-primary);
                padding: 2rem;
                margin-block-start: 3rem;

                .cpc-pk-title {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, calc(-50% - 2.5px));

                    width: fit-content;
                    min-width: 300px;
                    border-radius: 30px;
                    background: var(--cupid-primary);
                    color: var(--cupid-bg);
                    padding: 2px 1rem 4px;

                    font-family: 'Mitr', sans-serif;
                    font-size: 1.2rem;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &::before, &::after {
                        content: "\ee7f";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        
                        width: 30px;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        background: var(--cupid-primary);
                        color: var(--cupid-bg);
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        font-family: uicons-bold-rounded !important;
                        font-size: 1rem;
                    }

                    &::before { left: max(-5vw, -5rem); }
                    &::after { right: max(-5vw, -5rem); }
                }

                p {
                    margin-block-end: 0.5rem;
                    color: var(--cupid-primary);
                    font-family: 'Mitr', sans-serif;
                    font-size: 1.1rem;
                    font-weight: 500;
                    text-align: center;
                }

                hr {
                    max-width: 80%;
                    border-top: 1px dashed var(--cupid-primary);
                    background: transparent;
                    margin: 1rem auto;
                }

                .cpc-hf {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-block-start: 1rem;
                    gap: 1rem;

                    .cpc-hf-1 {
                        flex: 1;
                        min-width: 300px;
                        padding: 1rem;
                        border: 1px dashed var(--cupid-primary);
                        border-radius: 20px;

                        p { margin-block-start: 0; }
                    }
                }
            }

            h1 {
                & +br { display: none; }
                width: fit-content;
                margin-block: 2rem 1rem;
                margin-inline: auto;
                padding: 2px 1rem 4px;
                border-radius: 2rem;
                background: var(--cupid-primary);
                color: var(--cupid-bg);

                text-align: center;
                font-family: 'Mitr', sans-serif;
                font-size: 1.2rem;
                font-weight: normal;
                
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    #cupidprofile.cupid-set {
        width: 800px;
        max-width: calc(100% - 3rem);
        margin: auto;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 16px;
        color: var(--cupid-txt);

        .cpc-head {
            width: 100%;
            height: 70px;
            background: var(--cupid-txt);
            color: var(--cupid-bg);
            border-radius: 50px 20px 0 50px;
            padding: 0 2.5rem;
            margin-bottom: 1rem;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            &::before {
                content: "CupidCall.rp.th";
                font-family: 'Mitr', sans-serif;
                font-size: 25px;
            }

            &::after {
                content: "\e576";
                font-family: uicons-bold-rounded !important;
            }
        }

        .cpc-body {
            position: relative;
            width: 100%;
            background: var(--cupid-bg);
            border: 5px solid var(--cupid-txt);
            border-radius: 20px;
            padding: 3rem;

            ic[name="l"], ic[name="r"], ic[name="h"], ic[name="x"] {
                position: absolute;
                z-index: 5;
                width: 40px;
                aspect-ratio: 1;
                background: var(--cupid-bg);
                border-radius: 50%;
                border: 5px solid var(--cupid-txt);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            ic[name="l"] {
                top: 50%;
                left: 0;
                transform: translate(calc(-50% - 2.5px), -50%);

                &::before {
                    content: "\eb1a";
                    font-family: uicons-solid-rounded !important;
                }
            }

            ic[name="r"] {
                top: 50%;
                right: 0;
                transform: translate(calc(50% + 2.5px), -50%);

                &::before {
                    content: "\ef7c";
                    font-family: uicons-solid-rounded !important;
                }
            }

            ic[name="h"] {
                bottom: -0.5rem;
                right: 6rem;
                transform: translate(0, calc(50% + 2.5px));

                &::before {
                    content: "\e9a1";
                    font-family: uicons-solid-rounded !important;
                }
            }

            ic[name="x"] {
                bottom: -0.5rem;
                right: 2.75rem;
                transform: translate(0, calc(50% + 2.5px));

                &::before {
                    content: "\e576";
                    font-family: uicons-bold-rounded !important;
                    font-size: 12px;
                    -webkit-text-stroke: 2px #000;
                }
            }

            .cpc-mmr {
                position: absolute;
                bottom: -0.5rem;
                left: 2.75rem;
                transform: translate(0, calc(50% + 2.5px));
                z-index: 5;
                
                height: 40px;
                background: var(--cupid-txt);
                color: var(--cupid-bg);
                padding: 0 1rem;
                border-radius: 0.5rem;
                
                font-family: 'Mitr', sans-serif;
                
                display: flex;
                align-items: center;
                column-gap: 0.75rem;

                &::before {
                    content: "\e31a";
                    font-family: uicons-bold-rounded !important;
                }

                &::after {
                    content: "Cupid memories";
                    padding-block: 0.2rem 0;
                }
            }

            .cpc-banner {
                position: relative;
                width: calc(100% + 6rem);
                aspect-ratio: 3.75;
                border-radius: 15px 15px 0 0;
                background: var(--cupid-bnpic) var(--cupid-bnpos)/var(--cupid-bnsize) no-repeat;
                margin: -3rem -3rem 0;
                padding: 1rem;
                color: var(--cupid-bg);
                
                display: flex;
                justify-content: space-between;

                &::before {
                    content: "\e9d5";
                    font-family: uicons-solid-rounded !important;
                }

                &::after {
                    content: "\f03d";
                    font-family: uicons-solid-rounded !important;
                }

                .cpc-pic {
                    position: absolute;
                    bottom: 0;
                    left: 3rem;
                    transform: translateY(50%);
                    width: clamp(160px, 12vw, 180px);
                    aspect-ratio: 1;
                    background: var(--cupid-pic) var(--cupid-pos)/var(--cupid-size) no-repeat;
                    border-radius: 50%;
                    border: 5px solid var(--cupid-txt);

                    a {
                        position: absolute;
                        right: 3%;
                        bottom: 3%;
                        
                        width: clamp(30px, 2vw, 33.75px);
                        aspect-ratio: 1;
                        border-radius: 50%;
                        background: var(--cupid-primary);
                        color: var(--cupid-bg);
                        
                        font-family: uicons-bold-rounded !important;
                        font-size: clamp(1rem, 1vw, 1.125rem);
                        -webkit-text-stroke: 0.5px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &::before {
                            content: "\ee7f";
                        }
                    }
                }
            }

            .cpc-info-name {
                width: calc(100% - clamp(160px, 12vw, 180px) - 1.5rem);
                margin-block: 1rem 1.5rem;
                margin-left: auto;
                
                font-family: 'Mitr', sans-serif;
                font-size: clamp(0.7rem, 0.7vw, 0.8rem);
                line-height: 1;
                
                display: grid;
                grid-template-columns: 1fr fit-content(clamp(85px, 7vw, 125px));
                grid-row-gap: 0.5rem;

                .cpc-font-l { font-size: clamp(1rem, 1.2vw, 1.2rem); }

                .cpc-search {
                    grid-column: 1/3;
                    margin-inline: -10px;
                    background: var(--cupid-primary);
                    border-radius: 50px;
                    padding: 5px 10px;
                    color: var(--cupid-bg);
                    font-weight: 300;
                    
                    display: flex;
                    align-items: center;
                    column-gap: 0.75rem;

                    &::before {
                        content: "\f015";
                        font-family: uicons-bold-rounded !important;
                    }

                    div::before { content: "Looking for... "; }
                }

                .cpc-gender {
                    grid-column: 1/3;
                    font-weight: 300;

                    b { font-weight: normal; }
                    c { color: var(--cupid-primary); }
                }
            }

            .cpc-info-set {
                display: flex;
                column-gap: 1.5rem;

                .cpc-info-left {
                    flex: 3;
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.75rem;
                    font-size: min(0.9rem, 1vw);

                    .cpc-quote {
                        border-block: 1px solid var(--cupid-txt);
                        padding-block: 0.5rem;
                        text-align: center;
                        font-family: 'Mitr', sans-serif;
                    }

                    .cpc-tags {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 0.5rem;
                        line-height: 1;
                        font-family: 'Mitr', sans-serif;
                        font-weight: 300;

                        p {
                            margin: 0;
                            border: 1px solid var(--cupid-txt);
                            border-radius: 0.25rem;
                            padding: 0.2rem 0.3rem;
                        }
                    }

                    .cpc-about {
                        height: clamp(190px, 18vw, 245px);
                        overflow: auto;
                        scrollbar-width: 0;
                        text-align: justify;
                    }

                    .cpc-gallery {
                        display: flex;
                        column-gap: 0.5rem;

                        .cpc-img {
                            flex: 1;
                            aspect-ratio: 1;
                            background: var(--cupid-pic) var(--cupid-pos)/var(--cupid-size) no-repeat;
                            border-radius: 0.5rem;
                        }
                    }
                }

                .cpc-info-right {
                    flex: 2;
                    background: var(--cupid-txt);
                    color: var(--cupid-bg);
                    border-radius: 0.5rem;
                    padding: 1rem;
                    
                    font-family: 'Mitr', sans-serif;
                    font-weight: 300;

                    .cpc-photo {
                        position: relative;
                        width: 100%;
                        aspect-ratio: 1;
                        background: red;
                        border-radius: 0.25rem;

                        &::before {
                            content: "\ee7f";
                            position: absolute;
                            top: 50%;
                            right: -1rem;
                            transform: translate(50%, -50%);
                            
                            width: 1rem;
                            aspect-ratio: 3/5;
                            background: var(--cupid-primary);
                            color: var(--cupid-bg);
                            border-radius: 0.25rem;

                            font-family: uicons-bold-rounded !important;
                            font-size: 0.65rem;
                            -webkit-text-stroke: 0.05vw;
                            
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        &::after {
                            content: "••••";
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translate(-50%, 100%);
                            
                            width: 100%;
                            padding-inline-start: 0.25rem;

                            font-size: 1.2rem;
                            letter-spacing: 0.25rem;
                            line-height: 1;
                            text-align: center;
                        }
                    }

                    .cpc-icon {
                        display: flex;
                        margin-block: 1.2rem 0.75rem;
                        font-size: min(1rem, 1vw);

                        .cpc-icon-1 { 
                            letter-spacing: min(0.4rem, 0.4vw);
                            
                            &::before {
                                content: "\e9a1";
                                font-family: uicons-solid-rounded !important;
                                color: var(--cupid-primary);
                            }

                            &::after {
                                content: "\e4e5\ed67";
                                font-family: uicons-bold-rounded !important;
                            }
                        }

                        .cpc-icon-2 {
                            margin-left: auto;

                            &::before {
                                content: "\e239";
                                font-family: uicons-solid-rounded !important;
                            }
                        }
                    }

                    .cpc-post {
                        font-size: min(0.8rem, 1vw);
                        b { font-weight: 500; }
                    }

                    .cpc-comment {
                        margin-block-start: 0.75rem;
                        background: hsl(from var(--cupid-txt) h s calc(l + 15));
                        border-radius: 0.25rem;
                        padding: 5px 10px;

                        font-size: min(0.8rem, 1vw);
                        line-height: 1.2;
                        
                        display: flex;
                        align-items: center;
                        column-gap: 0.75rem;

                        &::before {
                            content: "\e463";
                            font-family: uicons-solid-rounded !important;
                        }

                        &::after {
                            content: "\ed69";
                            font-family: uicons-bold-rounded !important;
                        }

                        div { flex: 1; }
                    }
                }
            }

            &:not(:first-child) {
                margin-block-start: 1rem;

                .cpc-mmr-set {
                    display: grid;
                    grid-template: repeat(calc(var(--cpc-date) / 2), clamp(80px, 8vw, 100px)) / repeat(2, 1fr);
                    gap: min(0.75rem, 1vw);

                    counter-reset: memories;

                    .cpc-date {
                        display: grid;
                        grid-template-columns: clamp(80px, 8vw, 100px) 1fr;
                        gap: min(0.5rem, 0.75vw);

                        &::before {
                            content: "";
                            border-radius: 0.25rem;
                            background: var(--cupid-pic) var(--cupid-pos)/var(--cupid-size) no-repeat;
                        }

                        .cpc-info {
                            counter-increment: memories;

                            &::before {
                                content: counter(memories, timed) " Time";
                                font-weight: bold;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}